.movingObject{
  animation-name: moving;
  animation-iteration-count: 1000;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-fill-mode:forwards;

  background-image: url("../images/shadow.svg");
  background-position: bottom center;
  background-repeat: no-repeat;

  &--noShadow{
    background: transparent;
  }
}

@keyframes moving {
  0% {
      padding-top: 10px;
      padding-bottom: 0px;
      background-size: 100%;
  }

  50% {
      padding-top: 0px;
      padding-bottom: 10px;
      background-size: 50%;
  }

  100% {
      padding-top: 10px;
      padding-bottom: 0px;
      background-size: 100%;
  }
}
