@import "basic";


.bg
{
  &-body
  {
    background-image: url(/_assets/images/image23.png)!important;
    background-position: 150% -17%!important;
    background-repeat: no-repeat!important;
    background-size: 65% auto!important;

    @media(min-width:1799px){
      background-position: 150% -27%!important;
      background-size: 60% auto!important;
    }

    @media(max-width:1199px){
      background-position: 163% -5%!important;
      background-size: 65% auto!important;
    }
      
    @media(max-width:991px){

    }

    @media(max-width:767px){

    }
  }
  &-red
  {
    background: #E30427;
  }

  &-no-image{
    background:#252532;
    padding: 200px 0;

    @media(max-width:1214px)
    {
      padding: 50px 0;
    }

    @media(max-width:767px)
    {
      padding: 0;
    }
  }
  &-contact
  {
    //background: url("../images/contact-header.png") left bottom no-repeat;
    background-size:  auto 100%;
    min-height: 500px;
    position: relative;

    @media(max-width:1023px)
    {
      background-position: center bottom;
      background-size:  auto 60%;
      min-height: 600px;
    }

    @media(max-width:767px)
    {
      background-position: center bottom;
      background-size:  90% auto;
      min-height: 470px;
    }

    >div
    {
      position: relative;
      z-index: 10;
    }

    &:after
    {
      content: '';
      position: absolute;
      //background: url("../images/contact-header-bcg.svg") right top no-repeat;
      width: 672px;
      height: 452px;
      top: 0;
      right: 0;
      background-size: 100% 100%;

      @media(max-width:1199px)
      {
        width: 672*0.7px;
        height: 452*0.7px;
      }

      @media(max-width:1023px)
      {
        display: none;
      }
    }

    //@media(max-width:1199px)
    //{
    //  min-height: 345px;
    //}
    //
    //@media(max-width:991px)
    //{
    //  min-height: 255px;
    //}
    //
    //@media(max-width:767px)
    //{
    //  min-height: 0px;
    //  padding-bottom: 60px;
    //  background-position: bottom center;
    //}
  }

  &-hamb
  {
    width: 100%;
    height: 4px;
    background: black;
    margin-top: 6px;
  }

  &-image1
  {
    background: url("../images/image1.svg") right top -50px no-repeat;
    background-size: 45% auto;
    min-height: 600px;

    @media(max-width:1199px)
    {
      background-size: 60% auto;
      background-position: center right -50px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 55% auto;
      padding-bottom: 200px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      padding-bottom: 300px;
    }
  }

  &-image15
  {
    background: url("../images/image15.svg") right top no-repeat;
    background-size: 45% auto;
    min-height: 600px;

    @media(max-width:1199px)
    {
      background-size: 60% auto;
      background-position: center right -50px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 55% auto;
      padding-bottom: 200px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      padding-bottom: 300px;
    }
  }

  &-image9
  {
    background: url("../images/image9.svg") right top 0px no-repeat;
    background-size: 45% auto;
    min-height: 600px;

    @media(max-width:1199px)
    {
      background-size: 60% auto;
      background-position: center right -50px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 55% auto;
      padding-bottom: 200px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      padding-bottom: 300px;
    }
  }

  &-image10
  {
    background: url("../images/image10.svg") right top 0px no-repeat;
    background-size: 45% auto;
    min-height: 600px;

    @media(max-width:1199px)
    {
      background-size: 60% auto;
      background-position: center right -50px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 55% auto;
      padding-bottom: 200px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      padding-bottom: 300px;
    }
  }

  &-image11
  {
    background: url("../images/image11.svg") right top 0px no-repeat;
    background-size: 45% auto;
    min-height: 600px;

    @media(max-width:1199px)
    {
      background-size: 60% auto;
      background-position: center right -50px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 55% auto;
      padding-bottom: 200px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      padding-bottom: 300px;
    }
  }
  &-image13
  {
    background: url("../images/image13.svg") right top 0px no-repeat;
    background-size: 45% auto;
    min-height: 600px;

    @media(max-width:1199px)
    {
      background-size: 60% auto;
      background-position: center right -50px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 55% auto;
      padding-bottom: 200px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      padding-bottom: 300px;
    }
  }

  &-image4 {
    background: url("../images/single.svg") right center no-repeat;
    background-size: 45% auto;
    min-height: 700px;

    @media(max-width: 1199px)
    {
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 350px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 300px;
    }
  }

  &-image4 {
    background: url("../images/chester.svg") right center no-repeat;
    background-size: 45% auto;
    min-height: 701px;

    @media(max-width: 1199px)
    {
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 350px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 300px;
    }
  }

  &-image16 {
    background-image: url("../images/image16.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 45% auto;
    min-height: 701px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode:forwards;

    @media(min-width: 2300px)
    {
      min-height: 950px;
    }

    @media(min-width: 2100px)
    {
      min-height: 850px;
    }

    @media(min-width: 1800px)
    {
      min-height: 770px;
    }

    @media(max-width: 1367px)
    {
      min-height: 600px;
    }

    @media(max-width: 1199px)
    {
      min-height: 470px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 270px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 230px;
    }
  }

  &-image17 {
    background-image: url("../images/image17.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 45% auto;
    min-height: 701px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode:forwards;

    @media(min-width: 2300px)
    {
      min-height: 950px;
    }

    @media(min-width: 2100px)
    {
      min-height: 850px;
    }

    @media(min-width: 1800px)
    {
      min-height: 770px;
    }

    @media(max-width: 1367px)
    {
      min-height: 600px;
    }

    @media(max-width: 1199px)
    {
      min-height: 470px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 270px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 230px;
    }
  }

  &-image18 {
    background-image: url("../images/image18.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 42.5% auto;
    min-height: 701px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode:forwards;

    @media(min-width: 2300px)
    {
      min-height: 950px;
    }

    @media(min-width: 2100px)
    {
      min-height: 850px;
    }

    @media(min-width: 1800px)
    {
      min-height: 770px;
    }

    @media(max-width: 1367px)
    {
      min-height: 600px;
    }

    @media(max-width: 1199px)
    {
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 350px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 230px;
    }
  }

  &-image19 {
    background-image: url("../images/image19.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 40% auto;
    min-height: 701px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode:forwards;

    @media(min-width: 2300px)
    {
      min-height: 950px;
    }

    @media(min-width: 2100px)
    {
      min-height: 850px;
    }

    @media(min-width: 1800px)
    {
      min-height: 770px;
    }

    @media(max-width: 1367px)
    {
      min-height: 600px;
    }

    @media(max-width: 1199px)
    {
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 350px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 230px;
    }
  }
  &-image20 {
    background-image: url("../images/image20.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 40% auto;
    min-height: 701px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode:forwards;

    @media(min-width: 2300px)
    {
      min-height: 950px;
    }

    @media(min-width: 2100px)
    {
      min-height: 850px;
    }

    @media(min-width: 1800px)
    {
      min-height: 770px;
    }

    @media(max-width: 1367px)
    {
      min-height: 600px;
    }

    @media(max-width: 1199px)
    {
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 350px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 230px;
    }
  }



  &-image21 {
    background-image: url("../images/image21.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 40% auto;
    min-height: 701px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode:forwards;

    @media(min-width: 2300px)
    {
      min-height: 950px;
    }

    @media(min-width: 2100px)
    {
      min-height: 850px;
    }

    @media(min-width: 1800px)
    {
      min-height: 770px;
    }

    @media(max-width: 1367px)
    {
      min-height: 600px;
    }

    @media(max-width: 1199px)
    {
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 350px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 230px;
    }
  }
  @keyframes fadeIn {
    0% {
        //background-position: 50% -100%;
        opacity: 0;
    }
    30% {
        //background-position: 50% -100%;
        opacity: 0;
    }
    100% {
        //background-position: 50% 100%;
        opacity: 1;
    }
  }

  &-image22 {
    background-image: url("../images/image15.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 50% auto;
    min-height: 701px;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode:forwards;

    @media(min-width: 2300px)
    {
      min-height: 950px;
    }

    @media(min-width: 2100px)
    {
      min-height: 850px;
    }

    @media(min-width: 1800px)
    {
      min-height: 770px;
    }

    @media(max-width: 1367px)
    {
      min-height: 600px;
    }

    @media(max-width: 1199px)
    {
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      background-position: bottom right;
      background-size: 60% auto;
      padding-bottom: 300px;
    }

    @media(max-width:767px)
    {
      background-size: 90% auto;
      background-position: bottom center;
      padding-bottom: 350px;
    }

    @media(max-width:365px)
    {
      padding-bottom: 230px;
    }
  }

  &-image23
  {
    background: url("../images/image23.png") right top 0px no-repeat;
    background-size: 45% auto;
    min-height: 600px;

    @media(min-width:1799px)
    {
      background-size: 38% auto;
    }
    @media(max-width:1367px)
    {
      min-height: 500px;
    }

    @media(max-width:1199px)
    {
      background-size: 40% auto;
      background-position: center right -50px;
      min-height: 400px;
    }

    @media(max-width:991px)
    {
      min-height: 0;
      /*background-position: bottom right;
      background-size: 55% auto;*/
      background: transparent;
      //padding-bottom: 200px;
    }

    
  }

  &-image2
  {
    background: url("../images/image2.jpg") center center no-repeat;
    background-size: cover;
    //padding-top: 150px;
    //padding-bottom: 250px;
    //height: auto;

    //@media(max-width:1199px)
    //{
    //  padding-top: 50px;
    //  height: auto;
    //}
    //
    //@media(max-width:767px)
    //{
    //  padding-top: 50px;
    //  //padding-bottom: 50px;
    //}
  }

  &-image3
  {
    background: url("../images/image3.jpg") top center no-repeat;
    background-size: 100% auto;
    min-height: 2280px
  }

  &-image12
  {
    background: url("../images/image12.jpg") center center no-repeat;
    background-size: cover;
    //padding-top: 150px;
    //padding-bottom: 250px;
    //height: auto;

    //@media(max-width:1199px)
    //{
    //  padding-top: 50px;
    //  height: auto;
    //}
    //
    //@media(max-width:767px)
    //{
    //  padding-top: 50px;
    //  //padding-bottom: 50px;
    //}
  }
  &-image14
  {
    background: url("../images/image14.jpg") center center no-repeat;
    background-size: cover;
    //padding-top: 150px;
    //padding-bottom: 250px;
    //height: auto;

    //@media(max-width:1199px)
    //{
    //  padding-top: 50px;
    //  height: auto;
    //}
    //
    //@media(max-width:767px)
    //{
    //  padding-top: 50px;
    //  //padding-bottom: 50px;
    //}
  }
  &-gray
  {
    background: #F9F9F9;
  }

  &-darkGray
  {
    background: #252532;
  }

  &-footer
  {
    background-image: url("../images/footer-bcg.svg");
    background-position: center left;
    background-repeat: no-repeat;

    &--dark{
      background-image: url("../images/footer-bcg-dark.svg"); 
    }
  }


  &-trans
  {
    background-color: transparent;
  }
}

a.border-gray,
button.border-gray,
span.border-gray
{
  border: solid 1px #252532!important;
}

a.bg-red:hover,
button.bg-red:hover,
span.bg-red:hover
{
  background-color: darken(#E30427,10%);
  text-decoration: none;
}

a.bg-darkGray:hover,
button.bg-darkGray:hover,
span.bg-darkGray:hover
{
  background-color: lighten(#252532,20%);
  text-decoration: none;
}

a.border-red:hover,
button.border-red:hover,
span.border-red:hover
{
  background-color: #E30427!important;
  color: #fff!important;
  text-decoration: none;
}

a.border-gray:hover,
button.border-gray:hover,
span.border-gray:hover
{
  background-color: #252532!important;
  color: #fff!important;
  text-decoration: none;
}
