@import "basic";

.icon
{
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;

  &--logo
  {
    background-image: url("../images/hw-logo.svg");
    height: 62px;
    width: 250px;

    @media(max-width:767px)
    {
      width: 200px;
      background-size: 100% auto;
    }
  }

  &--logo2
  {
    background-image: url("../images/zmacknito.svg");
    height: 77px;
    width: 330px;

    @media(max-width:767px)
    {
      width: 200px;
      background-size: 100% auto;
    }
  }

  &--logo3
  {
    background-image: url("../images/vyvetrej_si.svg");
    height: 77px;
    width: 330px;

    @media(max-width:767px)
    {
      width: 200px;
      background-size: 100% auto;
    }
  }

  &--fb
  {
    background-image: url("../images/facebook-white.svg");
    width: 30px;
    height: 30px;
  }

  &--instagram
  {
    background-image: url("../images/instagram-white.svg");
    width: 30px;
    height: 30px;
  }

  &--linked
  {
    background-image: url("../images/linkedin-white.svg");
    width: 30px;
    height: 30px;
  }

  &--twitter
  {
    background-image: url("../images/twitter-white.svg");
    width: 30px;
    height: 30px;
  }

  &--quote
  {
    background-image: url("../images/quote.svg");
    height: 47px;	width: 65px;
  }

  &--leaf
  {
    background-image: url("../images/icon-leaf.svg");
    height: 49px;	width: 39px;
  }
  &--facil
  {
    background-image: url("../images/icon-setting.svg");
    height: 49px;	width: 39px;
  }
  &--house
  {
    background-image: url("../images/icon-house.svg");
    height: 49px;	width: 49px;
  }
  &--people
  {
    background-image: url("../images/icon-people.svg");
    height: 48px;	width: 49px;
  }
  &--program
  {
    background-image: url("../images/icon-program.svg");
    height: 48px;	width: 49px;
  }
  &--hvac
  {
    background-image: url("../images/icon-hvac.svg");
    height: 45px;	width: 54px;
  }

  &--monitoring
  {
    background-image: url("../images/icons/monitoring.svg");
    height: 55px;	width: 64px;
  }

  &--telemetry
  {
    background-image: url("../images/icons/data_telemetry.svg");
    height: 55px;	width: 64px;
  }

  &--lpwan
  {
    background-image: url("../images/icons/lpwan.svg");
    height: 55px;	width: 64px;
  }

  &--control
  {
    background-image: url("../images/icons/remote_control.svg");
    height: 55px;	width: 64px;
  }

  &--home
  {
    background-image: url("../images/icons/smart_home.svg");
    height: 55px;	width: 64px;
  }

  &--tracking
  {
    background-image: url("../images/icons/tracking.svg");
    height: 55px;	width: 64px;
  }



  &--pilots
  {
    background-image: url("../images/icons/pilots.svg");
    height: 55px;	width: 64px;
  }

  &--stem
  {
    background-image: url("../images/icons/stem.svg");
    height: 55px;	width: 64px;
  }

  &--code
  {
    background-image: url("../images/icons/code.svg");
    height: 55px;	width: 64px;
  }

  &--manufacturing
  {
    background-image: url("../images/manufacturing.svg");
    height: 220px;	width: 142px;
    position: absolute;
    top:-60px;
    right: 30px;

    @media(max-width:767px)
    {
      top:auto;
      right: 0;
      bottom:50px;
      background-size: 50%;
      background-position: bottom center;
    }
  }

  &--enviroment
  {
    background-image: url("../images/enviroment.svg");
    height: 235px;	width: 129px;
    position: absolute;
    top:-60px;
    right: 50px;

    @media(max-width:767px)
    {
      top:auto;
      right: 0;
      bottom:50px;
      background-size: 50%;
      background-position: bottom center;
    }
  }

  &--newproduct
  {
    background-image: url("../images/newproduct.svg");
    height: 218px;	width: 161px;
    position: absolute;
    top:-60px;
    right: 40px;

    @media(max-width:767px)
    {
      top:auto;
      right: 0;
      bottom:50px;
      background-size: 50%;
      background-position: bottom center;
    }
  }

  &--education
  {
    background-image: url("../images/education.svg");
    height: 224px;	width: 152px;
    position: absolute;
    top:-60px;
    right: 40px;

    @media(max-width:767px)
    {
      top:auto;
      right: 0;
      bottom:50px;
      background-size: 50%;
      background-position: bottom center;
    }
  }


}
