{{ define "header" }}
  {{ partial "header-oee.html" . }}
{{ end }}

{{ define "main" }}

<style>
    .breadcrumb{
        display: none;
    }
  .content-block{
      background-image: linear-gradient(to bottom right, #ebb50e, #ffd966); 
      background-size: 100%; 
      border-radius: 7px;
  }
  .content-block--gray{
      background-image: linear-gradient(to bottom right, #cccccc, #b1adad); 
  }
  .content-block--gray2{
      background-image: linear-gradient(to bottom right, #ffffff, #ececec); 
  }

  .chester-1{
      background-size: 90%; 
      border-radius: 7px; 
      background-position: 50% 30px; 
      background-image: url('/_assets/images/partner/{{ .Params.chester }}');
      background-repeat: no-repeat;
  }
  @media(max-width: 769px){
      .chester-1{
          height: 400px;
          background-position: 50% 100%;
      }

  }
  @media(max-width: 1281px){
      .chester-1{
          background-position: 50% 100%;
      }

  }
</style>


<section>
  <div class = "container">
      <div class = "row justify-content-center px-10">

          <div class = "col-12 px-30 pl-md-60 mb-20 content-block content-block--gray">
              <div class = "row">
                  <div class = "col-12 col-md-7 pt-40 pt-md-60 pb-30 pb-md-60">
                      <h1 class = "font-36 font-lnh44 font-md-52 font-weight-black font-md-lnh56 pb-30">{{ .Params.heading | safeHTML }}</h1>
                      <p class = "font-20 font-md-20 pb-10">{{ .Params.description | safeHTML }}</p>
                      <a href = "#more" class="smooth font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" id="click-meeting">Learn more</a>
                      <!--<a href = "{{ .Permalink }}" class="ml-0 mr-20 font-20 font-md-16 font-lnh24 font-weight-bold font-font2 font-red button__link">{{ i18n "learn_more" }}</a>-->
                  </div>
                  <div class = "col-12 col-md-5 pt-30 pr-0 chester-1">

                  </div>
              </div>
          </div> 
      </div>
    </div>
</section>

<section>    
    <div class = "container pt-60" id = "more">
        <div class = "row justify-content-center align-items-center text-center">
                <div class = "col-12 col-md-10 font-20 font-md-20">
                    <p class = "pb-10">HARDWARIO offers everything you need to deploy a successful IoT project - from hardware to cloud environments and APIs. Our devices are highly programmable and customisable using ZephyrRTOS and hardware extensions. We believe that the <strong>{{ .Params.company }}</strong> can benefit from your own IoT device.</p>
                    <!--<p class = "pb-10">We make industrial IoT devices which our partners deploy them under their brand in companies like LEGO, TOYOTA or Vodafone. We believe that the <strong>{{ .Params.company }}</strong> has the perfect fit for our partner network, and you can benefit from your own IoT device.</p>-->
                </div>

                <div class = "col-12">
                    <object type="image/svg+xml" data="/_assets/images/hio.svg"></object>
                </div>
        </div>
    </div>
</section>



<style>

    .chester-2{
        background-size: 90%; 
        border-radius: 7px; 
        background-position: 50% 30px; 
        background-image: url('/_assets/images/chester/1.png');
        background-repeat: no-repeat;
    }

    @media(max-width: 769px){
        .chester-2{
            height: 400px;
            background-position: 50% 100%;
        }

    }
    @media(max-width: 1281px){
        .chester-2{
            background-position: 50% 100%;
        }

    }
</style>
<!--<section>
    <div class = "container pt-60 pt-md-120">
        <div class = "row justify-content-center px-10">

            <div class = "col-12 px-30 pl-md-60 mb-90 content-block">
                <div class = "row">
                    <div class = "col-12 col-md-6 pt-40 pt-md-90 pb-30 pb-md-120">
                        <h2 class = "font-36 font-lnh44 font-md-52 font-weight-black font-md-lnh56 pb-30"><span class = "font-gray2">{{ i18n "modular_device" | safeHTML }}</h2>
                        <p class = "font-20 font-md-16 pb-10">{{ i18n "modular_device_desc" | safeHTML }}</p>
                        <a href = "#" data-target = "extensionsModal" class="openModal pt-20 pt-md-0 ml-0 font-20 font-md-16 font-lnh24 font-weight-bold font-font2 font-red button__link">{{ i18n "extensions_list" | safeHTML }}</a>
                    </div>
                    <div class = "col-12 col-md-6 pt-30 pr-0 chester-2">

                    </div>
                </div>
            </div> 


        </div>
    </div>
</section>-->


<section>
    <div class="" id = "pillars">
        <div class="container">
            <div class="row">
                <div class="col pb-30">
                    <div class="row justify-content-center align-items-center">
                        <div class = "col-12 text-center pt-40">
                    <h3 class = "font-20 font-md-20 font-weight-black font-lnh24 pb-10">Reasons to become our partner</h3>
                    </div>
                       <!-- <div class = "col-12 text-center">
                            <p class="font-18 font-lnh26 pb-10 font-weight-bold">Device features</p>
                        </div>-->
                                        <div class = "col-3 col-md-2 text-center pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/integration.svg" class="w-50 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">The potential of IoT and LPWAN</h3>
                                            <p class="font-18 font-lnh26">Your devices can communicate to the Internet from anywhere and entirely independently, even from batteries.</p>
                                        </div>

                                        <div class = "col-3 col-md-2 text-center pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/benefits/devices.svg" class="w-50 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">Higly configurable devices</h3>
                                            <p class="font-18 font-lnh26">One device suits thousands of projects across industries. You can connect various sensors, controllers and PLCs with available interfaces.</p>
                                        </div>

                                        <div class = "col-3 col-md-2 text-center pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/benefits/simple.svg" class="w-25 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">Full-stack support and training</h3>
                                            <p class="font-18 font-lnh26">Our training includes firmware development with our SDK and Zephyr RTOS and sharing our approach to B2B sales and marketing.</p>
                                        </div>

                                        <div class = "col-3 col-md-2 text-center pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/benefits/hardware.svg" class="w-50 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">Your product, your know-how</h3>
                                            <p class="font-18 font-lnh26">Devices are delivered with full OEM branding. Knowledge of firmware development enables you to secure your intellectual property.</p>
                                        </div>

                                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section>    
    <div class = "container pt-60">
        <div class = "row justify-content-center align-items-center">
                <div class = "col-12 col-md-10 text-center">
                    <p class="font-18 font-lnh26 pb-40 font-weight-bold">I made a video describing the opportunity and gateway:</p>
                    <div class = "video-container youtube">
                        <iframe src="https://www.youtube-nocookie.com/embed/{{ .Params.video }}?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                </div>
        </div>
    </div>
</section>-->



<section>
    <div class = "container" id = "contact">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-10 bg-darkGray py-30 mt-30 mb-70">
          <div class = "row align-items-center">
            <div class = "col-12 col-md-4 px-50">
                <img loading="lazy" src="/_assets/images/{{ .Params.cons_img }}" class="w-75 w-md-100 rounded-circle d-block mx-auto img-fluid" alt="" />
            </div>
            <div class = "col-12 col-md-8 pt-30 pt-md-0 text-center text-md-left font-white">
            <h3 class = "font-32 font-weight-bold pb-10">Let's discuss the opportunity, {{ .Params.name }}</h3>
            <p class = "font-16 pb-10">{{ .Params.consultation | safeHTML }}</p>
            <a href = "{{ .Params.cons_link }}" target="_blank" class="font-lnh24 py-15 px-md-50 mt-30 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" id="click-meeting">Book a meeting</a>
            <p class = "pt-10 font-16 pb-10">{{ i18n "or_email_me" }} <a href = "mailto:{{ .Params.email }}" class = "font-red">{{ .Params.email }}</a></p>
            </div>
        </div>
    </div>
    </div>
    </div>
  </section>


  
<footer>
{{ end }}

{{ define "additional-scripts" }}
<script>
    $("a.smooth[href^=\\#]").click(function(e) {
      e.preventDefault();
      var dest = $(this).attr('href');
      //console.log(dest);
      $('html,body').animate({ scrollTop: ($(dest).offset().top - 100) }, 'slow');
    });
  </script>
{{ end }}
