{{ define "main" }}

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <div class="article__header">
          <div class="article__header__button">

            <h1 class="article__title">{{ .Title }}</h1>
            <!--<div class="text text--perex">
              <p>{{ .Params.description }}</p>
            </div>-->
            <div class="handbook__perex pb-50 mb-50">
              {{ .Params.perex | safeHTML }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="collapsor handbook">

                                {{ .Content }}


                            </div>

                        </div>
                    </div>
                </div>


<footer>
{{ end }}
