<div class = "second-nav submenu">
    <div class = "container">
      <div class = "row  justify-content-between">
        <div class="col-2 text-left second-nav-name text-uppercase">
          HARDWARIO
         </div>
         <div class="col-auto d-block d-lg-none px-0">
           <div class="js-forsubmenu toggle">
               
           </div>
       </div>
       <div class = "col-12 col-md-10 text-left js-submenu d-none d-md-block">
          <ul class = "menu">

            {{ range .Site.Menus.about.ByWeight }}
            <li><a href = "{{ .URL }}" class = "{{ if $.IsMenuCurrent "about" . }} active {{ end }}">{{ .Name | safeHTML }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>