<div class = "second-nav submenu">
    <div class = "container">
      <div class = "row  justify-content-between">
        <div class="col-2 text-left second-nav-name text-uppercase">
          TOWER
         </div>
         <div class="col-auto d-block d-lg-none px-0">
           <div class="js-forsubmenu toggle">
               
           </div>
       </div>
       <div class = "col-12 col-lg-10 text-left js-submenu d-none d-lg-block">
          <ul class = "menu">

            {{ range .Site.Menus.tower.ByWeight }}
            <li><a href = "{{ .URL }}" class = "{{ if $.IsMenuCurrent "tower" . }} active {{ end }}">{{ .Name | safeHTML }}</a></li>
            {{ end }}
            <li><a href = "https://docs.hardwario.com/tower/" target="_blank">{{ i18n "documentation" }} <img width = "15" src = "/_assets/images/icons/external-link.svg"></a></li>
            {{ with .Params.buy_link }}<li style = "float: right"><a href = "{{ . }}" target="_blank"><span class = "nav-cta">{{ i18n "buy_now" }}</span></a></li>{{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>