<div class="carousel-item {{ .Params.carousel_status }} justify-content-center bg-image2 pt-90" style="background-image:url({{ .Params.image_main }});padding-top:270px!important;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto">
                <div class="slick1">
                    <div class="bg-white text-center px-20 px-md-30 pt-30 mb-30 {{ if ne .Params.full true }} pb-30 {{ end }}">
                        <h2 class="font-weight-black font-30 font-md-40 font-lnh36 font-md-lnh44 pb-md-20">{{ .Params.heading | safeHTML }}</h2>

                        <div class="row justify-content-center">
                            <div class = "col col-md-3">
                                <div class = "font-red font-font2 font-weight-bold font-15">{{ i18n "customer" }}</div>
                                <div class = "font-gray font-font2 font-weight-bold font-15">{{ .Params.company }}</div>
                            </div>
                            {{ with .Params.partner }}
                            <div class = "col col-md-3">
                                <div class = "font-red font-font2 font-weight-bold font-15">Partner</div>
                                <div class = "font-gray font-font2 font-weight-bold font-15">Vodafone UK</div>
                            </div>
                            {{ end }}
                            <div class = "col col-md-3">
                                <div class = "font-red font-font2 font-weight-bold font-15">Product</div>
                                <div class = "font-gray font-font2 font-weight-bold font-15">{{ .Params.product }}</div>
                            </div>
                         </div>
                        {{ if eq .Params.full true }}
                        <div>
                            <a href="{{ .Permalink }}" class="abs-1 font-lnh24 py-15 px-10 px-md-90 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "read_case_study_now" }}</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>