<div class="row">
    <div class="col">
        <div class="d-block">
            <img loading="eager" src="{{ .Params.image_main }}" alt="" class="w-100" />
        </div>

        <div class="px-10 px-md-30 px-xl-120">
            <div class="bg-white pt-30 pt-md-50 abs-5 position-relative">

                <div class="row pb-10">
                    <div class="col-10 col-md-8 col-lg-5 mx-auto text-center">
                        <div class="font-redLined font-red font-font2 font-weight-bold font-15"><span>{{ i18n "case_study" }}</span></div>
                    </div>
                </div>

                <div class="px-md-30 px-xl-100">
                    <h1 class="font-weight-black font-30 font-md-40 text-center pb-10 pb-md-20 pb-xl-30">
                        {{ .Title }}
                    </h1>
                </div>

                <div class="pl-xl-100 pr-xl-50 d-none d-md-block">
                    <div class="d-block d-md-flex mb-30 align-items-center text-uppercase font-15 font-weight-medium">
                        <div class="mr-auto mb-20 mb-md-0 pr-10">
                            <img loading="eager" src="{{ .Params.logo }}" alt="" class = "img-fluid" />
                        </div>
                        <div class="pl-30 pr-md-30 pr-lg-60 border-left py-10 py-md-30">
                            <div class="font-gray3">{{ i18n "company" }}</div>
                            <div class="font-black">{{ .Params.company }}</div>
                        </div>
                        <div class="pl-30 pr-md-30 pr-lg-60 border-left py-10 py-md-30">
                            <div class="font-gray3">{{ i18n "industry" }}</div>
                            <div class="font-black">{{ .Params.industry }}</div>
                        </div>
                        <div class="pl-30 border-left py-10 py-md-30">
                            <div class="font-gray3">{{ i18n "product" }}</div>
                            <div class="font-black">{{ .Params.product }}</div>
                        </div>
                    </div>
                </div>

                <div class="text-center pb-60">
                    <a href="{{ .Permalink }}" class="d-block d-md-inline-block font-lnh24 py-15 px-10 px-md-50 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "read_case_study_now" }}</a>
                </div>

            </div>
        </div>
    </div>
</div>
