<div class="col-12 col-md-4">
  <div class="pricelist__item pricelist__item--rec">
    <div class="pricelist__content">
      <div class="pricelist__rec">{{ i18n "recommended" }}</div>
      <!--<div class="logo logo--2"></div>-->
      <h3 class="pricelist__title">{{ .Title }}</h3>

      <div class="product__images d-flex align-items-center justify-content-center">
          <img src="/kits/{{ .Params.images.preview }}" alt="{{ .Title }}" />
          <img src="/kits/{{ .Params.images.hover }}" alt="{{ .Title }}" />
      </div>


      <div class="pricelist__title2">{{ .Params.eduText }}</div>

      <ul class="pricelist__items font-list">
        {{ range .Params.included }}
          <li class="pricelist__items__item">{{ . }}</li>
        {{ end}}
        {{ range .Params.notIncluded }}
          <li class="pricelist__items__item minus pricelist__items__item--disabled">{{ . }}</li>
        {{ end}}
      </ul>
      {{ if .Params.save }}
        <div class="pricelist__discount">{{ i18n "save" }} {{ .Params.save }}</div>
      {{ else }}
        <div class="pricelist__discount">&nbsp;</div>
      {{ end }}
      <div class="pricelist__price">{{ .Params.price }}</div>
      <div class="pricelist__button">
        <a href="{{ .Params.buyLink }}" class="cta-button font-lnh54 px-30 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "learn_more" }}</a>
      </div>
    </div>
  </div>
</div>
