{{ partial "_head.html" . }}

{{ block "header" . }}

{{ $currentLang := .Site.Language.Lang }}

<!-- partial "toolbar.html" . }}  -->

  {{ partial "header.html" . }}

{{ end }}
<script src="/_assets/js/{{ index .Site.Data.js.hash "jquery.min.js" }}"></script>
<main role="main">

  {{ if .IsHome }}
  {{ else }}
  {{ partial "breadcrumb.html" . }} 
  {{ end }}


{{ block "main" . }}
  {{ .Content }}
{{ end }}
</main>

{{ if hasPrefix .Permalink .Site.Params.productionURL }}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KG9F3R');</script>
<!-- End Google Tag Manager -->
{{ end }}

{{ if hasPrefix .Permalink .Site.Params.productionURL }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG9F3R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ partial "_scripts.html" . }}

{{ block "additional-scripts" . }}

{{ end }}

{{ partial "_foot.html" . }}
