<div class="d-block d-md-flex mb-100 align-items-center text-uppercase font-15 font-weight-medium">
    <a href="" class="mr-auto mb-20 mb-md-0">
        <img loading="eager" src="{{ $.Page.Params.logo }}" alt="" />
    </a>
    <div class="pl-30 pr-md-30 pr-lg-60 border-left py-10 py-md-30">
        <div class="font-gray3">{{ i18n "company" }}</div>
        <a class="font-black" href="">{{ $.Page.Params.company }}</a>
    </div>
    <div class="pl-30 pr-md-30 pr-lg-60 border-left py-10 py-md-30">
        <div class="font-gray3">{{ i18n "industry" }}</div>
        <a class="font-black" href="">{{ $.Page.Params.industry }}</a>
    </div>
    <div class="pl-30 pr-xl-100 border-left py-10 py-md-30">
        <div class="font-gray3">{{ i18n "product" }}</div>
        <a class="font-black" href="">{{ $.Page.Params.product }}</a>
    </div>
</div>
