
    <div class="bg-red bg-footer font-white pt-xl-50">
        <div class="container pt-30 text-center text-md-left">
            <div class = "row">
              <div class = "col-12">
                <span class="font-32 font-weight-bold">Inspiring the inventors of tomorrow. Today!</span>
              </div>
            </div>
            <div class="row pt-50 pb-50">
                <div class="col-12 col-md pb-xl-50">
                    <div class="font-font2 font-18 pb-25 font-weight-medium">{{ i18n "headquarters_sales" }}</div>
                    <div class="font-18 font-lnh30">
                      HARDWARIO LTD<br />
                      HubHub London<br />
                      20 Farringdon St<br />
                      London EC4A 4EN<br />
                      {{ i18n "uk" }}<br />
                      <br />
                      {{ i18n "id" }}: 11642323
                    </div>
                </div>
                <div class="col-12 col-md pb-xl-50">
                    <div class="font-font2 font-18 pb-25 font-weight-medium">{{ i18n "development_distribution"}}</div>
                    <div class="font-18 font-lnh30">
                        HARDWARIO s.r.o.<br />
                        U Jezu 525/4<br />
                        460 01 Liberec<br />
                        {{ i18n "czechia" }}<br />
                        <br />
                        {{ i18n "vat_id" }}: CZ04998511<br />
                        {{ i18n "id" }}: 04998511
                    </div>

                </div>
                <div class="col-12 col-md pb-xl-50">
                    <div class="font-font2 font-18 pb-25 font-weight-medium">{{ i18n "navigation"}}</div>
                    <div class="font-18">
                        <ul class = "footernav">
                        {{ range .Site.Menus.footer }}
                          <li><a href="{{ .URL }}" target = "{{ .Post }}" class = "font-weight-medium font-white">{{ .Name }}</a></li>
                        {{ end }}
                        </ul>
                    </div>
                    <a href="mailto:ask@hardwario.com" class="d-block font-font2 font-18 pb-25 font-weight-medium font-white">ask@hardwario.com</a>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <a href="https://twitter.com/hardwar_io" target="_blank" class="icon icon--twitter mr-20 text-hide">Twitter</a>
                        <a href="https://www.facebook.com/pg/hardwario/" target="_blank" class="icon icon--fb mr-20 text-hide">Facebook</a>
                        <a href="https://linkedin.com/company/hardwario" target="_blank" class="icon icon--linked text-hide">Linked</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
  /*$(document).ready(function(){
    $("main ul").each(function() {
      $( this ).addClass( "font-list" );
    });
  });*/

  $("a[href^=\\#]").click(function(e) {
    e.preventDefault();
    var dest = $(this).attr('href');
    console.log(dest);
    $('html,body').animate({ scrollTop: $(dest).offset().top }, 'slow');
  });
</script>

</body>
</html>
