
              
    <div class="bg-darkGray bg-footer bg-footer--dark font-white pt-xl-50">
        <div class="container pt-30 text-center text-md-left">
            <div class = "row">
              <div class = "col-12">
                <span class="font-32 font-weight-bold">TRANSFORMING TODAY INTO A DIGITAL TOMORROW</span>
              </div>
              <!--<div class = "col-12 col-md-10 col-lg-8 d-none d-sm-block">
                <div class = "row align-items-center pt-30">
                  <div class = "col-1">
                    <img loading = "lazy" src = "/_assets/images/partners/lipoink.png" class = "img-fluid" alt = "Lipo.Ink"/>
                  </div>
                  <div class = "col-2">
                    <img loading = "lazy" src = "/_assets/images/partners/xedu.png" class = "img-fluid" alt = "xEdu" />
                  </div>
                  <div class = "col-2">
                    <img loading = "lazy" src = "/_assets/images/partners/gan.png" class = "img-fluid" alt = "GAN Startups" />
                  </div>
                  <div class = "col-2">
                    <img loading = "lazy" src = "/_assets/images/partners/techuk.png" class = "img-fluid" alt = "TechUK" />
                  </div>
                </div>
              </div>-->
            </div>
            <div class="row pt-50 pb-50">
                <div class="col-12 col-md pb-xl-50">
                    <div class="font-font2 font-18 pb-15 font-weight-medium">United Kingdom</div>
                    <div class="font-18 font-lnh30">
                      HARDWARIO LTD<br />
                      10 John Street<br />
                      London WC1N 2EB<br />
                      {{ i18n "uk" }}<br />
                      {{ i18n "id" }}: 11642323<br/>
                      &nbsp;
                    </div>

                    <div class="font-font2 font-18 pb-15 font-weight-medium mt-40">United States</div>
                    <div class="font-18 font-lnh30">
                        Hardwario LLC<br />
                        17515 Hollyberry Lane,<br />
                        Sugar Land, Texas 77479<br />
                        {{ i18n "usa" }}<br />
                    </div>
                </div>
                <div class="col-12 col-md pb-xl-50">
                  <div class="font-font2 font-18 pb-15 font-weight-medium">Czech Republic</div>
                  <div class="font-18 font-lnh30">
                      HARDWARIO a.s.<br />
                      U Jezu 525/4<br />
                      460 01 Liberec<br />
                      {{ i18n "czechia" }}<br />
                      {{ i18n "vat_id" }}: CZ04998511<br />
                      {{ i18n "id" }}: 04998511
                  </div>

                  <div class="font-font2 font-18 pb-15 font-weight-medium mt-40">Poland</div>
                    <div class="font-18 font-lnh30">
                      HARDWARIO sp. z o.o.<br />
                      ul. Szelągowska 49<br />
                      61-626 Poznaň<br />
                      {{ i18n "poland" }}<br />
                      NIP: 9721322431<br />
                      REGON: 52054574800000
                    </div>
                </div>
                <div class="col-12 col-md pb-xl-50">
                    <div class="font-font2 font-18 pb-15 font-weight-medium">{{ i18n "navigation"}}</div>
                    <div class="font-18">
                        <ul class = "footernav">
                        {{ range .Site.Menus.footer.ByWeight }}
                          <li><a href="{{ .URL }}" target = "{{ .Post }}" class = "font-weight-medium font-white">{{ .Name | safeHTML }}</a></li>
                        {{ end }}
                        </ul>
                    
                </div>
              </div>
              <div class="col-12 col-md pb-xl-50">
                <div class="font-font2 font-18 pb-25 font-weight-medium invisible">{{ i18n "navigation"}}</div>
                <div class="font-18">
                    <ul class = "footernav">
                    {{ range .Site.Menus.footer_2.ByWeight }}
                      <li><a href="{{ .URL }}" target = "{{ .Post }}" class = "font-weight-medium font-white">{{ .Name | safeHTML }}</a></li>
                    {{ end }}
                    </ul>
                    <a href="mailto:ask@hardwario.com" class="d-block font-font2 font-18 pb-25 font-weight-medium font-white">ask@hardwario.com</a>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <a href='{{ i18n "twitter" }}' target="_blank" class="icon icon--twitter mr-20 text-hide">Twitter</a>
                        <a href="https://www.facebook.com/hardwario/" target="_blank" class="icon icon--fb mr-20 text-hide">Facebook</a>
                        <a href="https://linkedin.com/company/hardwario/" target="_blank" class="icon icon--linked mr-20 text-hide">LinkedIn</a>
                        <a href="http://instagram.com/hardwario/" target="_blank" class="icon icon--instagram text-hide">Instagram</a>
                    </div>
            </div>
          </div>
        </div>
    </div>
</div>
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "main-addon.css" }}" />

</footer>

</body>
</html>
