<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    {{ partial "_meta.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "main.css" }}" />
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "font.css" }}" />
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "bg.css" }}" />
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "icon.css" }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500,700|Roboto:400,500,700,900&display=swap&subset=cyrillic-ext" rel="stylesheet">


    {{ partial "favicon.html" . }}

    {{ if hasPrefix .Permalink .Site.Params.productionURL }}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KG9F3R');</script>
    <!-- End Google Tag Manager -->
    {{ end }}

  <!--  {{ if .IsHome }}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{end}}
-->
</head>
<body>
  {{ if hasPrefix .Permalink .Site.Params.productionURL }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG9F3R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ end }}
