<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ .Params.meta.title }}</title>
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "main.css" }}" />
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "font.css" }}" />
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "bg.css" }}" />
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "icon.css" }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500,700|Roboto:400,500,700,900&display=swap&subset=cyrillic-ext" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="/_assets/js/{{ index .Site.Data.js.hash "popper.min.js" }}"></script>
    <script src="/_assets/js/{{ index .Site.Data.js.hash "jquery.min.js" }}"></script>
    <script src="/_assets/js/{{ index .Site.Data.js.hash "bootstrap.min.js" }}"></script>
    <script src="/_assets/js/{{ index .Site.Data.js.hash "main.js" }}"></script>

    {{ if hasPrefix .Permalink .Site.Params.productionURL }}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M4VSP6S');</script>
    <!-- End Google Tag Manager -->
    {{ end }}

</head>
<body>
  {{ if hasPrefix .Permalink .Site.Params.productionURL }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4VSP6S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {{ end }}

<header role="banner">
  <div class="bg-darkGray text-center font-white pt-20 pb-20">
    <div class = "container">
      <div class = "col">
        <h3 class="font-20 font-md-20 pb-10 font-md-lnh56 font-weight-black">Graf a free limited early bird ticket for our #Breakfast4_0 in London on October, 15th!</h2>
        <a href="https://www.eventbrite.co.uk/e/breakfast-40-london-inspiration-from-the-world-of-internet-of-things-communications-technology-tickets-64535811349?aff=ebapi" target="_blank" class="font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red">Grab a ticket</a>
      </div>
    </div>
    </div>
</header>

<header role="banner">
    <div class="container pt-30 pt-md-90 pb-0 pb-md-60">
        <div class="row align-items-center">
            <div class="col">
                <a href="{{ .Site.Params.baseURL }}" class="icon icon--logo d-block text-hide mx-md-0">Hardwario</a>
            </div>
            <div class="col-auto d-block d-lg-none">
                <div class="js-formenu">
                    <div>MENU</div>
                    <div class="bg-hamb rounded"></div>
                    <div class="bg-hamb rounded"></div>
                    <div class="bg-hamb rounded"></div>
                </div>
            </div>


            <div class="col-12 col-lg pt-20 pt-md-0 d-none d-lg-block js-menu menu">
                <ul class="d-lg-flex text-center text-lg-left mt-20 mt-lg-0 list-unstyled py-0 my-0 font-20 font-md-15 font-weight-medium font-font2 text-uppercase justify-content-center justify-content-md-end">
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                    <li>
                      <a href="{{ .URL }}" target = "{{ .Post }}" class="font-gray d-block pb-10 pb-lg-0 pr-lg-30 {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active {{ end }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
            </div>


        </div>
    </div>
</header>
