<ol  class="nav navbar-nav">
  {{ if or (eq .Section "kit") (eq .Section "chester") }}
  <li><a href="{{ .Site.Params.baseURL }}">Domů</a></li>
  <li><a href="{{ "products/" | absLangURL }}">Produkty</a></li>
  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ else }}
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  {{ end }}
</ol>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<li{{ if eq .p1 .p2 }} class="active"{{ end }}>
  <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
</li>
{{ end }}
  