{{ $currentPage := . }}

<header role="banner">
    <div class="container pt-30 pt-md-60 position-relative">
      <div class = "position-absolute" style = "right: 15px">
      <ul class = "border-right d-none d-lg-inline-block text-center text-lg-left mb-30 mt-0 mt-lg-0 pr-lg-20 list-unstyled py-0 my-0 font-14 font-md-12 font-weight-medium font-font2 text-uppercase justify-content-center justify-content-md-end">
        {{ range .Site.Menus.secondary }}
          <li class = "d-inline-block">
            <a href="{{ .URL }}" target = "{{ .Post }}" class=" d-block pb-10 pb-lg-0 pr-lg-10 {{ if or ($.IsMenuCurrent "secondary" .) ($.HasMenuCurrent "secondary" .) }} font-red {{ else }} font-gray {{ end }}">{{ .Name | safeHTML }}</a>
          </li>
        {{ end }}
      </ul>
      <ul class = "d-inline-block text-center text-lg-left mb-30 mt-0 mt-lg-0 pl-lg-20 pr-lg-20 list-unstyled py-0 my-0 font-14 font-md-12 font-weight-medium font-font2 text-uppercase justify-content-center justify-content-md-end">
        <li class = "d-inline-block"><span class="d-block pb-10 pb-lg-0 pr-lg-10 font-red active" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</span></li>
        {{ if .IsTranslated }}
          {{ range .Translations }}
            <li class = "d-inline-block"><a class="font-gray d-block pb-10 pb-lg-0 pr-lg-10" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        {{ else }}
          {{ range .Site.Languages }}
            {{ if ne .Lang $.Page.Lang }}
            <li class = "d-inline-block"><a class="font-gray d-block pb-10 pb-lg-0 pr-lg-10" href="/{{ .Lang }}">{{ .Params.LanguageName }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
      </div>
    </div>
    <div class="container pt-30 pt-md-30 pb-0 pb-md-60">
        <div class="row align-items-center">
            <div class="col pt-20 pt-sm-0">
                <a href="{{ .Site.Params.baseURL }}" class="icon icon--logo d-block text-hide mx-md-0">Hardwario</a>
            </div>
            <div class="col-auto d-block d-lg-none">
                <div class="js-formenu">
                    <div>MENU</div>
                    <div class="bg-hamb rounded"></div>
                    <div class="bg-hamb rounded"></div>
                    <div class="bg-hamb rounded"></div>
                </div>
            </div>

            <div class="col-12 col-lg pt-20 pt-md-0 d-none d-lg-block js-menu menu">

                <ul class="d-lg-flex text-center text-lg-left mt-20 mt-lg-0 list-unstyled py-0 my-0 font-20 font-md-15 font-weight-medium font-font2 text-uppercase justify-content-center justify-content-md-end">
                  {{ range .Site.Menus.main }}
                    <li>
                      <a href="{{ .URL }}" target = "{{ .Post }}" class="{{ .Pre }} font-gray d-block pt-lg-5 pb-10 pb-lg-5 pr-lg-30 {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active {{ end }}">{{ .Name | safeHTML }}</a>
                    </li>
                  {{ end }}
                </ul>
                <ul class="d-lg-none  text-center mt-20 list-unstyled py-0 my-0 font-20 font-md-15 font-weight-medium font-font2 text-uppercase justify-content-center">
                  {{ range .Site.Menus.secondary }}
                    <li>
                      <a href="{{ .URL }}" target = "{{ .Post }}" class="{{ .Pre }} font-gray d-block pb-10 pb-lg-0 pr-lg-30 {{ if or ($.IsMenuCurrent "secondary" .) ($.HasMenuCurrent "secondary" .) }} active {{ end }}">{{ .Name | safeHTML }}</a>
                    </li>
                  {{ end }}
                </ul>
            </div>


        </div>
    </div>
</header>
