<header role="banner">
    <div class="container pt-30 pt-md-60  position-relative">
      <ul class = "d-lg-flex text-center text-lg-left mb-30 mt-0 mt-lg-0 list-unstyled py-0 my-0 font-14 font-md-12 font-weight-medium font-font2 text-uppercase justify-content-center justify-content-md-end">
        <li><span class="d-block pb-10 pb-lg-0 pr-lg-30 font-red active" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</span></li>
        {{ if .IsTranslated }}
          {{ range .Translations }}
            <li><a class="font-gray d-block pb-10 pb-lg-0 pr-lg-30" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
        {{ else }}
          {{ range .Site.Languages }}
            {{ if ne .Lang $.Page.Lang }}
              <a class="font-gray d-block pb-10 pb-lg-0 pr-lg-30" href="/{{ .Lang }}">{{ .Params.LanguageName }}</a>
            {{ end }}
          {{ end }}
        {{ end }}


      </ul>
    </div>
    <div class="container pt-30 pt-md-30 pb-0 pb-md-60">
        <div class="row align-items-center position-relative">
            <div class="col">
                <a href="{{ .Site.Params.baseURL }}" class="icon icon--logo d-block text-hide mx-md-0">Hardwario</a>
            </div>
            <div class="col-auto d-block d-lg-none">
                <div class="js-formenu">
                    <div>MENU</div>
                    <div class="bg-hamb rounded"></div>
                    <div class="bg-hamb rounded"></div>
                    <div class="bg-hamb rounded"></div>
                </div>
            </div>

            <div class="col-12 col-lg pt-20 pt-md-0 d-none d-lg-block js-menu menu">

                <ul class="d-lg-flex text-center text-lg-left mt-20 mt-lg-0 list-unstyled py-0 my-0 font-20 font-md-15 font-weight-medium font-font2 text-uppercase justify-content-center justify-content-md-end">
                  {{ $currentPage := . }}
                  {{ range .Site.Menus.main }}
                    <li>
                      <a href="{{ .URL }}" target = "{{ .Post }}" class="font-gray d-block pb-10 pb-lg-0 pr-lg-30 {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active {{ end }}">{{ .Name | safeHTML }}</a>
                    </li>
                  {{ end }}
                </ul>
            </div>


        </div>
    </div>
</header>
