<section>
  
    <div class = "container" id = "invest">
      <div class = "row justify-content-center">
          <div class = "col-10 text-center pt-60 pb-20">
              <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">Jak investovat</h2>
              <p class="font-24 font-lnh38">Primární úpis akcií společnosti HARDWARIO a.s. proběhne od 4. do 18. října. K provádění pokynů týkajících se nákupu a prodeje akcií HARDWARIO doporučujeme využít služeb následujících členů Burzy cenných papírů Praha:</p>
          </div>
        </div>
          <div class = "row text-center justify-content-center">
            <div class = "col-10 col-md-3 shadow rounded-20 pt-60 pb-30 mx-10 my-10">
              <img src = "/_assets/images/investors/fio.png" height = "50" style = "max-width: 100%; margin: 5px 0;" />
              <h3 class = "font-24 font-black mt-20 mb-10">Fio banka, a.s.<br/><br/></h3>
              <p><a href = "https://www.fio.cz" target="_blank">www.fio.cz</a><br/>
                <a href = "mailto:pxstart@fio.cz">pxstart@fio.cz</a><br/>
                +420 224 346 225 
                </p>
            </div>
  
            <div class = "col-10 col-md-3 shadow rounded-20 pt-60 pb-30 mx-10 my-10">
              <img src = "/_assets/images/investors/patria.png" height = "60" style = "max-width: 100%;" />
              <h3 class = "font-24 font-black mt-20 mb-10">Patria Finance, a.s.<br/><br/></h3>
              <p><a href = "https://www.patria.cz" target="_blank">www.patria.cz</a><br/>
                <a href = "mailto:patria@patria.cz">patria@patria.cz</a><br/>
                +420 221 424 424 
                </p>
            </div>
  
  
            <div class = "col-10 col-md-3 shadow rounded-20 pt-60 pb-30 mx-10 my-10">
              <img src = "/_assets/images/investors/portu.png" height = "50" style = "max-width: 100%; margin: 5px 0;" />
              <h3 class = "font-24 font-black mt-20 mb-10">WOOD & Company Financial Services, a.s.</h3>
              <p><a href = "http://o.portu.cz" target="_blank">o.portu.cz</a><br/> 
                <a href = "mailto:info@portu.cz">info@portu.cz</a><br/>   
                +420 222 096 666
                </p>
            </div>
  
            <div class = "col-12">
              <p class="font-18 font-lnh24 pt-30">Návod jak investovat najdete také na <a href = "https://www.pxstart.cz/jak-investovat/" target="_blank">stránkách trhu PX Start</a>.</p>
            </div>
          </div>
      </div>
    
    </div>
  </section>