<section>
    <div class="">
        <div class="container pt-90" id = "documents">
            <div class="row justify-content-center">
                <div class="text-center col-12">
                    <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">Dokumenty</h2>
                </div>
                <div class="col-12 col-md-9">
                    <div class="collapsor pt-0">
                        <div class="collapsor__item">
                          <h2 class="collapsor__header collapsor__header--active">Analytické zprávy</h2>
                          <div class="collapsor__body collapsor__body--active">
                              <ul>
                                <li><a href = "/files/Analyticka-Zprava-HARDWARIO.pdf" target="_blank">Analytická zpráva HARDWARIO (zveřejněno 30.9.2022, zpracovatel Helgi Library s.r.o.)</a></li>
                              </ul>
                          </div>
                        </div>
                        <div class="collapsor__item">
                          <h2 class="collapsor__header">Prospekt společnosti</h2>
                          <div class="collapsor__body">
                              <ul>
                              <li><a href = "/files/Prospekt_HARDWARIO_a.s – FINAL.pdf">Unijní prospekt pro růst akcie společnosti HARDWARIO a.s. (zveřejněno 30.9.2022)</a></li>
                              <li><a href = "/files/Rozhodnuti-o-schvaleni-prospektu_s dolozkou-pravni-moci.pdf">Rozhodnutí o schválení prospektu s doložkou právní moci (zveřejněno 30.9.2022)</a></li>
                              <li><a href = "/files/dd-report-hardwario-a-s.pdf">Due Diligence report HARDWARIO a.s.</a></li>
                          </ul>
                          </div>
                        </div>
                        <div class="collapsor__item">
                          <h2 class="collapsor__header">Prezentace společnosti</h2>
                          <div class="collapsor__body">
                              <ul>
                                <li><a href = "/files/HARDWARIO-START-Day-230516.pdf">Prezentace START Day květen 2023 (zveřejněno 9.5.2023)</a></li>
                              <li><a href = "/files/HARDWARIO_investorska_prezentace.pdf">Investorská prezentace společnosti HARDWARIO a.s. (zveřejněno 6.10.2022)</a></li>
                          </ul>
                          </div>
                        </div>
                      <div class="collapsor__item">
                        <h2 class="collapsor__header">Výroční zprávy a finanční výkazy</h2>
                        <div class="collapsor__body">
                            <ul>
                              <li><a href = "/files/financni-vykazy-audit-HARDWARIO-2021.pdf" target="_blank">Auditované finanční výkazy za rok 2021 (PDF)</a></li>
                              <li><a href = "/files/financni-vykazy-audit-HARDWARIO-2020.pdf" target="_blank">Auditované finanční výkazy za rok 2020 (PDF)</a></li>
                            </ul>
                        </div>
                      </div>
                      <div class="collapsor__item">
                        <h2 class="collapsor__header">Stanovy společnosti</h2>
                        <div class="collapsor__body">
                            <ul>
                              <li><a href = "/files/HARDWARIO_Stanovy-220923.pdf" target="_blank">Stanovy společnosti HARDWARIO a.s. (PDF)</a></li>
                            </ul>
                        </div>
                      </div>
                    
                      <div class="collapsor__item">
                        <h2 class="collapsor__header">Valné hromady a další povinně zveřejněné informace</h2>
                        <div class="collapsor__body">
                            <ul>
                              <li><a href = "/files/stejnopis-nz-1334-2022.pdf" target="_blank">Rozhodnutí Valné hromady ze dne 30.09.2022 (PDF)</a></li>
                            </ul>
                            
                        </div>
                      </div>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>