<section>
    <div class="">
        <div class="container pt-90" id = "documents">
            <div class="row justify-content-center">
                <div class="text-center col-12">
                    <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">Dokumenty</h2>
                </div>
                <div class="col-12 col-md-9">
                    <div class="collapsor pt-0">
                        <div class="collapsor__item">
                          <h2 class="collapsor__header collapsor__header--active">Analytické zprávy</h2>
                          <div class="collapsor__body collapsor__body--active">
                              <ul>
                                <li><a href = "/files/Analyticka-Zprava-HARDWARIO.pdf" target="_blank">Analytická zpráva HARDWARIO (zveřejněno 30.9.2022, zpracovatel Helgi Library s.r.o.)</a></li>
                              </ul>
                          </div>
                        </div>
                        <div class="collapsor__item">
                          <h2 class="collapsor__header">Prospekt společnosti</h2>
                          <div class="collapsor__body">
                              <ul>
                              <li><a href = "/files/Prospekt_HARDWARIO_a.s – FINAL.pdf">Unijní prospekt pro růst akcie společnosti HARDWARIO a.s. (zveřejněno 30.9.2022)</a></li>
                          </ul>
                          </div>
                        </div>
                      <div class="collapsor__item">
                        <h2 class="collapsor__header">Výroční zprávy a finanční výkazy</h2>
                        <div class="collapsor__body">
                            <ul>
                              <li><a href = "/files/financni-vykazy-audit-HARDWARIO-2021.pdf" target="_blank">Auditované finanční výkazy za rok 2021 (PDF)</a></li>
                              <li><a href = "/files/financni-vykazy-audit-HARDWARIO-2020.pdf" target="_blank">Auditované finanční výkazy za rok 2020 (PDF)</a></li>
                            </ul>
                        </div>
                      </div>
                      <div class="collapsor__item">
                        <h2 class="collapsor__header">Stanovy společnosti</h2>
                        <div class="collapsor__body">
                            <ul>
                              <li><a href = "/files/HARDWARIO_Stanovy-220923.pdf" target="_blank">Stanovy společnosti HARDWARIO a.s. (PDF)</a></li>
                            </ul>
                        </div>
                      </div>
                    
                      <div class="collapsor__item">
                        <h2 class="collapsor__header">Valné hromady a další povinně zveřejněné informace</h2>
                        <div class="collapsor__body">
                            <ul>
                              <li><a href = "/files/pozvanka-na-VH_HARDWARIO_20220930.pdf" target="_blank">Pozvánka na valnou hromadu 30.9.2022 (PDF)</a></li>
                            </ul>
                            <p class = "pb-10">Níže uvedený informativní dokument je určen výhradně pro akcionáře společnosti jako podklad pro účely rozhodnutí o zvýšení základního kapitálu společnosti. Není určen veřejnosti.</p>
                            <p class = "pb-10">Tento dokument v žádném ohledu neznamená nabídku nebo výzvu k prodeji nebo nákupu cenných papírů. Údaje zde obsažené mají čistě informativní charakter a jsou určeny výlučně stávajícím akcionářům a výlučně pro účely pozvánky na valnou hromadu společnosti, která bude rozhodovat o zvýšení základního kapitálu společnosti.</p>
                            <p class = "pb-10">Případná veřejná nabídka akcií bude v České republice zahájena až po schválení prospektu ze strany ČNB (očekává se do 4.10.2022) a jeho uveřejnění v souladu s Nařízením Evropského parlamentu a Rady (EU) 2017/1129 o prospektu, který má být uveřejněn při veřejné nabídce nebo přijetí cenných papírů k obchodování na regulovaném trhu. Pokud se veřejná nabídka uskuteční, bude schválený prospekt před zahájením nabídky k dispozici na webových stránkách Společnosti.</p>
                            <ul>
                              <li><a href = "#" class = "openDocument">Informativní podklad pro akcionáře společnosti HARDWARIO (PDF)</a></li>
                            </ul>
                        </div>
                      </div>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>