<header role="banner">
  <div class="bg-red text-center font-white" style="position:absolute;width:100%;z-index:9000;">
    <div class = "container">
      <div class = "col pb-5">
        <h3 class="font-18 font-md-20 font-md-lnh56 text-center">
          <!--<span class = "">Stáhněte si dokument 5 inspirativních příkladů, jak IoT technologie usnadňují digitalizaci v průmyslu</span> <a href = '#iot-document' class = "getPdf cta-button font-16 font-lnh64 font-md-lnh16 font-lg-lnh32 px-10 mx-20 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">Stáhni dokument</a></h3>-->
          <a href = "/cs/ipo/" class = "d-block d-md-inline-block py-5 py-md-0 font-white">HARDWARIO vstupuje na trh START pražské burzy. Buďte u toho!</a>
          <a href = '/cs/ipo/' class = "d-block d-md-inline-block cta-button font-16 font-lnh34 py-5 py-md-5 px-10 mx-20 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">{{ i18n "tell_me_more"}}</a>
        </h3>
      </div>
    </div>
    </div>
</header>
