<header role="banner">
  <div class="bg-darkGray text-center font-white pt-20 pb-20">
    <div class = "container">
      <div class = "col">
        <h3 class="font-20 font-md-20 pb-10 font-md-lnh56 font-weight-black">Graf a free limited early bird ticket for our #Breakfast4_0 in London on October, 15th!</h2>
        <a href="https://www.eventbrite.co.uk/e/breakfast-40-london-inspiration-from-the-world-of-internet-of-things-communications-technology-tickets-64535811349?aff=ebapi" target="_blank" class="font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red">Grab a ticket</a>
      </div>
    </div>
    </div>
</header>
