<header role="banner">
  <div class="bg-darkGray text-center font-white pt-20 pb-20">
    <div class = "container">
      <div class = "col">
        <h3 class="font-20 font-md-20 pb-10 font-md-lnh56 font-weight-black">Come to our #Breakfast4_0 event <a href = "https://www.eventbrite.co.uk/e/breakfast-40-london-inspiration-from-the-world-of-internet-of-things-communications-technology-tickets-64535813355">in London on November 19th</a> or <a href = "https://www.eventbrite.co.uk/e/snidane-40-liberec-snidane4-0-tickets-64541634767">in Liberec on November, 27th</a>!</h3>
      </div>
    </div>
    </div>
</header>
