{{ define "main" }}
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <div class="article__header">
          <div class="article__header__button">

            <h1 class="article__title mt-20">{{ .Title | safeHTML }}</h1>
            <div class="text text--perex pt-20 ">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{{ $currentLang := .Site.Language.Lang }}
{{ if ne $currentLang "de" }}

                <section>
                                <div class="">
                                    <div class="container">
                                        <div class="articles articles--2 pt-10">
                                            <div class="row d-flex align-content-stretch">
                                            
                                                  {{ $file := .File.TranslationBaseName }}
                                                  {{ $cases := where .Site.RegularPages "Section" "use-cases" }}
                                                  {{ with $cases }}
                                                    
                                                    {{ range first 5 ($cases.ByWeight) }}
                                                      {{ if in .Params.category $file }}
                                                        <div  class="col-12 col-md-6 col-lg-4">
                                                          {{ .Render "grid" }}
                                                        </div>
                                                      {{ end }}
                                                    {{ end }}

                                                    {{ if eq $file "industry" }}

                                                    <div class="col-12 col-md-12 col-lg-10 bg-darkGray py-30 mt-60 mb-60">
                                                      <div class = "row align-items-center justify-content-center">
                                                        <div class = "col-6 col-md-2 px-30">
                                                            <img loading="lazy" src="/_assets/images/checklist.svg" class="w-100 d-block mx-auto img-fluid" alt="" />
                                                        </div>
                                                        <div class = "col-12 col-md-10 pt-30 pt-md-0 text-center text-md-left font-white">
                                                        <h3 class = "font-32 font-weight-bold pb-10">{{ i18n "iot_manufacturing" }}</h3>
                                                        <p class = "font-22 pb-10">{{ i18n "iot_manufacturing_desc" }}</p>
                                                        <a href = "#iot-document" class="getPdf font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" id="click-meeting">{{ i18n "get_document" }}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                    {{ end }}

                                                    {{ range after 3 $cases.ByWeight }}
                                                      {{ if in .Params.category $file }}
                                                        <div  class="col-12 col-md-6 col-lg-4">
                                                          {{ .Render "grid" }}
                                                        </div>
                                                      {{ end }}
                                                    {{ end }}

                                                  {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>


{{ end }}


{{ end }}


{{ define "additional-scripts" }}


{{ end }}
