{{ define "main" }}


{{ $currentLang := .Site.Language.Lang }}


<section>
    <div class = "bg bg-animation pt-120 pt-md-120 pb-30">
        <div class = "container">
            <div class = "row justify-content-center">
                <div class = "col-12 col-md-10 text-center">
                    <h1 class="font-40 font-md-64 font-md-lnh70 font-weight-black pb-20 pb-md-30">{{ .Params.heading | safeHTML }}</h1>
                    <p class="font-24 font-gray2 font-lnh37">{{ .Params.perex | safeHTML }} </p>
                </div>
                <div class = "col-12 text-center mt-30 mt-md-50">
                    <object type="image/svg+xml" data="/_assets/images/hio.svg"></object>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
  
    .bg-animation{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(26,26,26,0.2) 100%);
    }
</style>


<!--
<section>
    <div class="bg-image23 fullBackground pt-50 pt-lg-0 d-flex align-items-center mb-20 mb-md-50" style = "background-image: none;">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-8 text-center text-md-left pt-md-90">
                    <h1 class="font-44 font-md-64 font-md-lnh68 font-weight-black pb-40">{{ i18n "design_manufacture" | safeHTML }}</h1>
                    <p class="font-24 font-gray2 font-lnh37 pb-40 pr-md-100">{{ i18n "works_from_batteries" | safeHTML }}</p>
                    <p class="font-24 font-gray2 font-lnh37 pb-40 pr-md-100">{{ i18n "together_with_partners" | safeHTML }}</p>
                    <--<div>
                        <a href="#products" class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "tell_me_more" }}</a>
                    </div>->
                </div>
                <div class="col-6 col-lg-4 text-center text-md-left px-0 productPhoto">
                    <img src="/_assets/images/chester-white-in.png" class="d-block w-100" alt="...">
                    <img src="/_assets/images/chester-white2.png" class="d-block w-100 productPhoto-cover" alt="...">
                    <img src="/_assets/images/chester-white-logo.png" class="d-block w-100 productPhoto-logo" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>-->

<!-- if eq $currentLang "cs" }}
<style>
    .banner{
        background-image: url(/upload/webinar-blockchain-banner.png); 
        background-size:cover;
        text-align: center;
        border-radius: 7px; 
    }
    .tag{
        background-color:#666666;
        padding: 3px 5px;
        font-weight: 900;
    }
    .banner:hover{
      text-decoration: none;
    }
    .banner:hover{
    }
</style>

<section>
    <div class = "container">
        <div class = "row pt-30 px-10 px-md-0">
            <a href = "/cs/ipo/" class = "col-12 py-30 py-md-60 px-30 shadow banner">
                <div class = "row justify-content-center text-white">
                    <div clas = "col-12 text-center">
                        <p class = "fond-14 font-md-18 pb-15"><span class = "tag mr-10">{{ i18n "banner_1" }}</span> {{ i18n "banner_2" }}</p>
                        <h2 class = "font-weight-black font-white font-24 font-md-36 font-md-lnh36 pb-25">{{ i18n "banner_3" | safeHTML }}</strong></h2>
                        <span class="d-md-inline-block cta-button font-lnh54 px-40 px-md-70 font-weight-bold font-font2 font-white bg-darkGray">{{ i18n "tell_me_more" }}</span>
                    </div>
                </div>
                
            </a>
        </div>
    </div>
</section>

 end }}-->
<!--
<section>
    <div class="fullBackground pt-50 pt-lg-0 d-flex align-items-center" style = "background-image: none;">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-lg-8 text-center pt-md-90">
                    <h1 class="font-44 font-md-66 font-md-lnh68 font-weight-black pb-40">{{ i18n "design_manufacture" | safeHTML }}</h1>
                    <div>
                        <a href="#products" class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "tell_me_more" }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->


<style>
    .content-block{
        background-image: linear-gradient(to bottom right, #ebb50e, #ffd966); 
        background-size: 100%; 
        border-radius: 7px;
    }
    .content-block--gray{
        background-image: linear-gradient(to bottom right, #cccccc, #b1adad); 
    }
    .content-block--gray2{
        background-image: linear-gradient(to bottom right, #ffffff, #ececec); 
    }

    .chester-1{
        background-size: 90%; 
        border-radius: 7px; 
        background-position: 50% 30px; 
        background-image: url('/_assets/images/chester-white-in.png');
        background-repeat: no-repeat;
        height: 550px;
    }
    
    

    @media(max-width: 1280px){
        .chester-1{
            background-position: 50% 50%;
            height: 600px;
        }
    }
    @media(max-width: 768px){
        .chester-1{
            height: 600px;
            background-size: 80%;
            background-position: 50% 50%;
        }
    }
    @media(max-width: 699px){
        .chester-1{
            height: 350px;
            background-size: 90%; 
            background-position: 50% 0%;
        }
    }
</style>

<section>
    <div class = "container">
        <div class = "row justify-content-center pt-60">
            <div class="col-12 col-md-8 pb-30 mx-auto text-center">
                <h2 class = "font-40 font-lnh48 font-md-52 font-weight-black font-md-lnh56 pb-10">{{ i18n "meet_platforms" }}</h2>
                <p class="font-24 font-gray2 font-lnh37 pb-10">{{ i18n "platforms_description" }}</p>
                <!--<div class="font-redLined font-red font-font2 font-weight-bold font-15"><span>{{ i18n "our_platforms" }}</span></div>-->
            </div>
            {{ with .Site.GetPage "/chester" }}
            <div class = "col-12 px-30 pl-md-60 mb-20 content-block">
                <div class = "row align-items-center">
                    <div class = "col-12 col-md-6 pt-40 pt-md-90 pb-30 pb-md-120">
                        <div class="font-gray2 mb-10 font-font2 font-weight-bold font-24"><span>HARDWARIO CHESTER</span></div>
                        <h2 class = "font-36 font-lnh44 font-md-52 font-weight-black font-md-lnh57 pb-30">{{ .Params.heading | safeHTML }}</h2>
                        <p class = "font-20 font-md-20 pb-10">{{ .Params.short_description }}</p>
                        <a href = "{{ .Permalink }}" class="ml-0 mr-20 mt-10 font-20 font-md-16 font-lnh54 font-weight-bold font-font2 font-red cta-button px-40 d-inline-block font-weight-bold border-red">{{ i18n "learn_more" }}</a>
                    </div>
                    <div class = "col-12 col-md-6 pt-30 pr-0 chester-1">

                    </div>
                </div>
            </div> 
            {{ end }}
            {{ with .Site.GetPage "/tower" }}
            <div class = "col-12 col-md-6 pl-0 pr-0 pr-md-10">
                <div class = "col-12 px-30 mb-20 content-block content-block--gray">
                <div class = "row">
                    <div class = "col-12 col-md-12 pt-40 pt-md-60 text-center">
                        <div class="font-gray2 mb-10 font-font2 font-weight-bold font-24"><span>HARDWARIO TOWER</span></div>
                        <h2 class = "font-36 font-lnh44 font-md-46 font-weight-black font-md-lnh57 pb-30">{{ .Params.category }}</h2>
                        <p class = "font-20 font-md-20 pb-10">{{ .Params.short_description | safeHTML }}</p>
                        <a href = "{{ .Permalink }}" class="ml-0 mr-20 mt-10 font-20 font-md-16 font-lnh54 font-weight-bold font-font2 font-red cta-button px-40 d-inline-block font-weight-bold border-red">{{ i18n "learn_more" }}</a>
                        <img src = "/_assets/images/products/tower.png" class = "mx-auto mt-20 w-100"/>
                    </div>
                </div>
                </div>
            </div>
            {{ end }}
            {{ with .Site.GetPage "/cloud" }}
            <div class = "col-12 col-md-6 pl-0 pl-md-10 pr-0">
                <div class = "col-12 px-30 mb-20 content-block content-block--gray">
                <div class = "row">
                    <div class = "col-12 col-md-12 pt-40 pt-md-60 text-center">
                        <div class="font-gray2 mb-10 font-font2 font-weight-bold font-24"><span>HARDWARIO CLOUD</span></div>
                        <h2 class = "font-36 font-lnh44 font-md-46 font-weight-black font-md-lnh57 pb-30">{{ .Params.category }}</h2>
                        <p class = "font-20 font-md-20 pb-10">{{ .Params.short_description }}</p>
                        <a href = "{{ .Permalink }}" class="ml-0 mr-20 mt-10 font-20 font-md-16 font-lnh54 font-weight-bold font-font2 font-red cta-button px-40 d-inline-block font-weight-bold border-red">{{ i18n "learn_more" }}</a>
                        <br/>
                        <img src = "/_assets/images/products/cloud.png" class = "mx-auto mt-20 w-100"/>
                    </div>
                </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<!--<div id="carousel2" class="carousel slide" data-ride="carousel2">
    <ol class="carousel-indicators">
        {{ $pages := .Data.Pages }}
        {{ $.Scratch.Set "counter" 0 }}
        {{ range where $pages ".Params.carousel" true }}
            <li data-target="#carousel2" data-slide-to="{{$.Scratch.Get "counter"}}" class="{{ .Params.carousel_status }}"></li>
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          {{ end }}
      </ol>          
    <div class="carousel-inner">
        
          {{ range where $pages ".Params.carousel" true }}
            {{ .Render "grid-carousel" }}
          {{ end }}
    </div>
    <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>-->

<div class="container ">
    <div class="articles articles--2 pb-20">
        <div class = "row justify-content-center">
            <div class="col-12 col-md-8 pb-30 mx-auto text-center">
                <h2 class = "font-40 font-lnh48 font-md-52 font-weight-black font-md-lnh57 pb-10">{{ i18n "partners_projects" | safeHTML }}</h2>
            </div>
        </div>
        <div class="row">
            <!-- skoda tpca defra surun -->
            {{ range where $pages ".Params.carousel" true }}
            <div  class="col-12 col-md-6 col-lg-4">

                {{ if eq .Params.full true }}
                    {{ .Render "grid-home-list-link" }}
                {{ else }}
                    {{ .Render "grid-home-list" }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row align-items-center pb-10 mb-md-30">
            
           <!--<div class="col-12 col-md-8 col-lg-4 mx-auto text-center">
                <div class="font-redLined font-red mb-20 font-font2 font-weight-bold font-15"><span>{{ i18n "trusted_by" }}</span></div>
            </div>-->
            <!--<div class="col-12 text-center">
                
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="135" src="/_assets/images/partners/otk.svg" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="135" src="/_assets/images/partners/unifly.svg" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="115" src="/_assets/images/partners/skanska.svg" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="95" src="/_assets/images/partners/zat.svg" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="135" src="/_assets/images/partners/arcelormittal.svg" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="95" src="/_assets/images/partners/surun.svg" alt="" />
                </span>
            </div>-->
            <div class = "col-12 text-center">
                <a href="{{ "case-studies/" | absLangURL }}" class="d-inline-block font-lnh24 d-inline-block font-weight-bold font-font2 font-red button__link">{{ i18n "other_case_studies" }}</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class = "container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-10 bg-darkGray py-30 mt-30 mb-10">
          <div class = "row align-items-center">
            <div class = "col-12 col-md-4 px-50">
                <img loading="lazy" src="/_assets/images/{{ .Params.cons_img }}" class="w-75 w-md-100 rounded-circle d-block mx-auto img-fluid" alt="" />
            </div>
            <div class = "col-12 col-md-8 pt-30 pt-md-0 text-center text-md-left font-white">
            <h3 class = "font-32 font-weight-bold pb-10">{{ i18n "free_consult" | safeHTML }}</h3>
            <p class = "font-16 pb-10">{{ .Params.consultation | safeHTML }}</p>
            <a href = "{{ .Params.cons_link }}" target="_blank" class="font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" id="click-meeting">{{ i18n "make_an_appointment" }}</a>
            </div>
        </div>
    </div>
    </div>
    </div>
  </section>

  <!--
<section>
    <div class="text-md-left pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="pb-60 col-12 text-center">
                    <h2 class="font-40 font-md-64 font-md-lnh56 font-weight-black">
                      {{ i18n "noworriesiot" }}
                    </h2>
                </div>
                <div class = "col-11">
                    <div class = "row">
                        <div class = "col-12 col-md-6 pb-30">
                            <div class = "row">
                                <div class = "col-3">
                                    <img loading="lazy" src="/_assets/images/benefits/noninvasive.svg" class="w-100 mt-20" alt="" />
                                </div>
                                <div class = "col">
                                    <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "noninvasive" }}</h3>
                                    <p class="font-18 font-lnh26">{{ i18n "noninvasive_text" | safeHTML }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class = "col-12 col-md-6 pb-30">
                            <div class = "row">
                                <div class = "col-3 text-center">
                                    <img loading="lazy" src="/_assets/images/benefits/simple.svg" class="w-50 mt-20" alt="" />
                                </div>
                                <div class = "col">
                                    <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "easy" }}</h3>
                                    <p class="font-18 font-lnh26">{{ i18n "easy_text" | safeHTML }}</p>
                                </div>
                            </div>
                        </div>

                        <div class = "col-12 col-md-6 pb-30">
                            <div class = "row">
                                <div class = "col-3">
                                    <img loading="lazy" src="/_assets/images/benefits/secure.svg" class="w-75 mt-20" alt="" />
                                </div>
                                <div class = "col">
                                    <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "secure" }}</h3>
                                    <p class="font-18 font-lnh26">{{ i18n "secure_text" }}</p>
                                </div>
                            </div>
                        </div>

                        <div class = "col-12 col-md-6 pb-30">
                            <div class = "row">
                                <div class = "col-3 text-center">
                                    <img loading="lazy" src="/_assets/images/benefits/scalable.svg" class="w-75" alt="" />
                                </div>
                                <div class = "col">
                                    <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "scalable" }}</h3>
                                    <p class="font-18 font-lnh26">{{ i18n "scalable_text" | safeHTML }}</p>
                                </div>
                            </div>
                        </div>

                        <div class = "col-12 col-md-6 pb-30">
                            <div class = "row">
                                <div class = "col-3">
                                    <img loading="lazy" src="/_assets/images/benefits/affordable.svg" class="w-75 mt-20" alt="" />
                                </div>
                                <div class = "col">
                                    <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "economical" }}</h3>
                                    <p class="font-18 font-lnh26">{{ i18n "economical_text" | safeHTML }}</p>
                                </div>
                            </div>
                        </div>

                        <div class = "col-12 col-md-6 pb-30">
                            <div class = "row">
                                <div class = "col-3">
                                    <img loading="lazy" src="/_assets/images/benefits/complex.svg" class="w-100 mt-20" alt="" />
                                </div>
                                <div class = "col">
                                    <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "comprehensive" }}</h3>
                                    <p class="font-18 font-lnh26">{{ i18n "comprehensive_text" }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->


  {{ if ne $currentLang "de" }}
  <section>
    <div class="">
      <div class="container">
        <div class="row">
            <div class="pt-60 pb-40 col-12 text-center">
                <h2 class = "font-40 font-lnh48 font-md-52 font-weight-black font-md-lnh57">
                  {{ i18n "newest_from_hardwario" }}
                </h2>
            </div>
            {{ $events := ($.Site.GetPage "section" "events").Pages }}
            {{ with $events }}
            <div class="col-12 col-xl-7">
                <div class="row align-items-start pt-30">

                    {{ range $events.ByDate }}
                    <div class="col-12 col-md-6 col-xl-6 pb-10 pb-xl-30">
                        {{ .Render "grid" }}
                    </div>
                    {{end}}
        
                </div>
            </div>
            {{ end }}

            {{ if $events }}
                <div class="col-12 col-xl-5 related">
                    <div class="row d-flex align-content-stretch">
                    {{ range first 3 (where (where .Pages "Section" "in" (slice "blog" "video") ) "Kind" "==" "page").ByDate.Reverse }}
                        {{ .Render "grid-small" }}
                    {{ end }}
                    </div>
                    <div class="row pb-30 pl-15">
                    <a href="{{ "blog/" | absLangURL }}" class="cta-button font-lnh54 px-40 d-inline-block font-weight-bold font-font2 font-gray bg-white text-decoration-none border-gray mt-10 mt-xl-30">{{ i18n "more_blog" }}</a>
                    <a href="{{ "video/" | absLangURL }}" class="cta-button font-lnh54 px-40 d-inline-block font-weight-bold font-font2 font-gray bg-white text-decoration-none border-gray ml-md-10 mt-10 mt-xl-30">{{ i18n "more_videos" }}</a>
                    </div>
                </div>
            {{ else }}
                <div class="col-12 related">
                    <div class="row d-flex align-content-stretch">
                    {{ range first 6 (where (where .Pages "Section" "in" (slice "blog" "video") ) "Kind" "==" "page").ByDate.Reverse }}
                        {{ .Render "grid-small-row" }}
                    {{ end }}
                    </div>
                    <div class="row pb-30 pl-15">
                    <a href="{{ "blog/" | absLangURL }}" class="cta-button font-lnh54 px-40 d-inline-block font-weight-bold font-font2 font-gray bg-white text-decoration-none border-gray mt-10 mt-xl-30">{{ i18n "more_blog" }}</a>
                    <a href="{{ "video/" | absLangURL }}" class="cta-button font-lnh54 px-40 d-inline-block font-weight-bold font-font2 font-gray bg-white text-decoration-none border-gray ml-md-10 mt-10 mt-xl-30">{{ i18n "more_videos" }}</a>
                    </div>
                </div>
            {{ end }}

            
        </div>
      </div>
    </div>
  </section>
{{ end }}
<footer>
{{ end }}

{{ define "additional-scripts" }}
<script type="text/javascript">
  $('.getPdf').click(function(){
    $('#downloadCaseStudy').modal({
      keyboard: false
    })
  });

</script>
{{ end }}
