{{ define "main" }}

<section>
  <div class = "py-md-200 bg-no-image" style = ""></div>
  <div class="container abs-3">
      <div class="row">
          <div class="col">
              <div class="bg-white px-xl-90 pt-40 pt-md-80">
                  <div class="row pb-10">
                      <div class="col-8 col-md-4 mx-auto text-center">
                          <div class="font-redLined font-red font-font2 font-weight-bold font-15"><span>{{ .Params.event_type }}</span></div>
                      </div>
                  </div>
                  <h1 class="font-weight-black font-36 font-md-64 text-center pb-40 pb-md-60 font-md-lnh64">{{ .Title | safeHTML }}</h1>
                  <div class="d-block d-md-flex mb-30 mb-md-60 align-items-center text-uppercase font-15 font-weight-medium">
                      <div class="pl-30 pr-md-30 pr-lg-60 border-left py-10 py-md-30">
                          <div class="font-gray3">{{ i18n "when" }}</div>
                          <span class="font-black" href="">
                            {{ if eq .Lang "cs" }}
                              {{ .Date.Day }}. {{ index $.Site.Data.mesice (printf "%d" .Date.Month) }} {{ .Date.Year }},
                            {{ else }}
                              {{ .Date.Format "2 January 2006" }},
                            {{ end }}
                            {{ .Params.time  | safeHTML}}
                          </span>
                      </div>
                      <div class="pl-30 pr-md-30 pr-lg-60 border-left py-10 py-md-30">
                          <div class="font-gray3">{{ i18n "type" }}</div>
                          <span class="font-black" href="">{{ .Params.place | safeHTML }}</span>
                      </div>
                      <div class="pl-30 pr-xl-100 border-left py-10 py-md-30">
                          <div class="font-gray3">{{ i18n "category" }}</div>
                          <span class="font-black" href="">{{ .Params.category | safeHTML}}</span>
                      </div>
                      <div class="pl-30 pr-xl-100 border-left py-10 py-md-30">
                          <div class="font-gray3">{{ i18n "price" }}</div>
                          <span class="font-black" href="">{{ .Params.price | safeHTML }}</span>
                      </div>
                      {{ if eq .Lang "cs" }}
                        <a class = "cta-button font-lnh32 font-md-lnh16 font-lg-lnh32 px-10 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-red" href = "#registrace">Přihlásit se</a>
                      {{ else }}
                        <a class = "cta-button font-lnh32 font-md-lnh16 font-lg-lnh32 px-10 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-red" href = "#register">Register now</a>
                      {{ end }}

                  </div>

                  <div class="font-22 font-lnh38 pb-0">
                    {{ .Content }}
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>

<footer>

  {{ end }}
