<div class = "col-12 col-md-4 px-10">
    <div class = "col-12 px-30 mb-20 content-block {{ with .Get "img_class" }} {{ . }} {{ end }}" style = "height: 97%;">
    <div class = "row align-items-center" style = "height: 100%;">
        <div class = "col-12 col-md-12 pt-40 pt-md-60 text-center text-white">
            {{ with .Get "heading" }}<h2 class = "font-36 font-lnh44 font-md-46 font-weight-black font-md-lnh56 pb-30">{{ . }}</h2>{{ end}}
            {{ with .Get "text" }}<p class = "font-20 font-md-20 pb-10">{{ . }}</p>{{ end }}
        </div>
    </div>
    </div>
</div>