<div class = "col-12 px-10 pr-0">
    <div class = "col-12 pl-30 pl-md-60 pr-30 pr-md-15 pb-30 pb-md-0 mb-20 content-block content-block--gray" style = "height: 97%;">
    <div class = "row">
        <div class = "col-12 col-md-6 pt-40 pt-md-60">
            {{ with .Get "heading" | safeHTML }}<h2 class = "font-36 font-lnh44 font-md-52 font-weight-black font-md-lnh56 pb-30">{{ . }}</h2>{{ end}}
            {{ with .Get "text" | safeHTML }}<p class = "font-20 font-md-20 pb-10">{{ . }}</p>{{ end }}
        </div>
        <div class = "d-none d-md-block col-12 col-md-6 pt-40 pr-0 text-center">
            {{ with .Get "img_25" }}<img src = "{{ . }}" class = "mr-0 mt-20 mb-10 w-25"/>{{ end }}
            {{ with .Get "img_50" }}<img src = "{{ . }}" class = "mr-0 mt-20 mb-10 w-50"/>{{ end }}
            {{ with .Get "img_75" }}<img src = "{{ . }}" class = "mr-0 mt-20 mb-10 w-75"/>{{ end }}
            {{ with .Get "img_100" }}<img src = "{{ . }}" class = "mr-0 mt-20 mb-10 w-100"/>{{ end }}
        </div>
    </div>
    </div>
</div>