<div class = "col-12 col-md-6 px-10">
    <div class = "col-12 px-30 mb-90 content-block content-block--gray" style = "height: 97%;">
    <div class = "row">
        <div class = "col-12 col-md-12 pt-10 pt-md-10 text-center">
            {{ with .Get "img_25" }}<img src = "{{ . }}" class = "mx-auto mt-20 mb-10 w-25"/>{{ end }}
            {{ with .Get "img_50" }}<img src = "{{ . }}" class = "mx-auto mt-20 mb-10 w-50"/>{{ end }}
            {{ with .Get "img_75" }}<img src = "{{ . }}" class = "mx-auto mt-20 mb-10 w-75"/>{{ end }}
            {{ with .Get "img_100" }}<img src = "{{ . }}" class = "mx-auto mt-20 mb-10 w-100"/>{{ end }}
            {{ with .Get "heading" }}<h2 class = "font-36 font-lnh44 font-md-46 font-weight-black font-md-lnh56 pb-30">{{ . }}</h2>{{ end}}
            {{ with .Get "text" }}<p class = "font-20 font-md-20 pb-10">{{ . }}</p>{{ end }}

        </div>
    </div>
    </div>
</div>