@import "../../node_modules/bootstrap/scss/functions";
//@import "../../node_modules/bootstrap/scss/variables";
@import "variables";
@import "../../node_modules/bootstrap/scss/mixins";

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin font1()
{
  font-family: 'Roboto', sans-serif;
}
@mixin font2()
{
  font-family: 'Roboto Mono', monospace;
}
