@import "components/basic";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/buttons";
//@import "../../node_modules/bootstrap/scss/transitions";
//@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/modal";
//@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/slick-carousel/slick/slick.scss";


@import "partials/article";
@import "partials/kit";
@import "partials/product";
@import "partials/project";
@import "partials/tableofcontent";
@import "partials/intro";

@import "partials/handbook";
@import "partials/collapsor";

@import "partials/checklist";

@import "partials/modules";
@import "partials/contentfilter";
@import "partials/specification";
@import "partials/tooltip";
@import "partials/contactbox";
@import "partials/slick";
@import "partials/modal";
@import "partials/pricelist";
@import "partials/youtube";
