.shop_link{
  background-image: url("../images/icons/external-link.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 5px center;
  background-color: #e30427;
  padding-left: 7px;
  padding-right: 10px;
  margin-right: 20px;
  color: white!important;

  &:hover{
    background-color: #b1031e;
  }
}
