<div class="container abs-3">
    <div class="row">
        <div class="col">
            <div class="bg-white px-xl-90 pt-30 pt-md-60">
                <div class="row pb-20">
                    <div class="col-10 col-md-5 mx-auto text-center">
                        <div class="font-redLined font-red font-font2 font-weight-bold font-15"><span>{{ i18n "case_study" }}</span></div>
                    </div>
                </div>

                {{ .Inner | safeHTML }}


            </div>
        </div>
    </div>
</div>
