{{ define "second-nav" }}
<div class = "second-nav">
    <div class = "container">
      <div class = "row">
        <div class="col-2 text-left">
         
        </div>
        <div class = "col-10 text-left">
          <ul class = "menu">
            <li><a href = "#">About</a></li>
            {{ range where site.Menus.main "Name" .CurrentSection.Title }}
            {{ range .Children }}
            <li><a href = "{{ .URL }}">{{ .Name | safeHTML }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>

{{ end }}

{{ define "main" }}

<style>
  .banner{
      background-image: url(/upload/webinar-blockchain-banner.png); 
      background-size:cover;
      text-align: center;
      border-radius: 7px; 
  }
  .tag{
      background-color:#666666;
      padding: 3px 5px;
      font-weight: 900;
  }
  .banner:hover{
    text-decoration: none;
  }
  .banner:hover{
  }
</style>

<section>
  <div class = "container">
      <div class = "row pb-60 px-10 px-md-0">
          <div class = "col-12 py-30 py-md-60 px-60 shadow banner">
              <div class = "row justify-content-center text-white">
                  <div clas = "col-12 text-center">
                      <h1 class = "font-weight-black font-white font-42 font-md-64">{{ .Params.heading | safeHTML }}</strong></h1>
                  </div>
              </div>
              
            </div>
      </div>
  </div>
</section>

<section>
  <div class = "container pb-60">
    <div class = "row align-items-center pb-60">
      <div class = "col-12 col-md-6 pb-20 pb-md-0">
        <img src = "/_assets/images/alan-pavel.jpg" class = "w-100" />
      </div>
      <div class = "col-12 col-md-6">
        <p class ="font-16 font-md-18 pb-10">Od založení v roce 2016 plníme každodenní prací naši misi transformovat dnešek na digitální zítřek. Jsme přesvědčeni, že digitalizace přinese lidstvu významné úspory energií a výrazně zlepší podmínky života na Zemi.</p>
          <p class ="font-16 font-md-18">Proto budujeme naši partnerskou síť a sdílíme s&nbsp;ní nejlepší praktiky jak připojit co nejvíce zařízení a prostředí k internetu, jak je propojit s&nbsp;dalšími daty a jak z toho všeho vytvářet smysluplné projekty. Jsme zkušení vývojáři a obchodníci s&nbsp;globální ambicí být vedoucí firmou v oblasti dodávek průmyslových IoT zařízení.</p>
      </div>
      
    </div>

    <div class = "row align-items-center justify-content-around">
      <div class = "col-12 col-md-4 pb-30 pb-md-0">
        <blockquote class="font-16 font-md-18 text-center pb-10">
          Alan působí na různých řídících a obchodních pozicích přes 25 let, většinou ve společnostech vyrábějících zabezpečovací a komunikační systémy. Byl obchodním ředitelem JABLOTRON ALARMS a výkonným ředitelem JABLOTRON PROJECTS.

        </blockquote>
        <span class="d-block text-center font-black text-decoration-none">
          <img loading="lazy" src="/_assets/images/team/5-alan.jpg" class="rounded-circle mb-10 d-block mx-auto w-25" alt="" />
          <div class="font-18 font-lnh24 font-weight-bold">
            <div>Alan Fabik, CEO</div>
          </div>
        </span>
      </div>

      <div class = "col-12 col-md-4 pb-30 pb-md-0">
        <blockquote class="font-16 font-md-18 text-center pb-10">
          Pavel má více než 20 let zkušeností s vývojem elektroniky, embedded softwaru, řízením produktů, výrobou a sourcingem. Koordinoval několik významných hardwarových projektů v Číně. Pracoval jako vedoucí oddělení výzkumu a vývoje ve společnosti JABLOTRON ALARMS.
        </blockquote>
        <span class="d-block text-center font-black text-decoration-none">
          <img loading="lazy" src="/_assets/images/team/5-pavel.jpg" class="rounded-circle mb-10 d-block mx-auto w-25" alt="" />
          <div class="font-18 font-lnh24 font-weight-bold">
            <div>Pavel Hübner, CTO</div>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>

<section>

    <div class="container">
        <div class="row align-items-center pb-30 mb-md-30">
            <div class="col-9 col-md-6 col-lg-4 pb-30 mx-auto text-center">
                <div class="font-redLined font-red font-font2 font-weight-bold font-15"><span>HARDWARIO v médiích</span></div> 
            </div>
          <div class="col-12 text-center">
              <a href = "https://forbes.cz/chytre-regaly-i-monitoring-dronu-byvaly-spin-off-jablotronu-slape-do-internetu-veci/" target = "_blank" class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="140" src="/_assets/images/media/forbes.svg" alt="" />
              </a>
              <a href = "https://cc.cz/vyuzit-pristroje-ku-prospechu-lidstva-hardwario-alana-fabika-internetem-veci-zefektivnuje-vyrobu-i-chrani-africke-slony/" target = "_blank" class="px-10 px-md-30 pt-10 mb-10 mb-md-0 d-inline-block">
                  <img width="160" src="/_assets/images/media/czechcrunch.svg" alt="" />
                </a>
              <a href = "https://www.iotforall.com/podcasts/e195-challenges-in-hardware-development" target = "_blank" class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="135" src="/_assets/images/media/IoT-For-All.jpg" alt="" />
                </a>
              <a href = "https://www.seznamzpravy.cz/clanek/ekonomika-b2b-zmerime-uplne-vsechno-rika-alan-fabik-zakladatel-startupu-hardwario-195815" target = "_blank" class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="135" src="/_assets/images/media/seznam.svg" alt="" />
                </a>
              <a href = "https://zpravy.aktualne.cz/ekonomika/alan-fabik/r~5354f7a63b9611ebb0f60cc47ab5f122/" target = "_blank" class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                <img width="135" src="/_assets/images/media/aktualne.png" alt="" />
              </a>
            <a href = "https://www.lupa.cz/aktuality/cesti-vyvojari-eman-za-miliony-kupuji-podil-ve-firme-hardwario-zname-i-diky-bigclownu/" target = "_blank" class="px-10 px-md-30 mt-20 mb-20 mb-md-0 d-inline-block">
                <img width="135" src="/_assets/images/media/lupa.svg" alt="" />
              </a>
            <a href = "https://www.zive.cz/clanky/bigclown-cesti-konkurenti-arduina-vybrali-na-indiegogu-30-tisic-dolaru/sc-3-a-192350/default.aspx" target = "_blank" class="px-10 px-md-30 mt-20 mb-20 mb-md-0 d-inline-block">
                  <img width="85" src="/_assets/images/media/zive.svg" alt="" />
                </a>
            <a href = "https://www.deloitte.cz/dcast/#2022-03-15" target = "_blank" class="px-10 px-md-30 mt-20 mb-20 mb-md-0 d-inline-block">
              <img width="85" src="/_assets/images/media/dcast.png" alt="" />
            </a>
          </div>
        </div>
    </div>
  
</section>
<div class = "bg bg-gray py-60">
<section>
  <div class = "container">
  <div class = "row align-items-center">
    <div class = "col-12 col-md-6">
      <img src = "/_assets/images/partners.svg" class = "w-100" />
    </div>
    <div class = "col-12 col-md-6">
      <div class = "row pb-60">
        <div class = "col-12">
          <h2 class="pb-10 font-weight-black font-30 font-md-36 font-md-lnh48 pb-30">Čtyři pobočky a desítky partnerů po celém světě</h2>
        </div>
        <div class = "col-6 pb-20">
          
          <p><strong>United Kingdom</strong></br>
          HARDWARIO LTD</br>
          10 John Street</br>
          London WC1N 2EB</br>
          UNITED KINGDOM</p>
        </div>
        <div class = "col-6 pb-20">
          <p><strong>Czech Republic</strong></br>
            HARDWARIO a.s.</br>
            U Jezu 525/4</br>
            460 01 Liberec</br>
            ČESKO</p>
        </div>
        <div class = "col-6">
          <p><strong>United States</strong></br>
          HARDWARIO LLC</br>
          17515 Hollyberry Lane,</br>
          Sugar Land, Texas 77479</br>
          SPOJENÉ STÁTY</p>
        </div>
        <div class = "col-6">
          <p><strong>Poland</strong></br>
            HARDWARIO sp. z o.o.</br>
            ul. Szelągowska 49</br>
            61-626 Poznaň</br>
            POLSKO</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section>
  <div class="">
      <div class="container pt-30 pb-30" id = "video">
          <div class="row justify-content-center">
            <div class="col-9 col-md-6 col-lg-4 pb-30 mx-auto text-center">
              <div class="font-redLined font-red font-font2 font-weight-bold font-15"><span>Medailonky partnerů</span></div> 
          </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-12 col-md-3 pb-30">
                <div class = "video-container">
                  <iframe src="https://www.youtube-nocookie.com/embed/v8n9lCBsTZU?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

              <div class="col-12 col-md-3 pb-30">
                <div class = "video-container">
                  <iframe src="https://www.youtube-nocookie.com/embed/Z8-2K3drxo4?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

              <div class="col-12 col-md-3 pb-30">
                <div class = "video-container">
                  <iframe src="https://www.youtube-nocookie.com/embed/i2Xxv_0cbAM?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

              <div class="col-12 col-md-3 pb-30">
                <div class = "video-container">
                  <iframe src="https://www.youtube-nocookie.com/embed/7yAdnvl4et0?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>

<style>
  .video-container{
    display: block;
    margin:0;
    width:auto;
    margin-top: 0;
    border-radius: 7px;
    max-width: 100%;
    height: 250px;
    overflow: hidden;

  }
  .video-container iframe{
      position: relative;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
  }
</style>
<!--
<section>

    <div class="container">
        <div class="row align-items-center pb-30 mb-md-30">
          <div class="col-12 text-center">
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="140" src="/_assets/images/partners/tpca.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-10 mb-md-0 d-inline-block">
                  <img width="140" src="/_assets/images/partners/skoda.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="125" src="/_assets/images/partners/lego.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="135" src="/_assets/images/partners/unifly.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="115" src="/_assets/images/partners/skanska.svg" alt="" />
              </span>
          </div>
          <div class="col-12 text-center pt-40 d-none d-md-block">
              
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="145" src="/_assets/images/partners/vodafone.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="95" src="/_assets/images/partners/eon.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="165" src="/_assets/images/partners/recall.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="125" src="/_assets/images/partners/angelcam.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="165" src="/_assets/images/partners/ubc.svg" alt="" />
              </span>
          </div>

          <div class="col-12 text-center pt-40 d-none d-md-block">

              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="95" src="/_assets/images/partners/zat.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="135" src="/_assets/images/partners/arcelormittal.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="95" src="/_assets/images/partners/surun.svg" alt="" />
              </span>
              <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="115" src="/_assets/images/partners/defra.svg" alt="" />
              </span>

              
          </div>
        </div>
    </div>

  </section>-->

<section>
  
  <div class = "container">
    <div class = "row align-items-center">
      <div class="col-12 col-md-8">
        <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">Skvělé firmy jsou tvořeny skvělými lidmi, stejně jako u&nbsp;nás</h2>
      </div>
      <div class = "col-6 col-md-4">
        <img src = "/_assets/images/team/team1.jpg" class = "w-100 pb-30" />
      </div>
      <div class = "col-6 col-md-4">
        <img src = "/_assets/images/team/team4.JPG" class = "w-100 pb-30 pb-md-0" />
      </div>
      <div class = "col-6 col-md-4">
        <img src = "/_assets/images/team/team2.jpg" class = "w-100" />
      </div>
      <div class = "col-6 col-md-4">
        <img src = "/_assets/images/team/team3.png" class = "w-100" />
      </div>
    </div>
    
  </div>
</section>


</div>
<footer>
{{ end }}

