{{ define "main" }}
{{ $currentLang := .Site.Language.Lang }}

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row ">
              <div class="col-12 col-md-10 mx-auto text-center pt-30 pt-md-0">
                  <h1 class="text-center pb-30 font-weight-black font-42 font-md-64">{{ .Params.mainHeading | safeHTML }}</h1>
                  <p class="text-center font-24 font-lnh38">{{ .Params.description | safeHTML }}</p>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{{ if ne $currentLang "de" }}
{{ $events := ($.Site.GetPage "section" "events").Pages }}
{{ with $events }}
<section>
            <div class="submenu">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="d-flex">
                            <ul class="submenu__list list-inline mx-auto justify-content-center">
                                <li class="submenu__item list-inline-item"><a class="submenu__link submenu__link--overview" href="#overview">{{ i18n "events_list" }}</a></li>
                                <li class="submenu__item list-inline-item"><a class="submenu__link submenu__link--specification" href="#specification">{{ i18n "videos" }}</a></li>
                                <!--<li class="submenu__item list-inline-item"><a class="submenu__link submenu__link--applications" href="#applications">{{ i18n "learning_materials" }}</a></li>-->
                                <li class="submenu__item list-inline-item"><a class="submenu__link submenu__link--order" href="#order">{{ i18n "other_resources" }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{ end }}
<section>
    <div class="container pt-60 pt-md-90" id = "overview">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">{{ i18n "iot_events" | safeHTML }}</h2>
                <p class="font-18 font-lnh24">{{ i18n "come_to_event" | safeHTML }}</p>
            </div>
        </div>
        <div class="row align-items-start pb-xl-30 pt-30">

            {{ range $events.ByDate }}
            <div class="col-12 col-md-6 col-xl-4 pb-30">
                {{ .Render "grid" }}
            </div>
            {{end}}
        </div>
</div>
</section>



{{ end }}


{{ $videos := where .Site.RegularPages "Section" "video" }}
{{ with $videos }}
<section>
  <div class="xxxpt-60 pb-10 pb-md-30" id="specification">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!--<div class="row">
              <div class=" text-center col-12 mx-auto">
                  <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">{{ i18n "hardwario_videos" }}</h2>
                  <p class="font-18 font-lnh24">{{ i18n "videos_description" | safeHTML }}</p>
              </div>
          </div>-->
          <div class="articles articles--2 xxxpt-30 xxxpt-md-50 pb-30 pb-md-50">
            <div class="row d-flex align-content-stretch">

              {{ range $videos }}

              <div class="col-12 col-md-6 col-lg-4 d-flex">
              {{ .Render "grid" }}
              </div>

              {{ end }}

            </div>
            <!--<div class="row text-center">
              <div class = "col">
              <a href="{{ "video/" | absLangURL }}" class="cta-button font-lnh54 font-md-lnh40 font-lg-lnh54 px-40 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-red">{{ i18n "more_videos" }}</a>
              </div>
            </div>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!--<section>
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-30 pt-md-60 pb-50" id = "applications">
          <div class="row pb-10 pb-md-30 justify-content-center">
              <div class="col-12 col-md-8 text-center">
                  <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">{{ i18n "learning_materials" }}</h2>
                  <p class="font-18 font-lnh24">{{ i18n "materials_description" | safeHTML }}</p>
              </div>
          </div>
          <div class="articles articles--2">
            <div class="row d-flex align-content-stretch">

              {{ range first 3 .Data.Pages.ByWeight }}

              <div class="col-12 col-md-6 col-lg-4 d-flex">
              {{ .Render "grid" }}
              </div>

              {{ end }}

            </div>
            <div class="row text-center">
              <div class = "col">
              <a href="{{ "tutorials/" | absLangURL }}" class="cta-button font-lnh54 font-md-lnh24 font-lg-lnh54 px-40 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-red">{{ i18n "more_articles"}}</a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>-->
<!--<section>
    <div class="bg-gray text-center pt-60 pb-20 pb-xl-80 px-15" id = "order">
      <div class = "container">
        <h2 class="font-36 font-md-48 font-md-lnh56 pb-30 mb-5 font-weight-black">{{ i18n "other_resources" | safeHTML }}</h2>
        <div class = "row justify-content-center">
          <div class = "col-12 col-md-6 col-xl-4 pb-40 pb-xl-0">
            <h3 class="font-26 font-md-36 font-lnh38 font-md-lnh44 font-weight-black pb-0 pb-md-10">{{ i18n "projects" }}</h3>
            <p class="font-16 font-lnh24 px-15 pb-15">{{ i18n "find_an_inspiration_projects" | safeHTML }}</p>

            {{ $currentLang := .Site.Language.Lang }}
            {{ if ne $currentLang "de" }}
                <a href="{{ "projects/" | absLangURL }}" class="cta-button font-14 font-lnh48 px-20 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">{{ i18n "show_me_projects" }}</a>
            {{ else }}
                <a href="/projects/" class="cta-button font-14 font-lnh48 px-20 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">{{ i18n "show_me_projects" }}</a><br/>(in English)
            {{ end }}
          </div>

        <div class = "col-12 col-md-6 col-xl-4 pb-40 pb-xl-0">
          <h3 class="font-26 font-md-36 font-lnh38 font-md-lnh44 font-weight-black pb-0 pb-md-10">{{ i18n "documentation" }}</h3>
          <p class="font-16 font-lnh24 px-15 pb-15">{{ i18n "documentation_info" | safeHTML }}</p>
          <a href="https://tower.hardwario.com" class="cta-button font-14 font-lnh48 px-20 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">{{ i18n "show_docs" }}</a><br/>(in English)
        </div>

      <div class = "col-12 col-md-6 col-xl-4 pb-40 pb-xl-0">
          <h3 class="font-26 font-md-36 font-lnh38 font-md-lnh44 font-weight-black pb-0 pb-md-10">{{ i18n "sdk" }}</h3>
          <p class="font-16 font-lnh24 px-15 pb-15">{{ i18n "sdk_info" | safeHTML }}</p>
          <a href="https://sdk.hardwario.com" class="cta-button font-14 font-lnh48 px-20 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">{{ i18n "show_sdk" }}</a>
      </div>


      </div>


      </div>
    </div>
</section>-->
<footer>
{{ end }}

{{ define "additional-scripts" }}
<script>
  /*$(document).ready(function(){
    $("main ul").each(function() {
      $( this ).addClass( "font-list" );
    });
  });*/

  $("a[href^=\\#]").click(function(e) {
    e.preventDefault();
    var dest = $(this).attr('href');
    console.log(dest);
    $('html,body').animate({ scrollTop: $(dest).offset().top }, 'slow');
  });
</script>
{{ end }}
