{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}


{{ define "main" }}

<section>
    <div class="bg-image4 pt-lg-0 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-md-left">

                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-7 col-xl-6">
                            <div class="font-redLinedRight font-red mb-10 font-font2 font-weight-bold font-15"><span>CHESTER</span></div>
                        </div>
                    </div>

                    <h1 class="font-40 font-md-64 font-weight-black pb-40 font-md-lnh64">Multipurpose IoT&nbsp;LPWAN&nbsp;Hub</h1>
                    <p class="font-24 font-lnh37 pb-20 mb-md-20">
                      A multipurpose IoT LPWAN Hub, used for monitoring of environment, processes or position as well as IoT LPWAN Hub for connecting external sensors. Can transfer any data from various sources
                      and interfaces through Narrowband IoT or LoRa and can run on a battery for up to 5&nbsp;years.</p>
                    <div>
                        <a href="#benefits" class="font-lnh54 px-50 d-inline-block font-weight-bold font-font2 font-white bg-red">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bg-gray" id = "benefits">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row pt-70 pb-10 pb-md-100">
                        <div class="col-12 col-md-4 mx-auto text-center">
                            <div class="font-redLined font-redLined-gray font-red mb-40 font-font2 font-weight-bold font-15"><span>Key benefits</span></div>

                            <!--<h2 class="text-center pb-20 font-weight-black font-30 font-md-64">Independent</h2>
                            <p class="text-center font-24 font-lnh38">Sufficient amount of correct information reduces risk and reduces waste of time and resources.</p>-->
                        </div>
                    </div>
                    <div class="row text-center align-items-center">
                        <div class="col-12 col-md-4">
                            <img src="../_assets/images/lowpower.svg" alt="" class="mb-70" width="214" />
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="../_assets/images/cloud.svg" alt="" class="mb-70" width="183" />
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="../_assets/images/customatizion.svg" alt="" class="mb-70" width="240" />
                        </div>
                    </div>
                    <div class="row text-center pb-10 mb-0 mb-md-100">
                        <div class="col-12 col-lg-4 pb-10 pb-lg-0">
                            <h3 class="font-40 font-lnh44 font-weight-black">Long-life operating</h3>
                            <p class="font-21 font-lnh34 px-15">Thanks to the low-power design the battery life-span is up to 5 years.</p>
                        </div>
                        <div class="col-12 col-lg-4 pb-10 pb-lg-0">
                            <h3 class="font-40 font-lnh44 font-weight-black">API & Integrations</h3>
                            <p class="font-21 font-lnh34 px-15">Includes ready-to-use integrations (MS Azure, Grafana...) and rest API for custom development.</p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <h3 class="font-40 font-lnh44 font-weight-black">Customizable</h3>
                            <p class="font-21 font-lnh34 px-15">Sensors, communication method and expansion modules based on your needs and needs of the project.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-darkGray text-center text-md-left font-white pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-auto pb-60 pb-lg-0">
                    <h2 class="font-40 font-lnh44 font-weight-black pr-md-100">Application<br />examples</h2>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--house mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Enviromental monitoring</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--leaf mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">IoT gateway</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--hvac mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">HVAC systems</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--facil mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Facility management</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--program mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Development kit for IoT</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
      <div class="row pt-20 pt-md-100 mt-md-30 pb-0">
          <div class="col">
              <div class="row">
                  <div class="col-12 col-md-6 mx-auto text-center">
                      <div class="font-redLined font-red mb-50 mb-md-90 font-font2 font-weight-bold font-15"><span>Case studies</span></div>
                  </div>
              </div>
              <div class="row">

                {{ range first 2 ($.Site.GetPage "section" "case-studies").Pages }}
                  {{ .Render "grid-box" }}
                {{ end }}

              </div>
          </div>
        </div>
    </div>

</section>

<section>
    <div class="bg bg-gray pt-100">
        <div class="container pt-10">
            <div class="row">
                <div class="col-12 col-lg-4 pb-30 pb-lg-60 pb-lg-0">
                    <h2 class="font-weight-black font-40 font-lnh44">Sensors, communication methods and expansions</h2>
                </div>
                <div class="col pb-100">
                    <div class="row pb-50">
                        <div class="col-12 col-md pb-40 pb-md-0">
                            <p class="font-20 pr-lg-100 font-lnh33">
                              Lithium Battery 3.6 V / 5.8 Ah<br/>
                              GNSS (GPS)<br/>
                              Hygrometer<br/>
                              Thermometer<br/>
                              Bluetooth Low Energy<br/>
                              LPWAN NB-IoT<br/>
                              LPWAN LoRa<br/>
                            </p>
                        </div>
                        <div class="col-12 col-md">
                            <p class="font-20 pr-lg-100 font-lnh33">
                              1-Wire expansion<br/>
                              UART expansion<br/>
                              RS-485 expansion<br/>
                              DC/DC expansion<br/>
                              ADC expansion<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="pricelist pricelist--bottom-3-5 pt-80">
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-4">
                                        <div class="pricelist__item">
                                            <div class="pricelist__content">
                                                <div class="logo logo--2"></div>
                                                <h3 class="pricelist__title">Pilot</h3>
                                                <div class="pricelist__title2 text-uppercase">Order of 10 pieces or more</div>

                                              <ul class="pricelist__items font-list">
                                                    <li class="pricelist__items__item">Temperature monitoring</li>
                                                    <li class="pricelist__items__item">Humidity monitoring</li>
                                                    <li class="pricelist__items__item">Accelerometer</li>
                                                    <li class="pricelist__items__item">LED</li>
                                                    <li class="pricelist__items__item">NB-IoT</li>
                                                    <li class="pricelist__items__item">Bluetooth Low Energy</li>
                                                    <li class="pricelist__items__item">API</li>
                                                    <li class="pricelist__items__item">Ready to use integrations (Grafana, Microsoft IoT Hub...)</li>
                                                    <li class="pricelist__items__item">Mobile App</li>
                                                    <li class="pricelist__items__item">Any other sensor or expansion for a fee</li>
                                                    <li class="pricelist__items__item minus pricelist__items__item--disabled">Immediate lending of the device for testing</li>
                                                    <li class="pricelist__items__item minus pricelist__items__item--disabled">Bespoke customatizion of the case for a fee</li>
                                                </ul>

                                                <div class="pricelist__discount">&nbsp;</div>
                                                <div class="pricelist__price">from €120.90</div>
                                                <!--<div class="pricelist__pricelist">
                                                  <span target="_blank" class="getPricelist d-block text-decoration-underline font-font2 font-weight-bold font-16 font-black">
                                                    Send me full pricelist
                                                  </span>
                                                </div>-->

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="pricelist__item pricelist__item--rec">
                                            <div class="pricelist__content">
                                                <div class="pricelist__rec">RECOMMENDED</div>
                                                <div class="logo logo--2"></div>
                                                <h3 class="pricelist__title">Project</h3>
                                                <div class="pricelist__title2 text-uppercase">Order of 100 pieces or more</div>

                                              <ul class="pricelist__items font-list">
                                                  <li class="pricelist__items__item">Temperature monitoring</li>
                                                  <li class="pricelist__items__item">Humidity monitoring</li>
                                                  <li class="pricelist__items__item">Accelerometer</li>
                                                  <li class="pricelist__items__item">LED</li>
                                                  <li class="pricelist__items__item">NB-IoT</li>
                                                  <li class="pricelist__items__item">Bluetooth Low Energy</li>
                                                  <li class="pricelist__items__item">API</li>
                                                  <li class="pricelist__items__item">Ready to use integrations (Grafana, Microsoft IoT Hub...)</li>
                                                  <li class="pricelist__items__item">Mobile App</li>
                                                  <li class="pricelist__items__item">Any other sensor or expansion for a fee</li>
                                                    <li class="pricelist__items__item">Immediate lending of the device for testing</li>
                                                    <li class="pricelist__items__item minus pricelist__items__item--disabled">Bespoke customatizion of the case for a fee</li>
                                                </ul>

                                                <div class="pricelist__discount">Save 10%</div>
                                                <div class="pricelist__price">from €108.8</div>
                                                <!--<div class="pricelist__pricelist">
                                                  <span target="_blank" class="getPricelist d-block text-decoration-underline font-font2 font-weight-bold font-16 font-black">
                                                    Send me full pricelist
                                                  </span>
                                                </div>-->


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="pricelist__item">
                                            <div class="pricelist__content">
                                                <div class="logo logo--2"></div>
                                                <h3 class="pricelist__title">Business</h3>
                                                <div class="pricelist__title2 text-uppercase">Order of 1000 pieces or more</div>

                                              <ul class="pricelist__items font-list">
                                                  <li class="pricelist__items__item">Temperature monitoring</li>
                                                  <li class="pricelist__items__item">Humidity monitoring</li>
                                                  <li class="pricelist__items__item">Accelerometer</li>
                                                  <li class="pricelist__items__item">LED</li>
                                                  <li class="pricelist__items__item">NB-IoT</li>
                                                  <li class="pricelist__items__item">Bluetooth Low Energy</li>
                                                  <li class="pricelist__items__item">API</li>
                                                  <li class="pricelist__items__item">Ready to use integrations (Grafana, Microsoft IoT Hub...)</li>
                                                  <li class="pricelist__items__item">Mobile App</li>
                                                  <li class="pricelist__items__item">Any other sensor or expansion for a fee</li>
                                                    <li class="pricelist__items__item">Immediate lending of the device for testing</li>
                                                    <li class="pricelist__items__item">Free bespoke customatizion of the case</li>
                                                </ul>

                                                <div class="pricelist__discount">Save 20%</div>
                                                <div class="pricelist__price">from 96.60€</div>
                                                <!--<div class="pricelist__pricelist">
                                                  <span target="_blank" class="getPricelist d-block text-decoration-underline font-font2 font-weight-bold font-16 font-black">
                                                    Send me full pricelist
                                                  </span>
                                                </div>-->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
          <div class = "container">
          <div class="row justify-content-center">
            <div class="pt-70 pb-60 px-15 col-12 col-md-6 text-center">
              <h2 class="font-40 font-md-64 font-md-lnh56 pb-30 mb-5 font-weight-black">
                Get more info about CHESTER
              </h2>
              <p class="font-24 pb-40">
                Are you interested in CHESTER? Let us know, we will send you product sheet, case studies and full pricelist.
              </p>
              <a href = "#" class="getOffer font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" data-toggle="modal" data-target=".bd-example-modal-lg">Send me materials</a>
            </div>
          </div>
          </div>
          <div id = "offerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">Get more information about CHESTER and HARDWARIO</h2>
                      </div>
                      <div class="col-md-8 text-center">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                          hbspt.forms.create({
                        	portalId: "5453210",
                        	formId: "68e0201e-eb86-49e8-8170-2d68345ad148"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--<div id = "pricelistModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">Send me CHESTER pricelist</h2>
                      </div>
                      <div class="col-md-8 text-center">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                          hbspt.forms.create({
                        	portalId: "5453210",
                        	formId: "ac1f84ad-0918-452b-8d44-926c39a9d2aa"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->

          <script>
          // Set the date we're counting down to
          var countDownDate = new Date("Jan 10, 2020 11:00:00").getTime();

          // Update the count down every 1 second
          var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("countdown").innerHTML = days + " days";

            // If the count down is finished, write some text
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("countdown").innerHTML = "EXPIRED";
            }
          }, 1000);
          </script>

          <script type="text/javascript">
            $('.getOffer').click(function(){
              $('#offerModal').modal({
                keyboard: false
              })
            });

          </script>

          <script type="text/javascript">
            $('.getPricelist').click(function(){
              $('#pricelistModal').modal({
                keyboard: false
              })
            });

          </script>
        </section>

        <footer>

{{ end }}
