{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}


{{ define "main" }}

<section>
    <div class="bg-image16 d-flex">
        <div class="container">
              <div class="row">
                  <div class="col-8 col-md-6 col-lg-4 col-xl-3 mx-auto text-center">
                      <div class="font-redLined font-redLined-gray font-red mb-10 font-font2 font-weight-bold font-15"><span>CHESTER</span></div>
                  </div>
              </div>
              <div class="row pb-10 pb-md-30">
                  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                      <h2 class="text-center pb-20 font-weight-black font-40 font-md-58 font-xl-66 font-md-lnh68">{{ i18n "multipurpose_hub" | safeHTML }}</h2>
                  </div>
              </div>
        </div>
    </div>
</section>

<section>
            <div class="submenu">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="submenu__list d-block d-md-flex">
                                <li class="submenu__item"><a class="submenu__link submenu__link--overview" href="#overview">{{ i18n "overview" }}</a></li>
                                <li class="submenu__item"><a class="submenu__link submenu__link--applications" href="#applications">{{ i18n "applications"}}</a></li>
                                <li class="submenu__item"><a class="submenu__link submenu__link--specification" href="#specification">{{ i18n "tech_specs" }}</a></li>
                                <li class="submenu__item ml-auto"><a class="cta-button font-lnh64 font-md-lnh16 font-lg-lnh32 px-10 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray" href="#order">{{ i18n "order" }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<section>
    <div class="container pt-80 pb-50" id = "overview">
        <div class="row mb-40">
            <div class="col">
                <div class="row">
                    <div class="col-8 col-md-6 col-lg-4 col-xl-3 mx-auto text-center">
                        <div class="font-redLined text-center font-red mb-10 font-font2 font-weight-bold font-15"><span>{{ i18n "about_chester" }}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "prototype_product" }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">{{ i18n "multipurpose_use" | safeHTML }}</h2>
                <p class="font-20 font-lnh30">{{ i18n "one_device_many_applications" | safeHTML }}</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/multipurpose.svg" class="w-75 mt-10 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/cloud.svg" class="w-50 movingObject movingObject--noShadow" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">{{ i18n "lpwan_connectivity" | safeHTML }}</h2>
                <p class="font-20 font-lnh30">{{ i18n "economical_internet_communication" | safeHTML }}</p>
                <img loading="lazy" src="/_assets/images/lpwan_brands.png" class="pt-30 w-100" alt="" />
            </div>
        </div>

        <div class="row pb-0 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "low_power_consumption" | safeHTML }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">{{ i18n "low_power_consumption" | safeHTML }}</h2>
                <p class="font-20 font-lnh30">{{ i18n "10years_from_batteries" | safeHTML }}</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/lowpower.svg" class="w-50 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/integrations.svg" class="w-50 movingObject movingObject--noShadow" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">{{ i18n "integrate_device" | safeHTML }}</h2>
                <p class="font-20 font-lnh30">{{ i18n "hundreds_of_services" | safeHTML }}</p>
            </div>
        </div>
      </div>
</section>

<div id = "applications">
<section>
    <div class="bg-darkGray text-center text-md-left font-white pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-auto pb-60 pb-lg-0">
                    <h2 class="font-40 font-lnh44 font-weight-black pr-md-100">{{ i18n "applications" }}</h2>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--monitoring mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">{{ i18n "monitoring_quantities" | safeHTML }}</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--telemetry mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">{{ i18n "telemetry" | safeHTML }}</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--lpwan mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">{{ i18n "lpwan_tester" | safeHTML }}</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--control mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">{{ i18n "remote_control" | safeHTML }}</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--tracking mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">{{ i18n "tracking" | safeHTML }}</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--home mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">{{ i18n "smart_home" | safeHTML }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ with .Site.GetPage "/case-studies/eon" }}
  {{ .Render "grid-home" }}
{{ end }}

</div>

<div id = "specification">
<section>
    <div class="bg pt-40">
        <div class="container pt-10">
          <div class="row justify-content-center">
            <div class="pt-10 pt-md-60 pb-10 pt-md-40 px-15 col-12 col-md-6 text-center">
              <h2 class="font-40 font-md-64 font-md-lnh56 pb-30 mb-5 font-weight-black">
                Hardware
              </h2>
            </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-12 col-md-6 frame">
                <div class="frame__inner">
                  <img class="frame__image" alt="" src="/_assets/images/chester-schema.svg">
                  <div class="redhotspot" id="fhotspot1" rel="tooltip" style="top: 5.8%; left: 6.5%;" title="MCU / BLE {{ i18n "module" }}"></div>
                  <div class="redhotspot" id="fhotspot2" rel="tooltip" style="top: 5.8%; left: 47.2%;" title="GPS / Galileo / GLONASS {{ i18n "module" }}"></div>
                  <div class="redhotspot" id="fhotspot3" title="NB-IoT {{ i18n "antenna_connector" }}" rel="tooltip" style="top: 10%; left: 78%;"></div>
                  <div class="redhotspot" id="fhotspot4" rel="tooltip" style="top: 25%; left: 74%;" title="NB-IoT {{ i18n "module" }}"></div>
                  <div class="redhotspot" id="fhotspot5" rel="tooltip" style="top: 16.5%; left: 31.5%;" title="LoRa {{ i18n "antenna_connector" }}"></div>
                  <div class="redhotspot" id="fhotspot6" rel="tooltip" style="top: 25%; left: 27.5%;" title="LoRa {{ i18n "module" }}"></div>
                  <div class="redhotspot" id="fhotspot7" rel="tooltip" style="top: 29%; left: 60%;" title="{{ i18n "embedded" }} SIM chip (MFF2)"></div>
                  <div class="redhotspot" id="fhotspot8" rel="tooltip" style="top: 25%; left: 47.2%;" title="Micro-SIM slot (3FF)"></div>
                  <div class="redhotspot" id="fhotspot9" title="{{ i18n "battery_holder" }}" rel="tooltip" style="top: 50%; left: 47.2%;"></div>
                  <div class="redhotspot" id="fhotspot10" title="{{ i18n "cryptochip"}}" rel="tooltip" style="top: 44%;left: 4%;"></div>
                  <div class="redhotspot" id="fhotspot10" title="{{ i18n "accelerometer"}}" rel="tooltip" style="top: 35%;left: 3%;"></div>
                  <div class="redhotspot" id="fhotspot11" title="{{ i18n "thermometer" }}" rel="tooltip" style="top: 53%; left: 0%;"></div>
                  <div class="redhotspot" id="fhotspot12" title="{{ i18n "humidity_meter" }}" rel="tooltip" style="top: 64%;left: 0%;"></div>
                  <div class="redhotspot" id="fhotspot13" title="" rel="tooltip" style="top: 82%; left: 11.5%;"></div>
              </div>
            </div>


                      <div class="col-12 col-md-6 specification">

                                    <table>
                                        <tr>
                                            <td><strong>{{ i18n "power_voltage" }}</strong></td>
                                            <td>3.6 V</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "sleep_consumption" }}</strong></td>
                                            <td>< 50 μA</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "maximum_consumption" }}</strong></td>
                                            <td>500 mA</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "battery_capacity" }}</strong></td>
                                            <td>5800 mAh</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "temperature_accuracy" }}</strong></td>
                                            <td>± 0.3 °C</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "humidity_accuracy" }}</strong></td>
                                            <td>±3%</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "working_temperature_range" }}</strong></td>
                                            <td>-40 až +70 °C</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "storage_temperature_range" }}</strong></td>
                                            <td>-40 až +85 °C</td>
                                        </tr>
                                        <tr>
                                            <td><strong>{{ i18n "degree_protection" }}</strong></td>
                                            <td>IP67</td>
                                        </tr>
                                    </table>
                                    <div class = "text-center">
                                      <a href = "{{ .Params.leaflet }}" target="_blank" class = "cta-button font-14 font-lnh48 px-20 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray mt-20">{{ i18n "download_leftlet" }}</a>
                                      <p>(.PDF, 339 KB)</p>
                                    </div>
                        </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="pt-100">
        <div class="container pt-10">
            <div class="row">
                <div class="col-12 col-lg-12 pb-30">
                    <h2 class="font-weight-black font-40 font-lnh44">{{ i18n "extension_options" }}</h2>
                </div>
                <div class="col">
                    <div class="row pb-50">

                        <div class="col-12 pb-40 pb-md-0 specification">
                          <div class = "table-responsive">
                          <table class = "table">
                            <thead class="thead-default font2">
                            <tr>
                            <th>{{ i18n "module" }}</th>
                            <th>{{ i18n "interface" }}</th>
                            <th>{{ i18n "description_examples" }}</th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td><strong>CHESTER-X0A</strong></td>
                                  <td>{{ i18n "i2c" }}</td>
                                  <td>{{ i18n "ext_temp_hum"}} </td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X0B</strong></td>
                                  <td>{{ i18n "ultrasound"}}</td>
                                  <td>{{ i18n "level_measurement" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X0C</strong></td>
                                  <td>{{ i18n "4_ext_input" }}</td>
                                  <td>{{ i18n "analog_digital" }}</td>
                              </tr>

                              <tr>
                                  <td><strong>CHESTER-X0D</strong></td>
                                  <td>{{ i18n "4_switch" }}</td>
                                  <td>{{ i18n "buttons_etc" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X1</strong></td>
                                  <td>{{ i18n "1_wire" }}</td>
                                  <td>{{ i18n "temp_soil" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X2A</strong></td>
                                  <td>TTL/CMOS UART</td>
                                  <td>{{ i18n "reading_data_devices" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X2B</strong></td>
                                  <td>{{ i18n "rs_485" }}</td>
                                  <td>{{ i18n "modbus" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X3A</strong></td>
                                  <td>{{ i18n "pt1000" }}</td>
                                  <td>{{ i18n "rtd_temp" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X3B</strong></td>
                                  <td>{{ i18n "thermocouples" }}</td>
                                  <td>{{ i18n "extrem_temp" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X4A</strong></td>
                                  <td>{{ i18n "dc_dc" }}</td>
                                  <td>{{ i18n "ext_supply" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X4B</strong></td>
                                  <td>X4A + 1W</td>
                                  <td>{{ i18n "connect_industry_sensors" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X4C</strong></td>
                                  <td>X4A + 1W + 4-20mA</td>
                                  <td>{{ i18n "connect_industry_sensors" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X5</strong></td>
                                  <td>{{ i18n "analog_input" }}</td>
                                  <td>{{ i18n "tension_accurate_measurement" }}</td>
                              </tr>
                              <tr>
                                  <td><strong>CHESTER-X6</strong></td>
                                  <td>{{ i18n "strain_gauge" }}</td>
                                  <td>{{ i18n "accurate_weight_measurement" }}</td>
                              </tr>
                              </tbody>
                          </table>
                          </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<section>
                <div class="bg-darkGray font-white ">
                    <div class="container pt-50">
                        <div class="row">
                          <div class="col-12 col-lg-12 pb-30 text-center">
                              <h2 class="font-weight-black font-40 font-lnh44">{{ i18n "usage_examples" }}</h2>
                          </div>
                            <div class="col">
                                <div class="slick">

                                  {{ $cases := where (where .Site.RegularPages "Section" "use-cases") ".Params.device" "CHESTER"  }}
                                  {{ with $cases }}
                                    {{ range $cases.ByWeight }}
                                      {{ .Render "grid" }}
                                    {{ end }}
                                  {{ end }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>



</div>

        <section>
          <div class = "container" id = "order">
          <div class="row justify-content-center">
            <div class="pt-10 pt-md-60 col-12 col-md-7 text-center">
              <h2 class="font-32 font-md-54 font-md-lnh56 font-weight-black">
                {{ i18n "get_chester" }}
              </h2>
              <p class="font-18 pt-5 pb-20">
                {{ i18n "chester_price" | safeHTML }}
              </p>
              <a href = "#" data-target = "pricelistModal" class = "openModal font-lnh24 font-weight-bold font-font2 font-red button__link getPricelist">{{ i18n "get_chester_pricelist" | safeHTML }}</a>
              <a href = "{{ i18n "buy_chester_tester_link" }}" class = "font-lnh24 font-weight-bold font-font2 font-red button__link">{{ i18n "buy_chester_tester" | safeHTML }}</a>
              <!--<a href = "#" class="getOffer font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" data-toggle="modal" data-target=".bd-example-modal-lg">Send me materials</a>-->
            </div>
            <div class=" col-12 col-md-6 text-center">
              <img loading="lazy" src="/_assets/images/chester-device.svg" class="w-50 mt-20 movingObject" alt="" />
              <div class = "pb-20">
                <a href="#" data-target = "offerModal" class="openModal getOffer font-lnh24 py-15 px-20 px-md-40 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "interested_in_chester" }}</a>
              </div>
            </div>
          </div>
          </div>



          <div id = "offerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">{{ i18n "interested_in_chester" }}</h2>
                      </div>
                      <div class="col-md-8 text-center" style = "margin-right: -4px;">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                        jQuery(window).scroll(function() {
                            if (!jQuery('.hbspt-form').length) {
                                hbspt.forms.create({
                                  portalId: "5453210",
                                  formId: "{{ .Params.form_id }}"
                                });
                            }
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>


<section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="contactbox">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="contactbox__item">
                                    <div class="contactbox__icon"></div>
                                    <h3 class="contactbox__text">{{ i18n "modification_integration" | safeHTML }}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="contactbox__item">
                                    <div class="contactbox__icon contactbox__icon--warranty"></div>
                                    <h3 class="contactbox__text">{{ i18n "extended_warranty" | safeHTML }}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="contactbox__item contactbox__item--noborder">
                                    <div class="contactbox__icon contactbox__icon--support"></div>
                                    <h3 class="contactbox__text">{{ i18n "personal_tech_support" | safeHTML }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
        <div id = "pricelistModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">{{ i18n "get_chester_pricelist" | safeHTML }}</h2>
                      </div>
                      <div class="col-md-8 text-center" style = "margin-right: -4px;">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                                hbspt.forms.create({
                                  portalId: "5453210",
                                  formId: "{{ .Params.cherster_pricelist_form_id }}"
                                });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <footer>
{{ end }}

{{ define "additional-scripts" }}

<script src="/_assets/js/{{ index .Site.Data.js.hash "slick.min.js" }}"></script>

<script>
  $(".slick").slick({
    dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows:true,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 767,
                settings: {
                    slidesToShow: 1
                }
            }
        ]
});
$(window).load(function(){
  $('.slick-slide').each(function(){
    max = 0;
    height = $(this).children().children().height();
    if(height > max ){
      max = height+50;
    }
  });
  $('.slick-slide div a').height(max);
});
</script>

<script>

  $(function()
{
var targets = $( '[rel~=tooltip]' ),
target  = false,
tooltip = false,
title   = false;

targets.bind( 'mouseenter', function()
{
target  = $( this );
tip     = target.attr( 'title' );
tooltip = $( '<div id="tooltip"></div>' );

if( !tip || tip == '' )
    return false;

target.removeAttr( 'title' );
tooltip.css( 'opacity', 0 )
       .html( tip )
       .appendTo( 'body' );

var init_tooltip = function()
{
    if( $( window ).width() < tooltip.outerWidth() * 1.5 )
        tooltip.css( 'max-width', $( window ).width() / 2 );
    else
        tooltip.css( 'max-width', 340 );

    var pos_left = target.offset().left + ( target.outerWidth() / 2 ) - ( tooltip.outerWidth() / 2 ),
        pos_top  = target.offset().top - tooltip.outerHeight() - 20;

    if( pos_left < 0 )
    {
        pos_left = target.offset().left + target.outerWidth() / 2 - 20;
        tooltip.addClass( 'left' );
    }
    else
        tooltip.removeClass( 'left' );

    if( pos_left + tooltip.outerWidth() > $( window ).width() )
    {
        pos_left = target.offset().left - tooltip.outerWidth() + target.outerWidth() / 2 + 20;
        tooltip.addClass( 'right' );
    }
    else
        tooltip.removeClass( 'right' );

    if( pos_top < 0 )
    {
        var pos_top  = target.offset().top + target.outerHeight();
        tooltip.addClass( 'top' );
    }
    else
        tooltip.removeClass( 'top' );

    tooltip.css( { left: pos_left, top: pos_top } )
           .animate( { top: '+=10', opacity: 1 }, 50 );
};

init_tooltip();
$( window ).resize( init_tooltip );

var remove_tooltip = function()
{
    tooltip.animate( { top: '-=10', opacity: 0 }, 50, function()
    {
        $( this ).remove();
    });

    target.attr( 'title', tip );
};

target.bind( 'mouseleave', remove_tooltip );
tooltip.bind( 'click', remove_tooltip );
});
});

</script>
<script type="text/javascript">
  $('.openModal').click(function(){
    var getId = "#" + $(this).attr('data-target');

    $(getId).modal({
      keyboard: false
    })

  });

</script>

<script>
  /*$(document).ready(function(){
    $("main ul").each(function() {
      $( this ).addClass( "font-list" );
    });
  });*/

  $("a[href^=\\#]").click(function(e) {
    e.preventDefault();
    var dest = $(this).attr('href');
    console.log(dest);
    $('html,body').animate({ scrollTop: $(dest).offset().top }, 'slow');
  });
</script>

{{ end }}
