{{ define "header" }}
  {{ partial "header-nonav.html" . }}
{{ end }}


{{ define "main" }}

<section>
    <div class="bg-image4 pt-lg-0 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-md-left">

                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-7 col-xl-6">
                            <div class="font-redLinedRight font-red mb-10 font-font2 font-weight-bold font-15"><span>CHESTER</span></div>
                        </div>
                    </div>

                    <h1 class="font-40 font-md-64 font-weight-black pb-40 font-md-lnh56">The most versatile NB-IoT Platform</h1>
                    <p class="font-24 font-lnh37 pb-20 mb-md-20">A multi-purpose IoT platform, used for monitoring of environment as well as in adverse climatic conditions. It transfers data through NB-IoT network and can run on a battery for up to 5 years.</p>
                    <div>
                        <a href="" class="font-lnh54 px-50 d-inline-block font-weight-bold font-font2 font-white bg-red">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row pt-70 pb-10 pb-md-100">
                        <div class="col-12 col-md-4 mx-auto text-center">
                            <div class="font-redLined font-redLined-gray font-red mb-40 font-font2 font-weight-bold font-15"><span>Key benefits</span></div>

                            <!--<h2 class="text-center pb-20 font-weight-black font-30 font-md-64">Independent</h2>
                            <p class="text-center font-24 font-lnh38">Sufficient amount of correct information reduces risk and reduces waste of time and resources.</p>-->
                        </div>
                    </div>
                    <div class="row text-center align-items-center">
                        <div class="col-12 col-md-4">
                            <img src="../_assets/images/lowpower.svg" alt="" class="mb-70" width="214" />
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="../_assets/images/cloud.svg" alt="" class="mb-70" width="183" />
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="../_assets/images/customatizion.svg" alt="" class="mb-70" width="240" />
                        </div>
                    </div>
                    <div class="row text-center pb-10 mb-0 mb-md-100">
                        <div class="col-12 col-lg-4 pb-10 pb-lg-0">
                            <h3 class="font-40 font-lnh44 font-weight-black">Long-life operating</h3>
                            <p class="font-21 font-lnh34 px-15">Thansk to the low-power design the battery life-span is up to 5 years.</p>
                        </div>
                        <div class="col-12 col-lg-4 pb-10 pb-lg-0">
                            <h3 class="font-40 font-lnh44 font-weight-black">API & Integrations</h3>
                            <p class="font-21 font-lnh34 px-15">Includes ready-to-use integrations (MS Azure, Grafana...) and rest API for custom development</p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <h3 class="font-40 font-lnh44 font-weight-black">Customizable</h3>
                            <p class="font-21 font-lnh34 px-15">Select sensors, communication method and expansion modules based on needs of the project.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section>
    <div class="bg-darkGray text-center text-md-left font-white pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-auto pb-60 pb-lg-0">
                    <h2 class="font-40 font-lnh44 font-weight-black pr-md-100">Lorem impus<br />doloret mit<br />samet</h2>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--leaf mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Enviromental monitoring</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--house mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Smart home</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--people mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Education</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--hvac mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">HVAC systems</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--facil mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Facility management</h3>
                        </div>
                        <div class="col-12 col-md-4 pb-100">
                            <div class="icon icon--program mb-20"></div>
                            <h3 class="font-24 pr-md-100 font-weight-black font-lnh30">Development kit for IoT</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<section>
    <div class="container">
      <div class="row pt-20 pt-md-100 mt-md-30 pb-0">
          <div class="col">
              <div class="row">
                  <div class="col-12 col-md-6 mx-auto text-center">
                      <div class="font-redLined font-red mb-50 mb-md-90 font-font2 font-weight-bold font-15"><span>Case studies</span></div>
                  </div>
              </div>
              <div class="row">

                {{ range first 2 ($.Site.GetPage "section" "case-studies").Pages }}
                  {{ .Render "grid-box" }}
                {{ end }}

              </div>
          </div>
        </div>
    </div>

</section>

<section>
    <div class="bg bg-gray pt-100">
        <div class="container pt-10">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 mx-auto text-center">
                            <h2 class="font-redLined font-redLined-gray font-red mb-90 font-font2 font-weight-bold font-15"><span>Specification</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 pb-30 pb-lg-60 pb-lg-0">
                    <h2 class="font-weight-black font-40 font-lnh44">Features</h2>
                </div>
                <div class="col pb-100">
                    <div class="row pb-50">
                        <div class="col-12 col-md pb-40 pb-md-0">
                            <p class="font-20 pr-lg-100 font-lnh33">
                              Lithium Battery 3.6 V / 5.8 Ah<br/>
                              GNSS Module<br/>
                              Hygrometer<br/>
                              Thermometer<br/>
                              Bluetooth Low Energy<br/>
                              LPWAN NB-IoT<br/>
                              LPWAN LoRa<br/>
                              Sub-GHz Radio<br/>
                            </p>
                        </div>
                        <div class="col-12 col-md">
                            <p class="font-20 pr-lg-100 font-lnh33">
                              1-Wire expansion<br/>
                              UART expansion<br/>
                              RS-485 expansion<br/>
                              DC/DC expansion<br/>
                              ADC expansion<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="pricelist pricelist--bottom-3-5 pt-80">
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-4">
                                        <div class="pricelist__item">
                                            <div class="pricelist__content">
                                                <div class="logo logo--2"></div>
                                                <h3 class="pricelist__title">Pilot</h3>
                                                <div class="pricelist__title2 text-uppercase">Order of 10 pieces or more</div>

                                                <ul class="pricelist__items">
                                                    <li class="pricelist__items__item">API</li>
                                                    <li class="pricelist__items__item">Online support</li>
                                                    <li class="pricelist__items__item">Environmental sensor</li>
                                                    <li class="pricelist__items__item pricelist__items__item--disabled">Thermostat</li>
                                                    <li class="pricelist__items__item pricelist__items__item--last pricelist__items__item--disabled">CO2 monitor</li>
                                                </ul>

                                                <div class="pricelist__discount">&nbsp;</div>
                                                <div class="pricelist__price">from 79€</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="pricelist__item pricelist__item--rec">
                                            <div class="pricelist__content">
                                                <div class="pricelist__rec">RECOMMENDED</div>
                                                <div class="logo logo--2"></div>
                                                <h3 class="pricelist__title">Project</h3>
                                                <div class="pricelist__title2 text-uppercase">Order of 100 pieces or more</div>

                                                <ul class="pricelist__items">
                                                    <li class="pricelist__items__item">Button</li>
                                                    <li class="pricelist__items__item">Motion detector</li>
                                                    <li class="pricelist__items__item">Environmental sensor</li>
                                                    <li class="pricelist__items__item">Thermostat</li>
                                                    <li class="pricelist__items__item pricelist__items__item--last pricelist__items__item--disabled">CO2 monitor</li>
                                                </ul>

                                                <div class="pricelist__discount">Save 12%</div>
                                                <div class="pricelist__price">from 69€</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="pricelist__item">
                                            <div class="pricelist__content">
                                                <div class="logo logo--2"></div>
                                                <h3 class="pricelist__title">Business</h3>
                                                <div class="pricelist__title2 text-uppercase">Order of 1000 pieces or more</div>

                                                <ul class="pricelist__items">
                                                    <li class="pricelist__items__item">Button</li>
                                                    <li class="pricelist__items__item">Motion detector</li>
                                                    <li class="pricelist__items__item">Environmental sensor</li>
                                                    <li class="pricelist__items__item">Thermostat</li>
                                                    <li class="pricelist__items__item pricelist__items__item--last">CO2 monitor</li>
                                                </ul>

                                                <div class="pricelist__discount">Save 25%</div>
                                                <div class="pricelist__price">from 59€</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
          <div class="text-center pt-70 pb-60 px-15">
            <h2 class="font-40 font-md-64 font-md-lnh56 pb-30 mb-5 font-weight-black">Last call for orders<br/> in 2019. Act now!</h2>
            <p class="font-24 pb-40">Leave us a message about your project. We will contact you to specify details.</p>
            <a href = "#" class="getPdf font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" data-toggle="modal" data-target=".bd-example-modal-lg">I'm interested in CHESTER</a>
          </div>

          <div id = "downloadCaseStudy" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">I'm insterested in CHESTER</h2>
                      </div>
                      <div class="col-md-8 text-center">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                          hbspt.forms.create({
                            portalId: "5453210",
                            formId: "4ada87e9-7bb4-43fa-8c3c-2677a72b675c"
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            $('.getPdf').click(function(){
              $('#downloadCaseStudy').modal({
                keyboard: false
              })
            });

          </script>
        </section>

        <footer>

{{ end }}
