<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/ci/style.css">
    <title>HARDWARIO CI Guide</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <a href = "/"><img src="/ci/assets/hw-logo.svg"></a>
                </div>
            </div>
        </div>
    </header>
    <section id="logo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Logo</h2>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <a href="https://drive.google.com/file/d/1BvXC95s6ptobeDGH7N2WShZRI2Y8Wg7l/view?usp=sharing" target="_blank" class="link" download>Download package<img src="/ci/assets/download.svg" class="pl-2"></a>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>Use the logo so that it is always legible and has enough space around it. There are two variations of the colour version and two variations of the monochrome version for use on both light and dark backgrounds.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-positive.svg">
                    <p><a href="https://drive.google.com/file/d/14W2u8zG0iiaxQAnt9Nmmxd87JFP3WqR8/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/1NL-0-oKTr2do7rs7nAQOiYXA3N7pR_34/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/1wyiDC7hVwho6DK8OBVKCr04ZyHFWh1o1/view?usp=sharing" download>AI</a></p>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-negative.svg">
                    <p><a href="https://drive.google.com/file/d/1XpDATeomS7eLtd4EFJxL4Xk19J9IzKnT/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/120E_caBjO4cDZPIcG9OuwtLPGLcnWos1/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/1qK6Xp2UmpOoC6h4Ke77xOcfA3E8ON9oQ/view?usp=sharing" download>AI</a></p>
                </div>
            </div>
            <div class="row mt-sm-4">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-bw-positive.svg">
                    <p><a href="https://drive.google.com/file/d/1-9YmWO4nYJWcQVTTWXYs7Olc9Oobw_1h/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/1UH_dH7EV2eJOtMVdA14zfw3gu8TjF97N/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/1sk33DGrORT7sw_2XdZHWY9g5aeveymRC/view?usp=sharing" download>AI</a></p>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-bw-negative.svg">
                    <p><a href="https://drive.google.com/file/d/1R--WfQvseu83VRqXHiedBwTOlAaIXzyZ/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/1ANmQMso7P5FpRkFAg3vy1Rdz8rElCsAr/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/1hrHg1IA5ZtmCuJiKLS4AomWsWO6xrDD9/view?usp=sharing" download>AI</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>We also have logo version with claim "IoT Innovations". Rules of use are same as previous.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo--claim-pos.svg">
                    <p><a href="https://drive.google.com/file/d/13njohcGPtWZDKh6jmf2Q_C7k3ffObIIZ/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/1JAQ_RVuDIWpjaSnIuD0_d9Y3I3KEFclk/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/193e1LK3hEn_nPXqa0kQXgTL0CIRGiVQf/view?usp=sharing" download>AI</a></p>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo--claim-neg.svg">
                    <p><a href="https://drive.google.com/file/d/1TUVHHXGzna2rrWRQVKPxQYIfj6ycXBxL/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/1iG1v4jlUM4GTYyCDQBq5I3vJIi0P6WKP/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/1agJnaF5CejOysuft-Axw7gbjB6QScT1f/view?usp=sharing" download>AI</a></p>
                </div>
            </div>
            <div class="row mt-sm-4">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo--claim-black.svg">
                    <p><a href="https://drive.google.com/file/d/1e57JBYetKPxVs2wU7jJy_6DNA4KRh-gT/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/1IZ-X_7npdlmBrBOauspm02P-x320k5eq/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/1EwPMHaA60QntpfjIHxt6lu-vfo6a_X-_/view?usp=sharing" download>AI</a></p>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo--claim-white.svg">
                    <p><a href="https://drive.google.com/file/d/1_-vXYpjfH1RXq0ysDerraiNg8f64wMAL/view?usp=sharing" download>PNG</a> | <a href="https://drive.google.com/file/d/1Tt5ag5VchyMQJHXXA1vzmlbBfEkrPUvc/view?usp=sharing" download>SVG</a> | <a href="https://drive.google.com/file/d/1EwPMHaA60QntpfjIHxt6lu-vfo6a_X-_/view?usp=sharing" download>AI</a></p>
                </div>
            </div>
        </div>
    </section>
    <section id="color">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Colours</h2>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>The colors of the brand are based on the color scheme of the logo and illustrations. They can be supplemented with any shade from the gray scale except pure black. The Spanish Red and Dim Gray colors are the colors used in the HARDWARIO logo.</p>
                </div>
            </div>
            <div class="row color">
                <div class="col-sm-4 color-red">
                    <h3>Spanish red</h3>
                    <ul>
                        <li><strong>RGB</strong> 227 4 39</li>
                        <li><strong>HEX</strong> #E30427</li>
                        <li><strong>CMYK</strong> 0% 100% 85% 0%</li>
                    </ul>
                </div>
                <div class="col-sm-4 color-gray">
                    <h3>Dim Gray</h3>
                    <ul>
                        <li><strong>RGB</strong> 107 106 106</li>
                        <li><strong>HEX</strong> #6B6A6A</li>
                        <li><strong>CMYK</strong> 3% 0% 70% 0%</li>
                    </ul>
                </div>
                <div class="col-sm-4 color-dark">
                    <h3>Dark Gunmetal</h3>
                    <ul>
                        <li><strong>RGB</strong> 37 37 50</li>
                        <li><strong>HEX</strong> #252532</li>
                        <li><strong>CMYK</strong> 85% 75% 50% 65%</li>
                    </ul>
                </div>
            </div>
            <div class="row pt-4 no-gutters">
                <div class="col-10">
                    <img src="/ci/assets/grays.svg">
                </div>
            </div>
            <div class="row pt-1 no-gutters text-center grayscale">
                <div class="col-1">#1a1a1a</div>
                <div class="col-1">#333</div>
                <div class="col-1">#4d4d4d</div>
                <div class="col-1">#666</div>
                <div class="col-1">gray</div>
                <div class="col-1">#999</div>
                <div class="col-1">#b3b3b3</div>
                <div class="col-1">#ccc</div>
                <div class="col-1">#e6e6e6</div>
                <div class="col-1">#f2f2f2</div>
            </div>
        </div>
    </section>
    <section id="font">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Fonts</h2>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <a href="https://fonts.google.com/selection?selection.family=Roboto+Mono:700|Roboto:300,300i,400,400i,500,500i,700,700i&selection.subset=latin-ext&query=Roboto+mono" class="link" target="_blank">Download all fonts<img src="/ci/assets/download.svg" class="pl-2"></a>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>The main font is Roboto, it is possible to use all its cuts. As an additional font (for example, for web buttons or headlines), you can use bold-type Roboto Mono. All fonts can be downloaded from the web <a href="https://fonts.google.com">fonts.google.com</a>.</p>
                </div>
            </div>
            <div class="row mt-5 pb-sm-5">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/roboto.svg">
                    <p><a href="https://fonts.google.com/selection?selection.family=Roboto&selection.subset=latin-ext" target="_blank">Download</a></p>
                </div>
                <div class="col-sm-6 text-center mt-5 mt-sm-auto">
                    <img src="/ci/assets/roboto-bold.svg">
                    <p><a href="https://fonts.google.com/selection?selection.family=Roboto:700&selection.subset=latin-ext" target="_blank">Download</a></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <img src="/ci/assets/roboto-mono.svg">
                    <p><a href="https://fonts.google.com/selection?selection.family=Roboto+Mono:700&selection.subset=latin-ext&query=roboto+mon" target="_blank">Download</a></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <p><strong>Demonstration of font usage in presentation</strong></p>
                    <img src="/ci/assets/homer.svg">
                </div>
            </div>
        </div>
    </section>
    <section id="subprojects">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Products and subprojects</h2>
                </div>
                <!--DOPLINT FUKČNÍ ODKAZY-->
                <div class="col-sm-6 text-sm-right">
                    <a href="https://drive.google.com/file/d/1BvXC95s6ptobeDGH7N2WShZRI2Y8Wg7l/view?usp=sharing" target="_blank" class="link" download>Download package<img src="/ci/assets/download.svg" class="pl-2"></a>
                </div>
                <!--DOPLINT FUKČNÍ ODKAZY-->
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>Use the logo so that it is always legible and has enough space around it. There are two variations of the colour version and two variations of the monochrome version for use on both light and dark backgrounds.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/hw-chester-logo--black-red.svg">
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/hw-cloud-logo--black-red.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/hw-cooper-logo--black-red.svg">
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/hw-ember-logo--black-red.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/hw-tower-logo--black-red.svg">
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/factory-report-logo.svg">
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/vyrobni-report-logo.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/forestry-report-logo.svg">
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/lesnicky-report-logo.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/stem-friday-logo.svg">
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/stem-patek-logo.svg">
                </div>
            </div>
               
        </div>
    </section>
    <section id="illustrations">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Infographics, illustration</h2>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <a href="https://drive.google.com/drive/folders/1uFrkJuOeoheA_KF0rzykGsGAujNmbDUK?usp=sharing" target="_blank" class="link">View library<img src="/ci/assets/visit.svg" class="pl-2"></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Illustrations are an important element in all communication. They are designed to describe a product or service, carry a lot of visual information and can be used not only for decorative purposes. To make them easier to use, a library has been created where it is possible to download previously created elements.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-6"><img src="/ci/assets/illu.svg" /></div>
                <div class="col-sm-6 mt-3 mt-sm-auto"><img src="/ci/assets/illu_1.svg" /></div>
            </div>
        </div>
    </section>

    
</body>

</html>
