<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/ci/style.css">
    <title>Hardwario brand manuál</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="/ci/assets/hw-logo.svg">
                </div>
            </div>
        </div>
    </header>
    <section id="logo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Logo</h2>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <a href="/ci/download/logo.zip" class="link">Stáhnout kompletní balíček<img src="/ci/assets/download.svg" class="pl-2"></a>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>Logo samotné používejte tak, aby bylo vždy čitelné a mělo dostatek prostoru okolo sebe. Existují dvě varianty barevné verze a dvě varianty jednobarevné verze pro použití na světlém i tmavém pozadí.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-positive.svg">
                    <p><a href="/ci/download/logo/PNG/4x/hw-logo-pos.png" download>PNG</a> | <a href="/ci/download/logo/SVG/hw-logo-pos.svg" download>SVG</a> | <a href="/ci/download/logo/AI/hw-logo-pos.ai" download>AI</a></p>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-negative.svg">
                    <p><a href="/ci/download/logo/PNG/4x/hw-logo-neg.png" download>PNG</a> | <a href="/ci/download/logo/SVG/Hw-logo-neg.svg" download>SVG</a> | <a href="/ci/download/logo/AI/Hw-logo-neg.ai" download>AI</a></p>
                </div>
            </div>
            <div class="row mt-sm-4">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-bw-positive.svg">
                    <p><a href="/ci/download/logo/PNG/4x/hw-logo-black.png" download>PNG</a> | <a href="/ci/download/logo/SVG/hw-logo-black.svg" download>SVG</a> | <a href="/ci/download/logo/AI/hw-logo-black.ai" download>AI</a></p>
                </div>
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/logo-bw-negative.svg">
                    <p><a href="/ci/download/logo/PNG/4x/hw-logo-white.png" download>PNG</a> | <a href="/ci/download/logo/SVG/hw-logo-white.svg" download>SVG</a> | <a href="/ci/download/logo/AI/hw-logo-white.ai" download>AI</a></p>
                </div>
            </div>
        </div>
    </section>
    <section id="color">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Barvy</h2>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>Barvy značky vychází z barevnosti loga a ilustrací. Je možné je doplnit jakýmkoliv odstínem ze škály šedé vyjma čistě černé. Barvy Spanish Red a Dim Gray jsou barvy použité v logu Hardwario.</p>
                </div>
            </div>
            <div class="row color">
                <div class="col-sm-4 color-red">
                    <h3>Spanish red</h3>
                    <ul>
                        <li><strong>RGB</strong> 227 4 39</li>
                        <li><strong>HEX</strong> #E30427</li>
                        <li><strong>CMYK</strong> 0% 100% 85% 0%</li>
                    </ul>
                </div>
                <div class="col-sm-4 color-gray">
                    <h3>Dim Gray</h3>
                    <ul>
                        <li><strong>RGB</strong> 107 106 106</li>
                        <li><strong>HEX</strong> #6B6A6A</li>
                        <li><strong>CMYK</strong> 3% 0% 70% 0%</li>
                    </ul>
                </div>
                <div class="col-sm-4 color-dark">
                    <h3>Dark Gunmetal</h3>
                    <ul>
                        <li><strong>RGB</strong> 37 37 50</li>
                        <li><strong>HEX</strong> #252532</li>
                        <li><strong>CMYK</strong> 85% 75% 50% 65%</li>
                    </ul>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col">
                    <img src="/ci/assets/grays.svg">
                </div>
            </div>
        </div>
    </section>
    <section id="font">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Písma</h2>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <a href="https://fonts.google.com/selection?selection.family=Roboto+Mono:700|Roboto:300,300i,400,400i,500,500i,700,700i&selection.subset=latin-ext&query=Roboto+mono" class="link" target="_blank">Stáhnout všechna písma<img src="/ci/assets/download.svg" class="pl-2"></a>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4 mb-4">
                    <p>Hlavním písmem je Roboto, je možné využít všechny jeho řezy. Jako doplňkové písmo (například pro tlačítka na webu nebo nadnadpisy) je možné použít písmo Roboto Mono v tučném řezu. Všechna písma je možné stáhnout na webu <a href="https://fonts.google.com">fonts.google.com</a>.</p>
                </div>
            </div>
            <div class="row mt-5 pb-sm-5">
                <div class="col-sm-6 text-center">
                    <img src="/ci/assets/roboto.svg">
                    <p><a href="https://fonts.google.com/selection?selection.family=Roboto&selection.subset=latin-ext" target="_blank">Stáhnout</a></p>
                </div>
                <div class="col-sm-6 text-center mt-5 mt-sm-auto">
                    <img src="/ci/assets/roboto-bold.svg">
                    <p><a href="https://fonts.google.com/selection?selection.family=Roboto:700&selection.subset=latin-ext" target="_blank">Stáhnout</a></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <img src="/ci/assets/roboto-mono.svg">
                    <p><a href="https://fonts.google.com/selection?selection.family=Roboto+Mono:700&selection.subset=latin-ext&query=roboto+mon" target="_blank">Stáhnout</a></p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <p><strong>Ukázka použití písma v&nbsp;prezentaci Homer</strong></p>
                    <img src="/ci/assets/homer.svg">
                </div>
            </div>
        </div>
    </section>
    <section id="illustrations">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Infografiky, ilustrace</h2>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <a href="#" target="_blank" class="link">Zobrazit knihovnu<img src="/ci/assets/visit.svg" class="pl-2"></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Ilustrace jsou důležitým prvkem v celé komunikaci. Mají za úkol popisovat produkt nebo službu, nesou mnoho vizuálních informací a je tak možné je využít nejen k dekorativnímu účelu. Pro jejich snazší použití byla vytvořena <a href="#" target="_blank">knihovna</a>, kde je možné stáhnout doposud vytvořené prvky.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-6"><img src="/ci/assets/illu.svg" /></div>
                <div class="col-sm-6 mt-3 mt-sm-auto"><img src="/ci/assets/illu_1.svg" /></div>
            </div>
        </div>
    </section>
</body>

</html>
