{{ define "main" }}

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row pb-10 pb-md-30">
            <div class="col-12 col-md-10 mx-auto text-center pt-30 pt-md-0">
              <h2 class="text-center pb-30 font-weight-black font-36 font-md-64">{{ .Params.mainHeading | safeHTML }}</h2>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
        <div>
            <div class="container">
                <div class="row no-gutters align-items-center">
                    <div class = "col-12 col-md-6">
                      <div class="placeholder-black pt-md-70">
                          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                          <script>
                          hbspt.forms.create({
                          portalId: "5453210",
                          formId: "{{ $.Site.Params.contactFormId }}"
                          });
                          </script>
                      </div>
                    </div>
                    <div class = "col-12 col-md-6 d-none d-lg-block">
                        <div class="bg-contact d-block d-lg-flex align-items-lg-center">
                            <div class="text-center text-lg-right ml-auto pt-40 pt-lg-0">
                                <h1><a href="mailto:ask@hardwario.com" class="d-block font-red font-md-lnh65 font-25 font-md-40 font-xl-66 font-weight-black pb-10 pb-md-40">ask@hardwario.com</a></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--<section>
    <div class="container" id = "contact">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <h2 class="pb-25 font-red font-font2 font-16">{{ i18n "headquarters_sales" }}</h2>
                <p class="font-lnh30 font-18 pb-100">
                    HARDWARIO LTD<br />
                    HubHub London<br />
                    20 Farringdon St<br />
                    London EC4A 4EN<br />
                    {{ i18n "uk" }}<br />
                    <br />
                    {{ i18n "id" }}: 11642323
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <h2 class="pb-25 font-red font-font2 font-16">{{ i18n "development_distribution"}}</h2>
                <p class="font-lnh30 font-18 pb-100">
                    HARDWARIO s.r.o.<br />
                    U Jezu 525/4<br />
                    460 01 Liberec<br />
                    {{ i18n "czechia" }}<br />
                    <br />
                    {{ i18n "vat_id" }}: CZ04998511<br />
                    {{ i18n "id" }}: 04998511
                </p>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
                <div class="placeholder-black pb-100">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                    <script>
                    hbspt.forms.create({
                    portalId: "5453210",
                    formId: "39c2f6d9-e437-4e94-9a97-89d4596faa34"
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>-->

<footer>

{{ end }}
