{{ define "main" }}

<section>
    <div class="bg-image10 pt-50 pt-lg-0 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 text-center text-md-left">
                    <h1 class="font-40 font-md-64 font-md-lnh68 font-weight-black pt-40 pb-40 pb-md-40">{{ i18n "teach_engaging_way" | safeHTML }}</h1>
                    <p class="font-24 font-gray2 font-lnh37 pb-40 mb-md-30 pr-md-100">{{ i18n "iot_kit_is_complex" | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="" id = "pilars">
        <div class="container">
            <div class="row">
                <div class="col pb-30">
                    <div class="row justify-content-center align-items-center">
                                        <div class = "col-3 col-md-2 text-right pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/kit.svg" class="w-75 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "plug_and_make_kits" | safeHTML }}</h3>
                                            <p class="font-18 font-lnh26">{{ i18n "open_souce_system" }}</p>
                                        </div>

                                        <div class = "col-3 col-md-2 text-right pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/framework.svg" class="w-75 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "pedagogical_framework" | safeHTML }}</h3>
                                            <p class="font-18 font-lnh26">{{ i18n "with_experts" | safeHTML }}</p>
                                        </div>

                                        <div class = "col-3 col-md-2 text-right pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/education.svg" class="w-75 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "practical_projects" }}</h3>
                                            <p class="font-18 font-lnh26">{{ i18n "practical_projects_desc" }}</p>
                                        </div>

                                        <div class = "col-3 col-md-2 text-right pb-20 pb-md-0">
                                            <img loading="lazy" src="/_assets/images/support.svg" class="w-75 mt-20" alt="" />
                                        </div>
                                        <div class = "col-9 col-md-4 pb-20 pb-md-0">
                                            <h3 class="font-20 font-weight-black font-lnh30">{{ i18n "personal_support" | safeHTML }}</h3>
                                            <p class="font-18 font-lnh26">{{ i18n "our_edu_package" | safeHTML }}</p>
                                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center pb-30">
            
         <div class="col-12 col-md-8 col-lg-4 mx-auto text-center">
                <div class="font-redLined font-red mb-20 font-font2 font-weight-bold font-15"><span>{{ i18n "trusted_by" }}</span></div>
            </div>
            <div class="col-12 text-center">
                
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="155" src="/_assets/images/education/czechitas.png" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="155" src="/_assets/images/education/unicorn.png" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="145" src="/_assets/images/education/sps-liberec.svg" alt="" />
                </span>
            </div>
        </div>
    </div>
</section>

{{ partial "whitepaper" . }}

<section>
    <div class = "container">
      <div class="row justify-content-center pt-70 pb-20 pb-md-50">
        
        <div class="col-12 col-lg-4">
            <a href="https://stem.hardwario.com" class="d-block bg-white shadow text-decoration-none rounded-20 font-black p-30 mb-10 mb-md-30 text-center">
                <h3 class="font-26 font-weight-medium pt-30 pb-10">{{ i18n "stem_lessons" }}</h3>
                <p class = "pb-20">{{ i18n "stem_lessons_desc" }}</p>
                <span class = "font-font2 font-red font-decoration-underline">stem.hardwario.com</span>
            </a>
        </div>

        <div class="col-12 col-lg-4">
            <a href="{{ "education/projects/" | absLangURL }}" class="d-block bg-white shadow text-decoration-none rounded-20 font-black p-30 mb-10 mb-md-30 text-center">
                <h3 class="font-26 font-weight-medium pt-30 pb-10">{{ i18n "tower_projects" }}</h3>
                <p class = "pb-20">{{ i18n "tower_projects_desc" }}</p>
                <span class = "font-font2 font-red font-decoration-underline">{{ i18n "projects_link" | safeHTML }}</span>
            </a>
        </div>

        <div class="col-12 col-lg-4">
            <a href="{{ i18n "workshops_link" }}" class="d-block bg-white shadow text-decoration-none rounded-20 font-black p-30 mb-10 mb-md-30 text-center">
                <h3 class="font-26 font-weight-medium pt-30 pb-10">{{ i18n "workshop_presentation" }}</h3>
                <p class = "pb-20">{{ i18n "workshop_presentation_desc" }}</p>
                <span class = "font-font2 font-red font-decoration-underline">{{ i18n "workshops" | safeHTML }}</span>
            </a>
        </div>

        <div class="col-12 col-lg-4">
            <a href="{{ .Site.Params.shopURL }}" class="d-block bg-white shadow text-decoration-none rounded-20 font-black p-30 mb-10 mb-md-30 text-center">
                <h3 class="font-26 font-weight-medium pt-30 pb-10">{{ i18n "shop" }}</h3>
                <p class = "pb-20">{{ i18n "shop_desc" }}</p>
                <span class = "font-font2 font-red font-decoration-underline">{{ i18n "go_to_shop" | safeHTML }}</span>
            </a>
        </div>

        <div class="col-12 col-lg-4">
            <a href="{{ "education/tutorials/" | absLangURL }}" class="d-block bg-white shadow text-decoration-none rounded-20 font-black p-30 mb-10 mb-md-30 text-center">
                <h3 class="font-26 font-weight-medium pt-30 pb-10">{{ i18n "tower_intro" }}</h3>
                <p class = "pb-20">{{ i18n "tower_intro_desc" }}</p>
                <span class = "font-font2 font-red font-decoration-underline">{{ i18n "tutorials_link" | safeHTML }}</span>
            </a>
        </div>
      </div>
    </div>
</section>

<section>
    <div class = "container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-10 bg-darkGray py-30 mb-30">
          <div class = "row align-items-center">
            <div class = "col-12 col-md-4 px-50">
                <img loading="lazy" src="/_assets/images/{{ .Params.cons_img }}" class="w-75 w-md-100 rounded-circle d-block mx-auto img-fluid" alt="" />
            </div>
            <div class = "col-12 col-md-8 pt-30 pt-md-0 text-center text-md-left font-white">
            <h3 class = "font-32 font-weight-bold pb-10">{{ i18n "free_edu_consult" | safeHTML }}</h3>
            <p class = "font-16 pb-10">{{ .Params.consultation | safeHTML }}</p>
            <a href = "{{ .Params.cons_link }}" target="_blank" class="font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" id="click-meeting">{{ i18n "make_an_appointment" }}</a>
            </div>
        </div>
    </div>
    </div>
    </div>
  </section>

{{ $events := (where ($.Site.GetPage "section" "events").Pages "Params.category" "education") }}
{{ with $events }}
<section>
    <div class="container">
        <div class="row pt-70">
            <div class="col-12 col-md-6 mx-auto text-center">
                <div class="font-redLined font-redLined-gray font-red mb-10 font-font2 font-weight-bold font-15"><span>{{ i18n "stem_events" }}</span></div>
            </div>
        </div>
        <div class="row pb-10 pb-md-30">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h2 class="text-center pb-20 font-weight-black font-30 font-md-64">{{ i18n "show_how_to_start_stem" | safeHTML }}</h2>
                <p class="text-center font-24 font-lnh38">{{ i18n "come_to_event_edu" | safeHTML }}</p>
            </div>
        </div>
        <div class="row align-items-start pb-30 mb-md-30 pt-30">

            {{ range $events.ByDate }}
            <div class="col-12 col-md-4 pb-30">
                {{ .Render "grid" }}
            </div>
            {{end}}
</div>
</div>
</section>
{{ end }}

        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="contactbox ">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="contactbox__item mb-40">
                                        <div class="contactbox__icon"></div>
                                        <h3 class="contactbox__text">{{ i18n "edu_modification_integration" | safeHTML }}</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="contactbox__item mb-40">
                                        <div class="contactbox__icon contactbox__icon--warranty"></div>
                                        <h3 class="contactbox__text">{{ i18n "edu_extended_warranty" | safeHTML }}</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="contactbox__item mb-40 contactbox__item--noborder">
                                        <div class="contactbox__icon contactbox__icon--support"></div>
                                        <h3 class="contactbox__text">{{ i18n "edu_personal_tech_support" | safeHTML }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<footer>
{{ end }}
