{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}


{{ define "main" }}

<section>
    <div class="bg-image16 pt-50 pt-lg-0 d-flex align-items-center mb-20" style = "background-position: bottom right; min-height: 641px">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-md-left">
                    <h1 class="font-40 font-md-64 font-md-lnh68 font-weight-black pt-40 pb-40 pb-md-40">IIoT bez starostí</h1>
                    <!--<p class = "font-24 font-gray2">Odstartujte svůj IoT projekt bez velkých vstupních investic. Pronajmětě si kompletní řešení a začněte ihned.</p>-->
                    <ul class = "font-list ml-0 pl-0">
                      <li class = "font-24 font-gray2">Pronájem zařízení včetně kontektivity a cloudu</li>
                      <li class = "font-24 font-gray2">Bez závazku. Zařízení můžete kdykoli vrátit</li>
                      <li class = "font-24 font-gray2">Okamžitě získáte data o vaší výrobě, provozu nebo prostředí společnosti</li>

                    </ul>
                    <p class="font-24 font-gray2 font-lnh37 pb-40"></p>
                    <div>
                        <a href="#order" class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-red">Objednat pronájem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row pb-10 pb-md-60">
                  <div class="col-12 col-md-10 mx-auto text-center pt-30 pt-md-0">
                      <h2 class="text-center pb-20 font-weight-black font-36 font-md-48">Jak to funguje</h2>
                      <p class="text-center font-24 font-lnh38">Pronajmeme vám víceúčelový IoT hub pro vaše projekty.
                        Součástí služby je zařízení, jeho servis, technická podpora, konektivita NB-IoT nebo LoRaWAN a HARDWARIO Cloud včetně REST API a&nbsp;Webhooků. Řešení jednoduše integrujete s vašim systémem.</p>
                  </div>
              </div>

            </div>
          </div>
        </div>
    </section>


<section>
    <div class = "bg-darkGray font-white" style = "background: #1a1a1a;">
    <div class="container pt-20 " id = "solution">

        {{ with .Site.GetPage "/chester" }}
        <div class="row pt-50 pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/chester.png" class="w-75" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
              <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">{{ .Params.heading | safeHTML }}</h2>
              <p class="font-20 font-lnh30 pb-20">{{ .Params.description | safeHTML }}</p>
              <p class="font-20 font-lnh30 pb-20">V základní konfiguraci odesílá teplotu, otřes, náklon a GPS pozici.</p>
              <a href="{{ .Permalink }}" class="cta-button font-lnh54 font-md-lnh40 font-lg-lnh54 px-40 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-red">{{ i18n "learn_more" }}</a>
            </div>
        </div>
        {{ end }}

      </div>
      </div>
</section>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<section>
                <div class="bg-darkGray font-white" style = "background: #1a1a1a;">
                    <div class="container pt-50">
                        <div class="row">
                          <div class="col-12 col-lg-12 pb-30 text-center">
                              <h2 class="font-weight-black font-40 font-lnh44">Příklady projektů, které můžete nasadit</h2>
                          </div>
                            <div class="col">
                                <div class="slick">

                                  {{ $cases := where (where .Site.RegularPages "Section" "use-cases") ".Params.device" "CHESTER"  }}
                                  {{ with $cases }}
                                    {{ range $cases.ByWeight }}
                                      {{ .Render "grid" }}
                                    {{ end }}
                                  {{ end }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

<section>
  <div class = "container" id = "order">
  <div class="row justify-content-center">
    <div class="pt-10 pt-md-60 col-12 col-md-7 text-center">
      <h2 class="font-32 font-md-54 font-md-lnh56 font-weight-black">
        Začněte s IIoT ihned
      </h2>
      <p class="font-18 pt-5 pb-20">
        Pronajměte si IoT hub za 250 Kč/měsíc včetně konektivity, cloudu a vizualizace a&nbsp;získejte data o vaší společnosti.
      </p>
      <a href = "#" data-target = "pricelistModal" class = "openModal font-lnh24 font-weight-bold font-font2 font-red button__link getPricelist">Ceník a možnosti rozšíření</a>
      <a href = "{{ i18n "buy_chester_tester_link" }}" class = "font-lnh24 font-weight-bold font-font2 font-red button__link">Podmínky služby a časté dotazy</a>
      <!--<a href = "#" class="getOffer font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-red" data-toggle="modal" data-target=".bd-example-modal-lg">Send me materials</a>-->
    </div>
    <div class=" col-12 col-md-6 text-center">
      <div class = "pt-20 pb-20">
        <a href="#" data-target = "offerModal" class="openModal getOffer font-lnh24 py-15 px-20 px-md-40 d-inline-block font-weight-bold font-font2 font-white bg-red">Objednat pronájem</a>
      </div>
      <img loading="lazy" src="/_assets/images/chester-device.svg" class="w-50 mt-20 movingObject" alt="" />

    </div>
  </div>
  </div>



  <div id = "offerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">{{ i18n "interested_in_chester" }}</h2>
              </div>
              <div class="col-md-8 text-center" style = "margin-right: -4px;">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                  hbspt.forms.create({
                  portalId: "5453210",
                  formId: "{{ .Params.form_id }}"
                });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




        <footer>

{{ end }}

{{ define "additional-scripts" }}

<script src="/_assets/js/{{ index .Site.Data.js.hash "slick.min.js" }}"></script>

<script>
  $(".slick").slick({
    dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows:true,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 767,
                settings: {
                    slidesToShow: 1
                }
            }
        ]
});
$(window).load(function(){
  $('.slick-slide').each(function(){
    max = 0;
    height = $(this).children().children().height();
    if(height > max ){
      max = height+50;
    }
  });
  $('.slick-slide div a').height(max);
});
</script>

<script type="text/javascript">
  $('.getOffer').click(function(){
    $('#offerModal').modal({
      keyboard: false
    })
  });

</script>

<script>
  /*$(document).ready(function(){
    $("main ul").each(function() {
      $( this ).addClass( "font-list" );
    });
  });*/

  $("a[href^=\\#]").click(function(e) {
    e.preventDefault();
    var dest = $(this).attr('href');
    console.log(dest);
    $('html,body').animate({ scrollTop: $(dest).offset().top }, 'slow');
  });
</script>
{{ end }}
