{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}


{{ define "main" }}

<section>
      <div class="bg-image15 pt-50 pt-lg-0 d-flex align-items-center mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-md-left">
                    <h1 class="font-40 font-md-64 font-md-lnh68 font-weight-black pt-40 pb-40 pb-md-40">IoT stavebnice v&nbsp;cloudu</h1>
                    <p class = "font-24 font-gray2">Otestujte virtuálně naši stavebnici. Vyzkoušejte Node-RED, MQTT a ovládejte IoT Kit. Vše uvidíte živě přes videokameru. S pomocí pluginů vyzkoušejte integraci přes Blynk s vaším telefonem, prozkoumat možnosti hlasových asistentů nebo vyzkoušet jiné projekty a ukázky.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<style>


</style>
<link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row pb-10 pb-md-60">
                  <div class="col-12 col-md-10 mx-auto text-center pt-30 pt-md-0">
                      <h2 class="text-center pb-20 font-weight-black font-36 font-md-48 font-red">Teď máme plno :-(</h2>
                      <p class="text-center font-24 font-lnh38">Je nám límo, ale aktuálně jsou všechny instance obsazeny. Volno bude opět za 30 minut.</p>
                      <div class = "pt-40">
                        <p class = "font-18 font-gray2 pb-10">Chcete upozornit, až bude volno? Zadejte e-mail, pošleme vám notifikaci.</p>
                        <form>
                          <input type = "email" placeholder = "insert you e-mail address" class = "font-lnh54 "/>

                          <button class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-darkGray" type="button">
                            Odeslat
                          </button>


                        </form>
                      </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
    </section>


    <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="row pb-10 pb-md-60">
                      <div class="col-12 col-md-10 mx-auto text-center pt-30 pt-md-0">
                          <h2 class="text-center pb-20 font-weight-black font-36 font-md-48">Začněte hned</h2>
                          <p class="text-center font-24 font-lnh38">Je to snadné. Po stisknutí tlačítka se vám do pár vteřit připraví vlaše soukromá instance, kde můžete pozvat další. </p>
                          <div class = "pt-20">
                            <p class = "font-18 font-gray2 pb-10">Pokud zadáte e-mail, pošleme vám na něj odkaz na instanci a také kód v Node-RED, který vytvoříte.</p>
                            <form>
                              <input type = "email" placeholder = "insert you e-mail address" class = "font-lnh54 "/>

                              <button class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-darkGray" type="button">
                                Spustit
                              </button>

                            </form>

                            <form>
                              <input type = "email" placeholder = "insert you e-mail address" class = "font-lnh54 "/>
                              <button class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-darkGray" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Vyčkejte...
                              </button>

                            </form>
                          </div>
                      </div>
                  </div>

                </div>
              </div>
            </div>
        </section>



        <footer>

{{ end }}

{{ define "additional-scripts" }}


{{ end }}
