{{ define "main" }}

<section>
    <div class="bg-image11 pt-50 pt-lg-0 d-flex align-items-center  mb-20 mb-md-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-md-left">
                    <h1 class="font-40 font-md-64 font-md-lnh56 font-weight-black pt-40 pb-40 pb-md-40">{{ i18n "improve_company" | safeHTML }}</h1>
                    <p class="font-24 font-gray2 font-lnh37 pb-40 mb-md-30 pr-md-100">{{ i18n "fast_and_affordable_solution" | safeHTML }}</p>
                    <div>
                        <a href="#solution" class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "tell_me_more" }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="" id = "solution">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
                            <div class="font-redLined font-redLined-gray font-red mb-10 font-font2 font-weight-bold font-15"><span>{{ i18n "comprehensive_solution" }}</span></div>
                        </div>
                    </div>
                    <div class="row pb-10 pb-md-30">
                        <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                            <h2 class="text-center pb-20 font-weight-black font-30 font-md-64">{{ i18n "soaked_from_start_to_finish" | safeHTML }}</h2>
                            <!--<p class="text-center font-24 font-lnh38">Sufficient amount of correct information reduces risk and reduces waste of time and resources.</p>-->
                        </div>
                    </div>
                    <div class="row text-center align-items-center">
                        <div class="col-12 col-md-4 d-none d-sm-block">
                            <img src="/_assets/images/kit.svg" alt="" class="mb-70" width="163" />
                        </div>
                        <div class="col-12 col-md-4 d-none d-sm-block">
                            <img src="/_assets/images/integration.svg" alt="" class="mb-70" width="143" />
                        </div>
                        <div class="col-12 col-md-4 d-none d-sm-block">
                            <img src="/_assets/images/support.svg" alt="" class="mb-70" width="260" />
                        </div>
                    </div>
                    <div class="row text-center pb-10 mb-0 mb-md-100">
                      <div class="col-12 col-lg-4 pb-40 pb-lg-0">
                          <h3 class="font-26 font-md-40 font-lnh38 font-weight-black pb-10">{{ i18n "plug_and_make_kits" | safeHTML }}</h3>
                            <p class="font-21 font-lnh34 px-15">{{ i18n "iot_kit_industry" | safeHTML }}</p>
                        </div>
                        <div class="col-12 col-lg-4 pb-40 pb-lg-0">
                            <h3 class="font-26 font-md-40 font-lnh38 font-weight-black pb-10">{{ i18n "ready_to_use_integrations" | safeHTML }}</h3>
                            <p class="font-21 font-lnh34 px-15">{{ i18n "integration_manuals" }}</p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <h3 class="font-26 font-md-40 font-lnh38 font-weight-black pb-10">{{ i18n "personal_support" | safeHTML }}</h3>
                            <p class="font-21 font-lnh34 px-15">{{ i18n "support_docs" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center pt-30 pt-lg-0 pb-30 mb-md-30">
            <div class="col-12 col-md-8 col-lg-4 mx-auto text-center mb-10">
                <div class="font-redLined font-red mb-20 font-font2 font-weight-bold font-15"><span>{{ i18n "trusted_by" }}</span></div>
            </div>
            <div class="col-12 text-center">
                <span class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                    <img width="95" src="/_assets/images/eon.svg" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-10 mb-md-0 d-inline-block">
                    <img width="140" src="/_assets/images/microsoft.svg" alt="" />
                </span>
                <span class="px-10 px-md-30 mb-10 mb-md-0 d-inline-block">
                    <img width="140" src="/_assets/images/skoda.svg" alt="" />
                </span>
            </div>
        </div>
    </div>
</section>

{{ range first 1 ($.Site.GetPage "section" "case-studies").Pages.ByPublishDate.Reverse }}
  {{ .Render "grid-home" }}
{{ end }}

{{ $events := ($.Site.GetPage "section" "events").Pages }}
{{ with $events }}
<section>
    <div class="container">
        <div class="row pt-70">
            <div class="col-12 col-md-6 mx-auto text-center">
                <div class="font-redLined font-redLined-gray font-red mb-10 font-font2 font-weight-bold font-15"><span>{{ i18n "events_industry" }}</span></div>
            </div>
        </div>
        <div class="row pb-10 pb-md-30">
            <div class="col-12 col-md-8 mx-auto text-center">
                <h2 class="text-center pb-20 font-weight-black font-30 font-md-64">{{ i18n "get_familiar_with_iot" | safeHTML }}</h2>
                <p class="text-center font-24 font-lnh38">{{ i18n "come_to_industy_event" | safeHTML }}</p>
            </div>
        </div>
        <div class="row align-items-center pb-30 mb-md-30 pt-30">
            {{ range where $events.ByPublishDate "Params.category" "industry" }}
            <div class="col-12 col-md-4 pb-30">
                {{ .Render "grid" }}
            </div>
            {{end}}
</div>
</div>
</section>
{{ end }}
<section>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col">
                  <div class="row">
                      <div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto pt-60 text-center">
                          <div class="font-redLined font-redLined-gray font-red mb-10 font-font2 font-weight-bold font-15"><span>{{ i18n "kits_for_industry" }}</span></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                          <h2 class="text-center pb-20 font-weight-black font-30 font-md-64">{{ i18n "industry_kits" | safeHTML }}</h2>
                      </div>
                  </div>
                    <div class="pricelist pricelist--bottom-3-5 pt-0 pt-md-40">
                        <div class="row no-gutters">
                          {{ $pleft := .Params.productLeft }}
                          {{ with .Site.GetPage (string $pleft) }}
                            {{ .Render "grid-list"}}
                          {{ end }}

                          {{ $pleft := .Params.productMiddle }}
                          {{ with .Site.GetPage (string $pleft) }}
                            {{ .Render "grid-list-rec"}}
                          {{ end }}

                          {{ $pleft := .Params.productRight }}
                          {{ with .Site.GetPage (string $pleft) }}
                            {{ .Render "grid-list"}}
                          {{ end }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-gray text-center pt-70 pb-60 px-15">
      <div class = "container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mx-auto text-center">
                <div class="font-redLined font-redLined-gray font-red mb-20 font-font2 font-weight-bold font-15"><span>{{ i18n "bespoke_development" }}</span></div>
            </div>
        </div>
        <h2 class="font-40 font-md-64 font-md-lnh56 pb-30 mb-5 font-weight-black">{{ i18n "we_develop_your_product" | safeHTML }}</h2>
        <p class="font-24 font-gray mb-30 pb-5 font-lnh38">{{ i18n "kit_not_enough" }}</p>
        <a href="/bespoke-development" class="font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-darkGray">{{ i18n "tell_me_more" }}</a>
      </div>
    </div>
</section>

<!--<section>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col">
            <div class="row pt-70">
                <div class="col-12 col-md-6 mx-auto text-center">
                    <div class="font-redLined font-redLined-gray font-red mb-10 font-font2 font-weight-bold font-15"><span>{{ i18n "from_industry_blog" }}</span></div>
                </div>
            </div>
            <div class="row pb-10 pb-md-30">
                <div class="col-12 col-md-8 mx-auto text-center">
                    <h2 class="text-center pb-20 font-weight-black font-30 font-md-64">{{ i18n "iot_in_industry" | safeHTML }}</h2>
                    <p class="text-center font-24 font-lnh38">{{ i18n "we_share_industry" | safeHTML }}</p>
                </div>
            </div>
          <div class="articles articles--2">
            <div class="row d-flex align-content-stretch">

              {{ $categories := .Params.categories }}
              {{ $blogs := where (where .Site.Pages "Section" "blog" ) "Params.categories" "intersect" $categories}}
              {{ with $blogs.ByPublishDate.Reverse }}
                {{ range first 3 $blogs }}
                <div  class="col-12 col-md-6 col-lg-4 tf-filter-item tf-item show-item">
                  {{ .Render "grid" }}
                </div>
                {{ end }}
              {{ end }}

            </div>

            <div class="row d-flex align-content-stretch pb-50">
              <a href="{{ "blog/" | absLangURL }}" class="cta-button font-lnh54 px-70 d-inline-block mx-auto font-weight-bold font-font2 font-red bg-white text-decoration-none border-red mt-20">{{ i18n "more_blog" }}</a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>-->

<footer>
{{ end }}
