{{ define "main" }}

<style>
  .banner{
      background-image: url(/upload/webinar-blockchain-banner.png); 
      background-size:cover;
      text-align: center;
      border-radius: 7px; 
  }
  .tag{
      background-color:#666666;
      padding: 3px 5px;
      font-weight: 900;
  }
  .banner:hover{
    text-decoration: none;
  }
  .banner:hover{
  }
</style>

<section>
  <div class = "container">
      <div class = "row pb-30 pb-md-60 px-10 px-md-0">
          <div class = "col-12 py-30 py-md-60 px-60 shadow banner">
              <div class = "row justify-content-center text-white">
                  <div clas = "col-12 text-center">
                      <h1 class = "font-weight-black font-white font-42 font-md-64">{{ .Params.heading | safeHTML }}</strong></h1>
                  </div>
              </div>
              
            </div>
      </div>
  </div>
</section>

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row pb-30 pb-md-60">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-10 mx-auto text-center">
                <p class="text-center font-20 font-lnh24"><a href = "#invest">Jak investovat</a> - <a href = "#documents">Dokumenty</a> - <a href = "#video">Videa</a> - <a href = "#press">Tiskové zprávy</a> - <a href = "#contact">Kontakty</a></p>
              </div>
          </div>
          
          

        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class = "container pb-30 pb-md-60">
    <div class = "row align-items-center">
      <div class = "col-12 col-md-6 pb-20 pb-md-0">
        <img src = "/_assets/images/alan-pavel.jpg" class = "w-100" />
      </div>
      <div class = "col-12 col-md-6">
        <p class ="font-16 font-md-18 pb-10">HARDWARIO je česká technologická společnost, která se zaměřuje na oblast internetu věcí - IoT. Svým partnerům dodává vše potřebné pro úspěšné IoT projekty – konfigurovatelná zařízení, konektivitu, cloudové služby a otevřené vývojové nástroje pro vývoj vlastních aplikací. Hlavními vlastníky jsou spoluzakladatelé Alan Fabik a Pavel Hübner.</p>
        <p class ="font-16 font-md-18">Na podzim 2022 se společnost chystá vstoupit na trh START pražské burzy cenných papírů s ambicí získat od investorů desítky milionů korun na další rozvoj. Během 14denního upisovacího období, které začně 4. října, <strong>nabídne celkem 2 870 000 kusů nových akcií</strong>.</p>
        <a href = "/cs/o-nas/" class="ml-0 mr-20 mt-10 font-20 font-md-16 font-lnh54 font-weight-bold font-font2 font-red cta-button px-40 d-inline-block font-weight-bold border-red">Více o společnosti</a>
      </div>
      
    </div>
  </div>
</section>

<section>
  <div class = "container">
    <div class = "row">
      <div class = "col-12 text-center">
        <h2 class="font-weight-black font-36 font-md-48 font-md-lnh56">Do zahájení úpisu akcií zbývá</h2>
        <ul class="countdown">
          <li> <span class="days">00</span>
          <p class="days_ref">dny</p>
          </li>
          <li class="seperator">&nbsp;</li>
          <li> <span class="hours">00</span>
          <p class="hours_ref">hodin</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="minutes">00</span>
          <p class="minutes_ref">minut</p>
          </li>
          <li class="seperator">:</li>
          <li> <span class="seconds">00</span>
          <p class="seconds_ref">vteřin</p>
          </li>
          </ul>
          
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  ul.countdown {
  list-style: none;
  margin: 35px 0;
  padding: 0;
  display: block;
  text-align: center;
  }
  ul.countdown li {
  display: inline-block;
  }
  ul.countdown li span {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  }
  ul.countdown li.seperator {
  font-size: 80px;
  line-height: 70px;
  vertical-align: top;
  }
  ul.countdown li p {
  color: #a7abb1;
  font-size: 14px;
  }
  @media(max-width: 768px){
    ul.countdown {
  margin: 15px 0;
  }
    ul.countdown li span {
    font-size: 40px;
    }
    ul.countdown li.seperator {
    font-size: 40px;
    line-height: 75px;
    }
  }
  </style>

<script type="text/javascript" src="/_assets/js/jquery.downCount.js"></script>

<script class="source" type="text/javascript">
  $('.countdown').downCount({
      date: '10/04/2022 10:00:00',
      offset: +2
  }, function () {
  });
</script> 

<section>
  <div class = "bg bg-darkGray py-60" id = "about">
    <div class = "container">
      <div class = "row font-white">
        <div class = "col-12">
          <h2 class="font-weight-black font-36 font-md-48 font-md-lnh56 pb-20">Parametry emise</h2>
        </div>
        <div class = "col-12 col-md-7 pr-md-60 pb-60 pb-md-0">
          <ul class = "font-md-20">
          <li class = "pb-10">Primární úpis akcií proběhne od 4. října od 10 hodin do 18. října.</li>
          <li class = "pb-10">Vydáno bude celkem 2 870 000 kusů nových akcií.</li>
          <li class = "pb-10">Cenové rozpětí objednávek bylo stanoveno od 17 Kč až do 25 Kč za jednu akcii.</li>
          <li class = "pb-10">Minimální velikost objednávky (LOT) činí 1.000 ks akcií, tedy 17 až 25 tisíc korun.</li>
          <li class = "pb-10">Očekávaná hodnota společnosti je 287 milionů Kč (post-money equity při 20 Kč/akcie).</li>
          <li class = "pb-10">Všechny získané peníze budou využity pro rozvoj společnosti.</li>
        </ul>
        </div>
        <div class = "col-12 col-md-5 pl-md-60">
          <table class = "company-info">
            <tr><td>Název společnosti</td><td>HARDWARIO a.s.</td></tr>
            <tr><td>Sídlo</td><td>U Jezu 525/4</br>460 01 Liberec</br>Česká republika</td></tr>
            <tr><td>IČO</td><td>04998511</td></tr>
            <tr><td>ISIN</td><td>CZ0005138529</td></tr>
            <tr><td>TICKER</td><td>HWIO.PR</td></tr>
            <tr><td>LEI</td><td>315700SJDI4EU8DXF768</td></tr>
            <tr><td>Auditor společnosti</td><td>V4 Audit, s.r.o</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .company-info tr td{
    padding: 5px 30px 5px 0;
    vertical-align: top;
    border-bottom: solid 0.5px black;
  }
</style>

<section>
  <div class="text-md-left pt-60 pb-60">
      <div class="container">
          <div class="row justify-content-center">
            
              <div class = "col-6">
                        <div class="row justify-content-center align-items-top">
                          <div class="col-12 text-center">
                          <h2 class="pb-10 font-weight-black font-24 font-md-32 font-md-lnh56">Proč se stát naším akcionářem</h2>
                        </div>
                            <div class = "col-3 col-md-2 text-center pb-20">
                                <img loading="lazy" src="/_assets/images/benefits/devices.svg" class="w-75 mt-10" alt="" />
                            </div>
                            <div class = "col-9 col-md-9 pb-20">
                                <h3 class="font-20 font-weight-black font-lnh22 pb-5">Atraktivní a dynamický obor</h3>
                                <p class="font-18 font-lnh26">Budete součástí nesmírně zajímavého a celosvětově rychle rostoucího trhu internetu věcí.</p>
                            </div>

                            <div class = "col-3 col-md-2 text-center pb-20">
                              <img loading="lazy" src="/_assets/images/benefits/complex.svg" class="w-100 mt-10" alt="" />
                          </div>
                          <div class = "col-9 col-md-9 pb-20">
                              <h3 class="font-20 font-weight-black font-lnh22 pb-5">Český inovátor s globálními ambicemi</h3>
                              <p class="font-18 font-lnh26">Podpoříte české hi-tech znalosti a dovednosti, které se již nyní prosazují v zahraničí.</p>
                          </div>

                          <div class = "col-3 col-md-2 text-center pb-20">
                            <img loading="lazy" src="/_assets/images/benefits/simple.svg" class="w-50 mt-10" alt="" />
                        </div>
                        <div class = "col-9 col-md-9 pb-20">
                            <h3 class="font-20 font-weight-black font-lnh22 pb-5">Zkušený a ověřený tým</h3>
                            <p class="font-18 font-lnh26">Můžete se spolehnout na velmi zdatný tým vývojářů a manažerů s letitými zkušenostmi.</p>
                        </div>
               </div>
                </div>
                <div class = "col-6">
                  <div class="row justify-content-center align-items-top">
                    <div class="col-12 text-center">
                  <h2 class="pb-10 font-weight-black font-24 font-md-32 font-md-lnh56">Jak investici využijeme</h2>
                  </div>

                  <div class = "col-3 col-md-2 text-center pb-20">
                    <span class="font-48 font-font2 font-red font-weight-black">40%</span>
                </div>
                <div class = "col-9 col-md-9 pb-20">
                    <h3 class="font-20 font-weight-black font-lnh22 pb-5">Globální expanze</h3>
                    <p class="font-18 font-lnh26">Posílení obchodu a marketingu v rámci budování globální distribuční sítě.</p>
                </div>

                <div class = "col-3 col-md-2 text-center pb-20">
                  <span class="font-48 font-font2 font-red font-weight-black">40%</span>
              </div>
              <div class = "col-9 col-md-9 pb-20">
                  <h3 class="font-20 font-weight-black font-lnh22 pb-5">Navýšení skladu a zvýšení marže</h3>
                    <p class="font-18 font-lnh26">Posílení skladu nákupem kritického materiálu a výrobou typových sestav</p>
              </div>

              <div class = "col-3 col-md-2 text-center pb-20">
                <span class="font-48 font-font2 font-red font-weight-black">20%</span>
            </div>
            <div class = "col-9 col-md-9 pb-20">
                <h3 class="font-20 font-weight-black font-lnh22 pb-5">Rozšíření týmu</h3>
                    <p class="font-18 font-lnh26">Vývoj produktů a posílení oddělení podpory</p>
            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>

{{ partial "howtoinvest.html" }}

{{ partial "investor-documents" }}
<section>
  <div class="">
      <div class="container pt-30" id = "video">
          <div class="row justify-content-center">
              <div class="text-center col-12">
                  <h2 class="pb-30 font-weight-black font-36 font-md-48 font-md-lnh56">Videa k emisi</h2>
              </div>
              <div class="col-12 col-md-6 pb-30">
                <div class = "video-container">
                  <iframe src="https://www.youtube-nocookie.com/embed/gLGf5a1TZaA?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

              <div class="col-12 col-md-6 pb-30">
                <div class = "video-container">
                  <iframe src="https://www.youtube-nocookie.com/embed/mr9zQ9pG7kc?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

              <div class="col-12 col-md-6 pb-30">
                <div class = "video-container">
                  <iframe src="https://www.youtube-nocookie.com/embed/jwH9qfdJDlw?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;html5=1&amp;widgetid=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>

          </div>
      </div>
  </div>
</section>

<style>
  .video-container{
    display: block;
    margin:0;
    width:auto;
    margin-top: 0;
    border-radius: 7px;
    max-width: 100%;
    height: 350px;
    overflow: hidden;

  }
  .video-container iframe{
      position: relative;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
  }
</style>
<div class = "bg-gray pt-70 pb-60 px-15" id = "press">

  <section>

    <div class="container">
        <div class="row align-items-center pb-30 mb-md-30">
            <div class="col-9 col-md-6 col-lg-4 pb-30 mx-auto text-center">
                <div class="font-redLined font-red font-font2 font-weight-bold font-15"><span>IPO HARDWARIO v médiích</span></div> 
            </div>
          <div class="col-12 text-center">
              <a href = "https://forbes.cz/liberecke-hardwario-vstupuje-na-prazskou-burzu-nabidne-necele-tri-miliony-kusu-akcii/" target = "_blank" class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="140" src="/_assets/images/media/forbes.svg" alt="" />
              </a>
              <a href = "https://cc.cz/vstup-na-prazskou-burzu-chysta-dalsi-hrac-desitky-milionu-chce-ziskat-ceske-hardwario/" target = "_blank" class="px-10 px-md-30 pt-10 mb-10 mb-md-0 d-inline-block">
                  <img width="160" src="/_assets/images/media/czechcrunch.svg" alt="" />
                </a>
              <a href = "https://www.patria.cz/zpravodajstvi/video/5166400/alan-fabik-k-ipo-hardwario-jsme-ti-kdo-dnes-pomahaji-firmam-prezit-vysoce-rustovy-obor-iot-prinasi-netusene-prilezitosti.html" target = "_blank" class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="135" src="/_assets/images/media/patria.png" alt="" />
                </a>
              <a href = "https://www.investicniweb.cz/videoteka/hardwario-4-rijna-zahaji-upis-akcii-na-trhu-start-spolecnost-sazi-na-internet-veci" target = "_blank" class="px-10 px-md-30 mb-20 mb-md-0 d-inline-block">
                  <img width="155" src="/_assets/images/media/investicniweb.svg" alt="" />
                </a>
                <a href = "https://www.e15.cz/byznys/burzy-a-trhy/startup-hardwario-miri-na-prazskou-burzu-investory-laka-na-prudky-rust-trzeb-a-zisku-1393557" target = "_blank" class="px-10 px-md-30 mt-20 mb-20 mb-md-0 d-inline-block">
                  <img width="105" src="/_assets/images/media/e15.svg" alt="" />
                </a>
          </div>
        </div>
    </div>
  
</section>

<section>
  
  <div class = "container">
    <div class = "row">
      <div class="text-center col-12">
        <h2 class="pb-10 font-weight-black font-36 font-md-48 font-md-lnh56">Tiskové zprávy &nbsp;novinky</h2>
        <!--<p class="font-18 font-lnh24"></p>-->
    </div>
    </div>
    <div class="articles articles--2 pt-20">

        {{ $press := ($.Site.GetPage "section" "press").Pages }}
        <div class="row d-flex align-content-stretch">
        {{ range first 6 $press.ByPublishDate.Reverse }}
            {{ .Render "grid-half" }}
        {{ end }}
        </div>

    </div>
  </div>
</section>


<section>
  <div class = "container" id = "contact">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-10 bg-darkGray py-30 mt-30 mb-10">
        <div class = "row align-items-center">
          <div class = "col-12 col-md-4 px-50">
              <img loading="lazy" src="/_assets/images/{{ .Params.photo }}" class="w-75 w-md-100 rounded-circle d-block mx-auto img-fluid" alt="" />
          </div>
          <div class = "col-12 col-md-8 pt-30 pt-md-0 text-center text-md-left font-white">
          <h3 class = "font-32 font-weight-bold pb-10">Kontakt pro investory</h3>
          <p class = "font-16 pb-5">{{ .Params.name }}</p>
          <p class = "font-16 pb-5">{{ .Params.post }}</p>
          <p class = "font-16 pb-5"><a class = "font-white" href = "tel:{{ .Params.tel }}">{{ .Params.tel }}</a></p>
          <p class = "font-16 pb-5"><a class = "font-white" href = "mailto:{{ .Params.email }}">{{ .Params.email }}</a></p>
          </div>
      </div>
  </div>
  </div>
  </div>
</section>
</div>

<footer>
{{ end }}

{{ define "additional-scripts" }}
<script type="text/javascript">
  $('.openDocument').click(function(){
    if (window.confirm("Níže uvedený informativní dokument je určen výhradně pro akcionáře společnosti jako podklad pro účely rozhodnutí o zvýšení základního kapitálu společnosti. Není určen veřejnosti.\nTento dokument v žádném ohledu neznamená nabídku nebo výzvu k prodeji nebo nákupu cenných papírů. Údaje zde obsažené mají čistě informativní charakter a jsou určeny výlučně stávajícím akcionářům a výlučně pro účely pozvánky na valnou hromadu společnosti, která bude rozhodovat o zvýšení základního kapitálu společnosti.\nPřípadná veřejná nabídka akcií bude v České republice zahájena až po schválení prospektu ze strany ČNB (očekává se do 4.10.2022) a jeho uveřejnění v souladu s Nařízením Evropského parlamentu a Rady (EU) 2017/1129 o prospektu, který má být uveřejněn při veřejné nabídce nebo přijetí cenných papírů k obchodování na regulovaném trhu. Pokud se veřejná nabídka uskuteční, bude schválený prospekt před zahájením nabídky k dispozici na webových stránkách Společnosti.")) {
      window.open("/files/informativni-podklad-pro-akcionare-spolecnosti-HARDWARIO.pdf", "");
    }
  });

</script>
{{ end }}
