{{ define "main" }}
<div class = "pt-70">
    {{ partial "breadcrumb.html" . }}
<section>
    <div class="bg-image1 pt-50 pt-lg-0 d-flex align-items-center mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 text-center text-md-left">
                    <h1 class="font-40 font-md-64 font-md-lnh56 font-weight-black pt-40 pb-40 pb-md-40">{{ .Params.heading | safeHTML }}</h1>
                    <p class="font-24 font-gray2 font-lnh37 pb-40 mb-md-30 pr-md-100">{{ .Params.perex | safeHTML }}</p>
                    <div>
                        <a href="#why_hardwario" class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "tell_me_more" }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
<footer>


{{ end }}
