{{ define "header" }}
  {{ partial "header-oee.html" . }}
{{ end }}

{{ define "breadcrumb" }}
  <!---->
{{ end }}

{{ define "main" }}

<section>
  <div class="bg-image26 pt-0 pt-lg-0 d-flex align-items-center mb-20 mb-md-50">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-7 text-center text-md-left">
                  <h1 class="font-40 font-md-64 font-md-lnh68 font-weight-black pt-40 pb-40 pb-md-40">{{ .Params.heading | safeHTML }}</h1>
                  <p class="font-24 font-gray2 font-lnh37 pb-20 pr-md-100">{{ .Params.perex | safeHTML }}</p>
                  <div>
                      <a href="#pilars" class="cta-button font-lnh54 px-50 mb-30 mb-md-0 d-inline-block font-weight-bold font-font2 font-white bg-red">{{ i18n "tell_me_more" }}</a>
                      <a href="#form" class="cta-button font-lnh54 px-40 mb-30 mb-md-0 d-inline-block font-font2 font-red font-decoration-underline">Přihlásit se</a>
                  </div>
              </div>
              <div class="col-12 col-lg-5 text-center text-md-left">
                <img src = "/_assets/images/oee/powerbi.png" class = "w-100 pb-30" />
              </div>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="" id = "pilars">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="row text-center align-items-center">
                      <div class="col-12 col-md-4 d-none d-sm-block">
                          <img src="/_assets/images/oee/device.svg" alt="" class="mb-40" height="250" />
                      </div>
                      <div class="col-12 col-md-4 d-none d-sm-block">
                          <img src="/_assets/images/oee/document.svg" alt="" class="mb-40" height="250" />
                      </div>
                      <div class="col-12 col-md-4 d-none d-sm-block">
                          <img src="/_assets/images/oee/implementation.svg" alt="" class="mb-40" height="250" />
                      </div>
                  </div>
                  <div class="row text-center pb-10 mb-0 mb-md-50 justify-content-center">
                      <div class="col-12 col-md-6 col-lg-4 pb-40 pb-lg-0">
                          <h3 class="font-34 font-md-40 pb-30 font-weight-black">Bezplatný pilot</h3>
                          <p class="font-19 font-lnh30 font-gray2 pb-0">Bezplatné ověření funkčnosti systému včetně zapůjčení IoT zařízení HARDWARIO, aplikace MICROSOFT Power BI a konektivity NB-IoT. <a class="text-decoration-underline" href = "https://app.powerbi.com/view?r=eyJrIjoiNzIwMTc2Y2YtZWIyZi00ZDk0LWExYTEtNjdiNzcwNTEwNWFjIiwidCI6IjEzNTA4YzA1LTFiMjMtNDk2ZS05NzlkLTZjOTlkODVjMmYxNyIsImMiOjl9&pageName=ReportSection" target = "_blank">Ukázka výstupu</a>.</p>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 pb-40 pb-lg-0">
                          <h3 class="font-34 font-md-40 pb-30 font-weight-black">Dotace až 45 %</h3>
                          <p class="font-19 font-lnh30 font-gray2 pb-0">Pomůžeme vám vypracovat žádost o dotaci ve výši 35 až 45 % z investice do monitoringu efektivity výroby v rámci dotační výzvy Digitální podnik.</p>
                      </div>
                        <div class="col-12 col-md-6 col-lg-4 pb-40 pb-lg-0">
                          <h3 class="font-34 font-md-40 pb-30 font-weight-black">Okamžitá&nbsp;návratnost</h3>
                          <p class="font-19 font-lnh30 font-gray2 pb-0">Postupná implementace systému bez nutnosti změny firemních postupů, procesů a nástrojů a s okamžitou návratností investice.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



<section>
  <div class="">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="row pt-30 pb-60" id = "form">
                      <div class="col-12 mx-auto text-center">
                          <h2 class="text-center font-weight-black font-30 font-md-50 font-md-lnh58 font-red">Od 1. do 30. června 2021 probíhá registrace do programu. Počet účastníků je omezen.</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section>
  <div class = "container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-10 bg-darkGray py-30 mb-60">
        <div class = "row align-items-top">
          <div class = "col-12 col-md-4 pt-md-50 px-50">
              <img loading="lazy" src="/_assets/images/{{ .Params.cons_img }}" class="w-75 w-md-100 rounded-circle d-block mx-auto img-fluid" alt="" />
          </div>
          <div class = "col-12 col-md-8 pt-30 pt-md-0 font-white">
          <h3 class = "font-32 font-weight-bold pb-20 text-center">Chcete se zúčastnit? Ozvěte se Alanovi:</h3>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            region: "na1",
            portalId: "5453210",
            formId: "a6a2121e-e838-4bd2-9d04-6d26ee773e96"
          });
          </script>
          <p>Nebo mu rovnou zavolejte na <a class = "font-white text-decoration-underline" href = "tel:+420725190630">+420 725 190 630</a></p>
          <h4 class = "font-24 font-weight-bold pt-40 pb-20">Přihlášením získáte:</h4>
          <ul class="font-20 font-lnh30 px-0" style = "list-style: none;">
            <li class = "mb-10 pb-10"><img src = "/_assets/images/oee/check.svg" width = "40" class = "mr-10">Online data o výrobě v počítači, telefonu a tabletu.</li>
            <li class = "mb-10 pb-10"><img src = "/_assets/images/oee/check.svg" width = "40" class = "mr-10">Informace o produkci, prostojích, kvalitě a efektivitě. Výpočet OEE.</li>
            <li class = "mb-10 pb-10"><img src = "/_assets/images/oee/check.svg" width = "40" class = "mr-10">Neinvazivní nasazení do 15 minut.</li>
          </ul>
          
          </div>
      </div>
  </div>
  </div>
  </div>
</section>

<section>
  <div class="bg bg--gray">
      <div class="container">
          <div class = "row">
            <div class = "col-12 text-center">
              <h2 class="font-40 font-weight-black pt-20">Vaše nejčastější dotazy</h2>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="collapsor pt-20">
                    
                    <div class="collapsor__item">
                      <h2 class="collapsor__header collapsor__header--active">Jak probíhá program vyrobni.report?</h2>
                      <div class="collapsor__body collapsor__body--active">
                          Po odeslání formuláře vás Alan kontaktuje a domluvíte se na termínu společného telefonátu. Cílem je zjistit jakým způsobem můžeme vaše stroje sledovat a domluvit se na postupu nasazení. 
                      </div>
                  </div>

                  
                    <div class="collapsor__item">
                      <h2 class="collapsor__header">Je s programem vyrobni.report spojen nějaký závazek?</h2>
                      <div class="collapsor__body">
                          Není. Naším cílem je umožnit výrobním společnostem otestovat přínos IoT a monitoringu výroby. 
                      </div>
                  </div>

                  <div class="collapsor__item">
                      <h2 class="collapsor__header">Jak se k našim strojům připojíte? Zastavíte výrobu?</h2>
                      <div class="collapsor__body">
                          Podporujeme celou řadu metod připojení. Často se připojíme přímo na PLC stroje digitálními výstupy nebo přes RS-485 (Modbus). Pokud to takto nejde, přichází na řadu kapacitní, magnetické a optické senzory. Ve většině případů není potřeba vaši výrobu vůbec zastavovat.
                      </div>
                  </div>

                  <div class="collapsor__item">
                    <h2 class="collapsor__header">Kde uvidím data?</h2>
                    <div class="collapsor__body">
                        V programu vyrobni.report pracujeme s výstupy v Power BI od Microsoftu. Jak to může vypadat se podívejte na <a href = "https://app.powerbi.com/view?r=eyJrIjoiNzIwMTc2Y2YtZWIyZi00ZDk0LWExYTEtNjdiNzcwNTEwNWFjIiwidCI6IjEzNTA4YzA1LTFiMjMtNDk2ZS05NzlkLTZjOTlkODVjMmYxNyIsImMiOjl9&pageName=ReportSection" target = "_blank">odkaze</a>. Pokud však potřebujete data vidět jinde, najdeme cestu, jak to udělat. S pomocí našich partnerů pak nabízíme také vlastní webové aplikace. 
                    </div>
                </div>

                <div class="collapsor__item">
                  <h2 class="collapsor__header">Co se stane po 30 dnech?</h2>
                  <div class="collapsor__body">
                      V průběhu trvání pilotního provozu budeme společně sledovat výsledky. Pokud zjistíte, že pro vás monitoring efektivity výroby není přínosem, můžet zařízení vrátit. V opečném případě se domluvíme na dalších krocích - propojíme vás s jedním z našich partnerů, který se bude starat o údržbu a další rozvoj. 
                  </div>
              </div>

              <div class="collapsor__item">
                <h2 class="collapsor__header">Na kolik vyjde běžné nasazení vašeho monitoringu výrobních zařízení?</h2>
                <div class="collapsor__body">
                    Ani po ukončení testovacího provozu se nemusíte bát vysokých nákladů. O další rozvoj se postará jeden z našich partnerů, nasazení a údržba takového systému nestojí více, než nízké jednotky tisíců korun měsíčně. 
                </div>
            </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="row pt-30 pb-60">
                      <div class="col-12 mx-auto text-center">
                          <h2 class="text-center font-weight-black font-19 font-md-19 font-md-lnh24 font-font2 font-gray">Program je realizován díky podpoře společnosti Microsoft</h2>
                          <img src = "/_assets/images/oee/micro.svg" class = "w-25 pt-20 pb-30" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


        <footer>

{{ end }}

{{ define "additional-scripts" }}
<script type="text/javascript">
  $('.getOffer').click(function(){
    $('#offerModal').modal({
      keyboard: false
    })
  });

</script>

<script>
  /*$(document).ready(function(){
    $("main ul").each(function() {
      $( this ).addClass( "font-list" );
    });
  });*/

  $("a[href^=\\#]").click(function(e) {
    e.preventDefault();
    var dest = $(this).attr('href');
    console.log(dest);
    $('html,body').animate({ scrollTop: $(dest).offset().top }, 'slow');
  });
</script>
{{ end }}
