{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}


{{ define "main" }}

<section>
    <div class="bg-image20 d-flex">
        <div class="container">
              <div class="row pb-10 pb-md-30">
                  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                      <h2 class="text-center pb-20 font-weight-black font-40 font-md-66 font-md-lnh68">Neinvazivní měření OEE</h2>
                      <p class="text-center font-20 font-lnh30">Snadno, rychle a s nízkými náklady</p>
                  </div>
              </div>
        </div>
    </div>
</section>



<section>
    <div class="container pt-80 pb-50" id = "overview">

        <div class="row pb-50 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "prototype_product" }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">Neinvazivní řešení s&nbsp;výsledky do 30 dnů</h2>
                <p class="font-20 font-lnh30">Do 30 dnů budete vědět, jak efektivní je vaše výroba a jak ji můžete zlepšit. Nemusíte kupovat nové stroje, ani ivazivně zasahovat do jejich chodu.</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/non-invasive.svg" class="w-75 mb-10 moovingObject moovingObject--noShadow" alt="" />
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/oee.png" class="w-100 moovingObject moovingObject--noShadow" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
              <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">Bez velkých investic</h2>
              <p class="font-20 font-lnh30 pb-10"><strong>Za fixní měsíční poplatek 1.000 Kč/výrobní zařízení získáte:</strong></p>
              <ol class="font-20 font-lnh30">
                <li class = "mb-10 pb-0">Analýzu výrobních zařízení z pohledu jejich vlivu na obrat a&nbsp;zisk</li>
                <li class = "mb-10 pb-0">Aktuální hodnotu OEE daného stroje</li>
                <li class = "mb-10 pb-0">Návrh opatření pro zvýšení efektivity vaší výroby</li>
              </ol>
            </div>
        </div>
      </div>
</section>

<section>
  <div class = "container" id = "order">
  <div class="row justify-content-center">
    <div class="pt-10 pt-md-60 col-12 col-md-7 text-center">
      <h2 class="font-32 font-md-54 font-md-lnh56 font-weight-black">
        Začněte s OEE
      </h2>
      <p class="font-18 pt-5 pb-20">
        Zjistěte, jakou efektivnost má vaše výroba hned.
      </p>
    </div>
    <div class=" col-12 col-md-6 text-center">
      <img loading="lazy" src="/_assets/images/chester-device.svg" class="w-50 mt-20 movingObject" alt="" />
      <div class = "pb-20">
        <a href="#" class="getOffer font-lnh24 py-15 px-20 px-md-40 d-inline-block font-weight-bold font-font2 font-white bg-red">Mám zájem o OEE řešení</a>
      </div>
    </div>
  </div>
  </div>



  <div id = "offerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">Mám zájem o OEE řešení</h2>
              </div>
              <div class="col-md-8 text-center" style = "margin-right: -4px;">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                  hbspt.forms.create({
                  portalId: "5453210",
                  formId: "{{ .Params.form_id }}"
                });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




        <footer>

{{ end }}

{{ define "additional-scripts" }}
<script type="text/javascript">
  $('.getOffer').click(function(){
    $('#offerModal').modal({
      keyboard: false
    })
  });

</script>
{{ end }}
