{{ define "main" }}

<section>
        <div class="container">
            <div class="row pb-50">
                <div class="col">
                    <div class="row">
                      <div class="col-12 col-md-10 mx-auto text-center pt-30 pt-md-0">
                          <h1 class="text-center pb-30 font-weight-black font-36 font-md-64">{{ .Params.mainHeading | safeHTML }}</h1>
                          <!--<p class="text-center font-24 font-lnh38">{{ .Params.description | safeHTML }}</p>-->
                      </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">

              {{ partial "products.html" . }}
            </div>
        </div>
    </section>


<footer>
{{ end }}
