{{ define "main" }}

{{ $pages := .Data.Pages }}

{{ $tags := $.Site.Taxonomies.tags.ByCount }}


{{ $.Scratch.Set "untagged" 0 }}
{{ range $pages }}
  {{ with .Params.tags }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end }}
{{ end }}

<section>
  <div class="bg bg--gray">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row pb-10 pb-md-30">
              <div class="col-12 col-md-8 mx-auto text-center">
                  <h2 class="text-center font-weight-black font-30 font-md-64">{{ .Params.mainHeading }}</h2>
              </div>
          </div>
          <div class = "row contentFilter pb-30">
            <div class = "col">
              <div class="dropdown row">

              <div class = "btn-group col-12 col-md-6 mx-auto" id = "environments">
                  <a class="btn btn-secondary dropdown-toggle types font-font2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <em data-default = "Any Type">Any Type</em>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <span class="dropdown-item active" id="selectAllTags" onclick="htf.showAll('tags')">
                      Any Type
                    </span>
                    {{ range $tags }}
                      {{ if .Term }}
                        <span class="tag-button dropdown-item" id="tag-{{ .Term | replaceRE "[.]" "_" | urlize }}" onclick="htf.checkFilter('{{ .Term | replaceRE "[.]" "_" | urlize }}', 'tag-')">
                          <em>{{.Term | humanize | title }}</em>
                          <span id="stags-{{ .Term | urlize }}"> -count- </span> <span id="ctags-{{ .Term | urlize }}"> -count-</span>
                        </span>
                      {{ end }}
                    {{ end }}
                    {{ if gt ( $.Scratch.Get "untagged") 0 }}
                    <span class="tag-button dropdown-item" id="tag-tfuntagged" onclick="htf.checkFilter('tfuntagged', 'tag-')">
                      Undefined
                      <span id="stags-tfuntagged"> -count- </span> <span id="ctags-tfuntagged"> -count-</span>
                    </span>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="articles articles--2">
            <div class="row">
              {{ range where $pages.ByPublishDate.Reverse ".Params.featured" true }}
                <div  class="col-12 col-md-6 pb-md-100 mb-50 tf-filter-item tf-item"
                      data-tags="{{ with .Params.tags }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} tfuntagged{{ end }}">
                  {{ .Render "grid" }}
                </div>
              {{ end }}

              {{ range where $pages.ByPublishDate.Reverse ".Params.featured" "!=" true }}
                <div  class="col-12 col-md-6 pb-md-100 mb-50 tf-filter-item tf-item"
                      data-tags="{{ with .Params.tags }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} tfuntagged{{ end }}">
                  {{ .Render "grid" }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="bg-gray text-center pt-70 pb-60 px-15">
      <div class = "container">
        <h2 class="font-40 font-md-64 font-md-lnh56 pb-30 mb-5 font-weight-black">{{ i18n "hackster_heading" }}</h2>
        <p class="font-24 font-gray mb-30 pb-5 font-lnh38">{{ i18n "hackster_text" | safeHTML }}</p>
        <a href="https://www.hackster.io/bigclown/projects" class="font-lnh24 py-15 px-md-50 d-block d-md-inline-block font-weight-bold font-font2 font-white bg-darkGray">{{ i18n "hackster_button" }}</a>
      </div>
    </div>
</section>

<script>
var htfConfig = {
  filters: [
    {
      name: 'tags',
      prefix: 'tag-',
      buttonClass: 'tag-button',
      allSelector: '#selectAllTags',
      attrName: 'data-tags',
      selectedPrefix: 'stags-',
      countPrefix: 'ctags-'
    }
  ],
  showItemClass: "show-item",
  filterItemClass: "tf-filter-item",
  activeButtonClass: "active",
  counterSelector: "selectedItemCount",
  populateCount: true,
  setDisabledButtonClass: "disable-button"
}
var htf = new HugoTagsFilter(htfConfig);
</script>
<script>

function toggleAcc(el) {
  el.classList.toggle("active")
  var panel = el.nextElementSibling;
  if (panel.style.maxHeight){
    panel.style.maxHeight = null;
  } else {
    panel.style.maxHeight = panel.scrollHeight + "px";
  }
}


$('.btn-group').on('hide.bs.dropdown', function () {
  var id = $(this).attr('id');
  var elements = $("#" + id + " .dropdown-item.active em");
  var selected = "";
  $(elements).each(function(index){
    if(index == 0){
      selected = $.trim($( this ).text());
    }
    else{
      selected = selected + ", " + $.trim($( this ).text());
    }
  })
  if(selected.length == 0)
  {
    selected = $("#" + id + " .btn em").attr("data-default");
  }
  console.log(selected);
  $("#" + id + " .btn em").html(selected);
})
</script>

{{ end }}
