{{ define "main" }}

    <section>
        <div class="" id = "solutions">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row pb-50">
                            <div class="col-12 col-md-10 col-lg-8 mx-auto text-center pt-30 pt-md-0">
                                <h1 class="text-center pb-30 font-weight-black font-36 font-md-64">{{ .Params.mainHeading | safeHTML }}</h1>
                            </div>
                        </div>
                        <div class="row text-center align-items-center">
                            <div class="col-12 col-md-4 d-none d-sm-block">
                                <img src="/_assets/images/manufacturing.svg" alt="" class="mb-30" width="183" />
                            </div>
                            <div class="col-12 col-md-4 d-none d-sm-block">
                                <img src="/_assets/images/education.svg" alt="" class="mb-30" width="183" />
                            </div>
                            <div class="col-12 col-md-4 d-none d-sm-block">
                                <img src="/_assets/images/home.svg" alt="" class="mb-30" width="260" />
                            </div>
                        </div>
                        <div class="row text-center pb-10 mb-0 mb-md-100">
                            <div class="col-12 col-lg-4 pb-40 pb-lg-0">
                                <h2 class="font-40 pb-30 font-weight-black">{{ i18n "industry40_pilots" | safeHTML }}</h2>
                                <p class="font-19 font-lnh30 font-gray2 pb-50">{{ i18n "start_iot_innovations" | safeHTML }}</p>
                                <a href="{{ "industry/" | absLangURL }}" class="cta-button font-lnh54 font-md-lnh24 font-lg-lnh54 px-40 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">{{ i18n "more_about_pilots" }}</a>
                            </div>
                            <div class="col-12 col-lg-4 pb-40 pb-lg-0">
                                <h2 class="font-40 pb-30 font-weight-black">{{ i18n "active_stem_education" | safeHTML }}</h2>
                                <p class="font-19 font-lnh30 font-gray2 pb-50">{{ i18n "use_kit_for_edutaction" | safeHTML }}</p>
                                <a href="{{ "education/" | absLangURL }}" class="cta-button font-lnh54 font-md-lnh24 font-lg-lnh54 px-40 d-inline-block font-weight-bold font-font2 text-decoration-none font-white bg-darkGray">{{ i18n "more_about_education" }}</a>
                            </div>
                            <div class="col-12 col-lg-4">
                                <h2 class="font-40 pb-30 font-weight-black">{{ i18n "smart_diy_projects" | safeHTML }}</h2>
                                <p class="font-19 font-lnh30 font-gray2 pb-50">{{ i18n "build_own_device" | safeHTML }}</p>
                                <!--<a href="#why_hardwario" class="cta-button font-lnh54 px-70 d-inline-block font-weight-bold font-font2 font-red bg-white text-decoration-none border-red mt-20">{{ i18n "more_about_diy" }}</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ $currentLang := .Site.Language.Lang }}
    {{ if eq $currentLang "cs" }}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <section>
                    <div class="bg-darkGray font-white ">
                        <div class="container pt-50">
                            <div class="row">
                              <div class="col-12 col-lg-12 pb-30 text-center">
                                  <h2 class="font-weight-black font-40 font-lnh44">{{ i18n "usage_examples" }}</h2>
                              </div>
                                <div class="col">
                                    <div class="slick">

                                      {{ $cases := where .Site.RegularPages "Section" "use-cases" }}
                                      {{ with $cases }}
                                        {{ range $cases.ByWeight }}
                                          {{ .Render "grid" }}
                                        {{ end }}
                                      {{ end }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

    <script>
      $(".slick").slick({
        dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows:true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
    });
    </script>
    {{ end }}
<footer>
{{ end }}
