{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}


{{ define "main" }}

<section>
    <div class="bg-image16 d-flex">
        <div class="container">
              <div class="row">
                  <div class="col-12 col-md-10 col-lg-6 col-xl-6 mx-auto text-center">
                      <div class="font-redLined font-redLined-gray font-red mb-10 font-font2 font-weight-bold font-15"><span>Aktivní STEM lekce online</span></div>
                  </div>
              </div>
              <div class="row pb-10 pb-md-30">
                  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                      <h2 class="text-center pb-20 font-weight-black font-40 font-md-66 font-md-lnh68">Jak si postavit IoT tlačítko</h2>
                  </div>
              </div>
        </div>
    </div>
</section>



<section>
    <div class="container pt-80 pb-50" id = "overview">
        <div class="row mb-40">
            <div class="col">
                <div class="row">
                    <div class="col-8 col-md-6 col-lg-4 col-xl-3 mx-auto text-center">
                        <div class="font-redLined text-center font-red mb-10 font-font2 font-weight-bold font-15"><span>O čem to bude</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "prototype_product" }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">K čemu je internet věcí</h2>
                <p class="font-20 font-lnh30">Ukážeme dětem, co je to internet věcí, že se nejedná o kosimickou technologii a jak nám pomáhá už dnes. Představíme si projekt, kterému se budeme věnovat - IoT Tlačítko. Společně vymyslím, k čemu takové tlačítko může být dobré - třeba prarodiče s ním se zavolají o pomoc nebo nákup.</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/multipurpose.svg" class="w-75 mt-10 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/cloud.svg" class="w-50 movingObject movingObject--noShadow" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">Praktické využití</h2>
                <p class="font-20 font-lnh30">Děti si vyzkouší, jak vytvořit mobilní aplikaci a propojit ji s daty u nás v kanceláři. Naučé se na dálku ovládat světlo, které je vidět přes webkameru.</p>
            </div>
        </div>
      </div>
</section>




<section>
        <div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                        <h2 class="text-center pb-20 font-weight-black font-40 font-md-66 font-md-lnh68">Máte zájem?</h2>
                    </div>
                    <div class = "col-12 col-md-6">
                      <div class="placeholder-black pt-md-70">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                        hbspt.forms.create({
                        portalId: "5453210",
                        formId: "3927be21-4248-49d7-955e-6d703515830a"
                        });
                        </script>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>




        <footer>

{{ end }}
