{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}


{{ define "main" }}

<section>
    <div class="bg-image19 d-flex">
        <div class="container">
              <div class="row pb-10 pb-md-30">
                  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                      <h2 class="text-center pb-20 font-weight-black font-40 font-md-66 font-md-lnh68">Bezplatný aktivní STEM webinář pro školy</h2>
                  </div>
              </div>
        </div>
    </div>
</section>



<section>
    <div class="container pt-80 pb-50" id = "overview">

        <div class="row pb-50 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "prototype_product" }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">Co vám nabízíme?</h2>
                <p class="font-20 font-lnh30"><strong>Bezplatný hodinový webinář s aktivní STEM výukou</strong> na téma internet věcí a&nbsp;univerzální bezdrátové tlačítko. Jde o atraktivní obsah pro online výuku studentů od&nbsp;10&nbsp;let, který vychází z&nbsp;vědecky ověřeného pedagogického rámce. Vyučující se spolupodílí na webináři společně s&nbsp;naším lektorem.</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/framework.svg" class="w-50 mt-10 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/computer.svg" class="w-75 movingObject movingObject--noShadow" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">Co budete potřebovat?</h2>
                <p class="font-20 font-lnh30">Webinář probíhá přes aplikaci ZOOM webinar. Studenti ji mohou využít prostřednictvím webového prohlížeče nebo si aplikaci stáhnou do svých počítačů. Dále si mohou nepovinně stáhnout do svých chytrých telefonů bezplatnou aplikaci <a href = "https://blynk.io">Blynk</a> a tím se aktivně zapojit do výuky. Pro studenty i vyučující jsou na našem webu dostupné <a href = "https://stem.hardwario.com/v/cs/lekce/univerzalni-tlacitko">podpůrné výukové materiály</a>.</p>
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "prototype_product" }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">A jak dále?</h2>
                <p class="font-20 font-lnh30">V případě zájmu můžeme připravit další lekce a vytvořit seriál IoT webinářů. Jejich témata a formát dokážeme upravit podle vašich potřeb a věku studentů.</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/support.svg" class="w-75 mt-10 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>
      </div>
</section>




<section>
        <div class = "container" id = "order">
        <div class="row justify-content-center">
          <div class="pt-10 pt-md-60 col-12 col-md-7 text-center">
            <h2 class="font-32 font-md-54 font-md-lnh56 font-weight-black pb-30">
              #spolutozvladneme
            </h2>
            <p class="font-20 font-lnh30 pt-5 pb-20">
              Vyberte si termín a my se vám obratem ozveme s dalším postupem.
            </p>

          </div>
          <div class=" col-12 col-md-6 text-center">
            <div class = "pb-20">
              <a href="#" class="getOffer font-lnh24 py-15 px-20 px-md-40 d-inline-block font-weight-bold font-font2 font-white bg-red">Máme zájem o lekci</a>
            </div>

          </div>
        </div>
        </div>


        <div id = "offerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-md-10">
                      <h2 class = "font-30 font-md-30 pt-50 pb-50 font-weight-black text-center">Moc díky za váš zájem o STEM webinář</h2>
                    </div>
                    <div class="col-md-10 text-center">
                      <!-- Start of Meetings Embed Script -->
    <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/lukas-fabik/hodinova-lekce?embed=true"></div>
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <!-- End of Meetings Embed Script -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>

<script type="text/javascript">
  $('.getOffer').click(function(){
    $('#offerModal').modal({
      keyboard: false
    })
  });

</script>


        <footer>

{{ end }}
