{{ define "header" }}
  {{ partial "header-vyvetrej.html" . }}
{{ end }}


{{ define "main" }}


<section>
    <div class="bg-image21 d-flex">
        <div class="container">
              <div class="row">
              </div>
              <div class="row pb-10 pb-md-30">
                  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                      <h1 class="text-center pb-20 font-weight-black font-40 font-md-60 font-md-lnh60">Bydlete zdravě. Nezapomeňte větrat</h1>
                      <p class="text-center font-24 font-lnh38">Jednoduchá služba sledování větrání s doporučeními pro zdravý život</p>
                  </div>
              </div>
        </div>
    </div>
</section>

<section>
    <div class="container pt-80 pb-50" id = "specification">

        <div class="row pb-50 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "prototype_product" }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">Nezapomínáte větrat?</h2>
                <p class="font-20 font-lnh30">
                  V uzavřených budovách trávíme většinu života.
                  Pokud nejsou dobře postavené, mohou ovlivnit nejen naši náladu, ale i&nbsp;zdraví.
                  Jestli býváte často unavení, pálí vás oči, máte rýmu nebo hůř dýcháte, tělo vám může dávat najevo,
                  že trávíte příliš času v&nbsp;nezdravém prostředí.</p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/drink.svg" class="w-50 mt-10 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/connect.svg" class="w-100 movingObject movingObject--noShadow" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">Budeme to sledovat za vás</h2>
                <p class="font-20 font-lnh30">80 % lidí ví, že je potřeba větrat. Devadesát procent z nich na to spolehlivě zapomene a 85 % to dělá špatně. Pomůžeme vám sledovat, jak často a zda správně větráte. Připomeneme vám, kdy je potřeba větrat a kdy už máte čerstvého vzduchu dost. Každý měsíc vám zašleme report kvality prostředí ve vašem bytě s tipy, jak jej zlepšit.</p>
            </div>
        </div>

        <div class="row pb-0 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">5 důvodů, proč správně větrat:</h2>
                <ol class="font-20 font-lnh30">
                  <li class = "mb-10 pb-0">Udržení správné koncentrace CO2 zajistí, že nebudete unaveni.</li>
                  <li class = "mb-10 pb-0">Kombinace správné teploty a vlhkosti vám umožní se dobře vyspat.</li>
                  <li class = "mb-10 pb-0">Předejdete rizikům vzniku plísní.</li>
                  <li class = "mb-10 pb-0">Vyženete z domu všechny viry a snížíte riziko respiračních potíží.</li>
                  <li class = "mb-10 pb-0">Čerstvý, nevydýchaný vzduch bez výparů zpříjemňuje bydlení.</li>
                </ol>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/home-ok.svg" class="w-100 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>
      </div>
</section>

        <section>
          <div class = "container" id = "order">
          <div class="row justify-content-center">
            <div class="pt-10 pt-md-60 col-12 col-md-7 text-center">
              <h2 class="font-32 font-md-54 font-md-lnh56 font-weight-black pb-30">
                Začněte větrat
              </h2>
              <p class="font-20 font-lnh30 pt-5 pb-20">
                Služba je bez závazků a bez vysokých jednorázových poptaků. Monitor vám zapůjčíme, nemusíte jej připojovat k internetu, funguje samostatně.
              </p>

            </div>
            <div class=" col-12 col-md-6 text-center">
              <div class = "pb-20">
                <a href="#" class="getOffer font-lnh24 py-15 px-20 px-md-40 d-inline-block font-weight-bold font-font2 font-white bg-red">Chci monitor větrání</a>
              </div>

              <img loading="lazy" src="/_assets/images/iot-kit.svg" class="w-50 mt-20 movingObject" alt="" />

            </div>
          </div>
          </div>



          <div id = "offerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-30 pt-50 pb-50 font-weight-black text-center">Moc díky za váš zájem o monitor</h2>
                      </div>
                      <div class="col-md-8 text-center" style = "right: -4px">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                          hbspt.forms.create({
                        	portalId: "5453210",
                        	formId: "66a50e15-e0ca-4644-903a-db0248c63b19"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>


<section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="pt-10 pb-60 col-12 col-md-7 text-center">
                    <p class="font-18 pt-5"></p>
                </div>
            </div>
        </div>
</section>


          <script type="text/javascript">
            $('.getOffer').click(function(){
              $('#offerModal').modal({
                keyboard: false
              })
            });

          </script>


        <footer>

{{ end }}
