{{ define "header" }}
  {{ partial "header-nonav.html" . }}
{{ end }}


{{ define "main" }}

<style>
  body{
    /*background: #E30427;*/
  }
</style>

<section>
    <div class="bg-image18 d-flex">
        <div class="container">
              <div class="row">
              </div>
              <div class="row pb-10 pb-md-30">
                  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
                      <h1 class="text-center pb-20 font-weight-black font-40 font-md-60 font-md-lnh60">Bezplatná služba<br/> přivolání pomoci tlačítkem</h1>
                      <p class="text-center font-24 font-lnh38">Nejen pro osamělé lidi</p>
                  </div>
              </div>
        </div>
    </div>
</section>

<section>
    <div class="container pt-80 pb-50" id = "specification">

        <div class="row pb-50 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <!--<div class="pb-15 font-red font-font2 font-weight-bold font-15">{{ i18n "prototype_product" }}</div>-->
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-10 pb-md-30">Co vám nabízíme?</h2>
                <p class="font-20 font-lnh30">Zapůjčíme vám fyzické tlačítko, kterým si jeho vlastník může kdykoliv přivolat pomoc. Tlačítko je bezdrátové, je napájeno z baterií, nepotřebuje vaše připojení k internetu a díky tomu se může snadno přenášet. Stisknutím tlačítka se odešle přednastavená zpráva na určená telefonní čísla. </p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/button.svg" class="w-25 mt-10 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>

        <div class="row pb-50 align-items-center">
            <div class="col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/connect.svg" class="w-100 movingObject movingObject--noShadow" alt="" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">Komu jsou služba a&nbsp;tlačítko určeny?</h2>
                <p class="font-20 font-lnh30">Chceme pomoci zejména osamělým lidem a ulehčit jim situace, kdy si potřebují přivolat pomoc, například nakoupit. Stisknutí tlačítka je mnohem jednodušší, než volání, přináší mnohem méně stresu a hlavně funguje i v případě dočasného přetížení telefonních linek.</p>
            </div>
        </div>

        <div class="row pb-0 align-items-center">
            <div class="order-2 order-lg-1 col-12 col-lg-6 text-center text-lg-left">
                <h2 class="font-40 font-md-56 font-md-lnh56 font-weight-black pb-30">A jak dále?</h2>
                <p class="font-20 font-lnh30">V případě potřeby jsme schopni tlačítko napojit i na jiné asistenční služby a pulty centrální ochrany, dokážeme také službu nastavit jako notifikace v chytrém telefonu. </p>
            </div>
            <div class="order-1 order-lg-2 col-12 col-lg-6 text-center">
                <img loading="lazy" src="/_assets/images/cloud.svg" class="w-50 movingObject movingObject--noShadow" alt="" />
            </div>
        </div>
      </div>
</section>

        <section>
          <div class = "container" id = "order">
          <div class="row justify-content-center">
            <div class="pt-10 pt-md-60 col-12 col-md-7 text-center">
              <h2 class="font-32 font-md-54 font-md-lnh56 font-weight-black pb-30">
                Zaregistrujte se
              </h2>
              <p class="font-20 font-lnh30 pt-5 pb-20">
                Pokud vás naše služba zaujala, tak se prosím zaregistrujte a my se vám obratem ozveme a domluvíme se na nastavení a doručení tlačítka.
              </p>

            </div>
            <div class=" col-12 col-md-6 text-center">
              <div class = "pb-20">
                <a href="#" class="getOffer font-lnh24 py-15 px-20 px-md-40 d-inline-block font-weight-bold font-font2 font-white bg-red">Chci tlačítko</a>
              </div>

              <img loading="lazy" src="/_assets/images/button.svg" class="w-25 mt-20 movingObject" alt="" />

            </div>
          </div>
          </div>



          <div id = "offerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">{{ i18n "interested_in_chester" }}</h2>
                      </div>
                      <div class="col-md-8 text-center">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                          hbspt.forms.create({
                        	portalId: "5453210",
                        	formId: "68e0201e-eb86-49e8-8170-2d68345ad148"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>


<section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="pt-10 col-12 col-md-7 text-center">
                    <p class="font-18 pt-5 pb-20">Služba Zmackni.to je bezplatná také díky podpoře našich investorů a společností Vodafone Czech Republic a.s. a České Radiokomunikace a.s.. Moc vám děkujeme!</p>
                </div>
            </div>
        </div>
</section>



        <div id = "pricelistModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <h2 class = "font-30 font-md-42 pt-50 pb-50 font-weight-black text-center">{{ i18n "get_chester_pricelist" | safeHTML }}</h2>
                      </div>
                      <div class="col-md-8 text-center">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script>
                          hbspt.forms.create({
                        	portalId: "5453210",
                        	formId: "ac1f84ad-0918-452b-8d44-926c39a9d2aa"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script type="text/javascript">
            $('.getOffer').click(function(){
              $('#offerModal').modal({
                keyboard: false
              })
            });

          </script>


        <footer>

{{ end }}
